<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee-management/loan-history">Back</button>


    <mat-card class="mt-4">
<form action="" [formGroup]="receiveForm">
    <div class="row form-group">
        <div class="col-md-3 form-group">
            <label for="" class="text-center">
                <b>EMI Amount</b>
            </label>
            <input type="number" class="form-control" placeholder="Emi Amount">
        </div>
        <div class="col-md-3 form-group">
            <label for="" class="text-center">
                <b>Amount Pending:</b>
            </label>
          <input type="number" class="form-control" placeholder="Amount Pending">
               
        </div>
        <div class="col-md-3 form-group">
            <label for="" class="text-center">
                <b>Enter EMI Receiving Amount:</b>
            </label>
            <input type="number" class="form-control" formControlName="amount" placeholder="$ 0.00">
        </div>
        <div class="col-md-3 form-group" >
            <button class="btn btn-success" [disabled]="!receiveForm.valid" (click)="onReceive()">Receive</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="">Note:</label>
        </div>
     <div class="col-md-6">
        <input type="text" class="form-control" placeholder="(optional)">
     </div>
     
    </div>
</form>
    </mat-card>
    </div>