<div class="container">
  <mat-card class="mt-2">
    <h5>Employee Management</h5>
  </mat-card>

  <mat-card class="mt-4">
    <mat-tab-group>

        <!-- ROLES TABS -->
        <mat-tab label="Roles">
            <!-- button code -->
        <div class="row">
            <div class="col">
                <!-- create button -->
                <button mat-raised-button color="primary" class="ml-2" (click)="createRole()">
                    Create Role
                </button>


            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <p-table
                 [columns]="selectedColumns" 
                 [value]="rows"
                 sortMode="multiple"
                 [(selection)]="selected1"
                 [reorderableColumns]="true"

                #dt >

                <ng-template pTemplate="caption">

                    <mat-card>
                        <div class="row">
                            <div class="col float-right" style="text-align: left;">
                                <p-multiSelect 
                                pMultiselect 
                                [options]="cols" 
                                size="20" 
                                [(ngModel)]="selectedColumns"
                                optionLabel="header" 
                                [style]="{ minWidth: '200px' }" 
                                defaultLabel="Choose Columns"
                                selectedItemsLabel="{0} columns selected">
                            </p-multiSelect>
                            </div>
                           
                        </div>
                    </mat-card>
                    
                </ng-template>
                    <ng-template pTemplate="header" let-columns>

                        <div class="col-lg-4" style="text-align: right;">
                            <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                            <input type="text" pInputText size="35"  placeholder="Global Filter"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                        </div>
                        <!-- <tr>
                            <th>Role id</th>
                            <th>Role Name</th>
                            <th>Total Users</th>
                            <th>Role Access Points</th>
                            <th>Status</th>
                            <th>Created By and On</th>
                        </tr> -->

                        <tr>                        
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>

                      
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-columns="columns">
                        <!-- <tr>
                            <td>{{row.roleid}}</td>
                            <td>
                               <button class="edit-btn">{{row.roleName}}</button> 
                               <p-sortIcon [field]="row.roleName" ariaLabel="Activate to sort"
                               ariaLabelDesc="Activate to sort in descending order"
                               ariaLabelAsc="Activate to sort in ascending order">
                           </p-sortIcon>
                            </td>
                            <td>{{row.total_users}}</td>
                            <td>{{row.role_access_points}}</td>
                            <td >
                                <mat-slide-toggle [checked]="row.status"></mat-slide-toggle>
                            </td>
                            <td>{{row.created_by_on}}</td>
        
                        </tr> -->
                        <tr>
                            <td *ngFor="let col of columns" class="ui-resizable-column">

                                <div *ngIf="col.field == 'roleName'">
                                  <button class="edit-btn" (click)="navtoViewRole()"> {{row[col.field]}}</button> 
                                </div>
                               <div *ngIf="col.field == 'status'">
                                   
                                    <mat-slide-toggle [checked]="row[col.field]"></mat-slide-toggle>
                               </div>
                               <div *ngIf="col.field !== 'roleName' && col.field !=='status'">
                                {{row[col.field]}}
                               </div>
                              </td>
                        </tr>
                      
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- table -->
     
        </mat-tab>

      
        <mat-tab label="Users">


            <!-- 1st row  -->
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-4 text-center">
                    <mat-card class="bg-dark text-light">
                      <h5>Total Users</h5>  
                      <h6>52</h6>
                    </mat-card>
                   
                </div>
                <div class="col-md-4 text-center">
                    <mat-card class="bg-primary text-light">
                        <h5>Total User Active</h5>
                        <h6>47</h6>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
         
            <!-- 2nd row -->
            <div class="row mt-4">
                <div class="col-md-4">
                    <button mat-raised-button color="primary" (click)="onAddUser()">Add User</button>
                </div>
                <div class="col-md-4">
                    <!-- <button mat-raised-button>Create User</button> -->
                </div>
                <div class="col-md-4">
                    <!-- <button mat-raised-button>Create User</button> -->
                </div>
            </div>


            <!-- 3rd row table -->
            <div class="row mt-4">
                <div class="col">
                    <p-table
                    [value]="user_rows"
                    [columns]="userSelectedColumns"
                    sortMode="multiple"
                    [(selection)]="selected1"
                    [reorderableColumns]="true"
   
                   #ut >

                    <ng-template pTemplate="caption">
                        <mat-card>
                            <div class="row">
                                <div class="col float-right" style="text-align: left;">
                                    <p-multiSelect 
                                    pMultiselect 
                                    [options]="user_cols" 
                                    size="20" 
                                    [(ngModel)]="userSelectedColumns"
                                    optionLabel="header" 
                                    [style]="{ minWidth: '200px' }" 
                                    defaultLabel="Choose Columns"
                                    selectedItemsLabel="{0} columns selected">
                                </p-multiSelect>
                                </div>
                               
                            </div>
                        </mat-card>
                        
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>


                        <div class="col-lg-4" style="text-align: right;">
                            <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                            <input type="text" pInputText size="35"  placeholder="Global Filter"
                                (input)="ut.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                        </div>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" class="ui-resizable-column">
                                <!-- {{ row[col.field] }} -->
                                <div *ngIf="col.field=='empName'">
                                    <button class="edit-btn" (click)="navigatetoUserView()"> 
                                        {{row[col.field]}}
                                    </button>
                                </div>
                                <div *ngIf="col.field=='rating'">
                                    <p-rating [(ngModel)]="star"></p-rating>
                                </div>
                                <div *ngIf="col.field=='status'">
                                    <mat-slide-toggle [checked]="row[col.field]"></mat-slide-toggle>
                                </div>
                                <div *ngIf="col.field !=='empName' && col.field !=='status' && col.field !== 'rating'">
                                    {{row[col.field]}}
                                </div>

                              </td>
                        </tr>
                    </ng-template>
                    </p-table>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Salary">
    <!-- TILES CARD -->


    <div class="row mt-4">

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <mat-card style="width:160px;height:90px">
                <p>Febuary</p>
                <p>Current Month</p>
              </mat-card>
            </div>
            <div class="col-md-4">
              <mat-card style="width:160px;height:90px">
                <div class="row">
                  <div class="col">
                    <b class="text-c-green">Total salary payable for february</b>
                    <p class="text-muted m-b-0">{{total_active_roles}}</p>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-md-4">
              <mat-card style="width:160px;height:90px">
                <div class="row">
                  <div class="col">
                    <p class="text-c-orange">Total Salary payable for a month</p>
                    <p class="text-muted m-b-0">{{total_active_roles}}</p>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-md-4 mt-3">
              <mat-card style="width:160px;height:90px">
                <div class="row">
                  <div class="col">
                    <p class="text-c-orange">Total incentives payable for february</p>
                    <p class="text-muted m-b-0">{{total_active_roles}}</p>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-md-4 mt-3">
              <mat-card style="width:160px;height:90px">
                <div class="row">
                  <div class="col">
                    <p class="text-c-orange">Total Allowances payable for each month
                    </p>
                    <p class="text-muted m-b-0">{{total_active_roles}}</p>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-md-4 mt-3">
              <mat-card style="width:160px;height:90px">
                <div class="row">
                  <div class="col">
                    <p class="text-c-orange">Total deductions payable for each month</p>
                    <p class="text-muted m-b-0">{{total_active_roles}}</p>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>

        <div class="col-md-3">

          <!-- LOAN and SALARY HISTORY -->
          <div class="row mt-4">
            <div class="col">
              <button class="btn-sm btn-success" (click)="onLoanHistory()"> Loan History</button>

              <button class="btn-sm btn-success ml-2" (click)="onSalaryHistory()"> Salary History</button>
            </div>
          </div>

          <!-- ADD and PAY button -->
          <div class="row mt-4">
            <div class="col">
              <button class="btn-sm btn-primary"  [matMenuTriggerFor]="menu"> Add</button>

              <button class="btn-sm btn-warning ml-2" [matMenuTriggerFor]="paymenu"> Pay</button>
            </div>
          </div>

          <!-- CONTEXT MENU -->
          <div>
            <!-- ADD SALARY -->
            <mat-menu #menu="matMenu"width="120px">
                <div mat-menu-item (click)="onAddSalary()">Add Salary</div>
                <div mat-menu-item (click)="openAddDialog('allowance')">Add Allowances</div>
                <div mat-menu-item (click)="openAddDialog('deduct')">Add Deductions</div>
                <div mat-menu-item (click)="openAddDialog('incentive')">Add Incentives</div>
            </mat-menu>

            <!-- ADD PAY MENU -->
            <mat-menu #paymenu="matMenu" width="120px">
              <div mat-menu-item (click)="onPayLoan()" >Pay Loan</div>
              <div mat-menu-item (click)="onPaySalary()" >Pay Salary</div>
              <div mat-menu-item (click)="onPayAllowance()">Pay Allowances</div>
              <div mat-menu-item (click)="onPayDeduction()">Pay Deductions</div>
              <div mat-menu-item (click)="onPayIncentive()">Pay Incentives</div>
          </mat-menu>
          </div>

        </div>


      </div>




      <!-- SALARY -->
      <!-- Data Table   -->
      <div class="row mt-4">
        <mat-card>
          <p-table [columns]="salSeletedCols" [value]="rows_sal" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selectedSal1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>

            <!-- FILTER SEARCH -->
            <ng-template pTemplate="caption">
              <div class="row" style="text-align: left;">
                <div class="col-lg-4">
                  <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColSal"
                    optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                    selectedItemsLabel="{0} columns selected">
                  </p-multiSelect>
                </div>
                <div class="col-lg-4">
                  <h3>List of Salary Accont</h3>
                </div>
                <div class="col-lg-4" style="text-align: right;">
                  <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                  <input type="text" pInputText size="35" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                </div>

              </div>
            </ng-template>

            <!-- COLUMN HEADER -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em;">
                  <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                  {{ col.header }}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
              </tr>
              <tr>
                <th></th>
                <th *ngFor="let col of columns">
                  <input pInputText type="text"
                    (input)="dt.filter($event.target.value, col.field, 'contains')" />
                </th>
              </tr>
            </ng-template>

            <!-- Table Body -->
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td>
                  <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" class="ui-resizable-column">


                  <div *ngIf="col.field == 'staffName'">
                    <button class="custom-edit"  (click)="onViewSalary(rowData['staffName'])">
                      {{ rowData[col.field]}}
                    </button>
                  </div>
                  <div *ngIf="col.field !== 'staffName'">
                    {{ rowData[col.field]}}
                  </div>
                  <div *ngIf="col.field == 'action'">
                    <button class="btn-sm btn-primary">Add</button>
                    <button class="btn-sm btn-success mt-2" [matMenuTriggerFor]="paymenu" (click)="onSelectReceiptant(rowData['staffName'])">Pay</button>
                    <button class="btn-sm btn-warning mt-2" (click)="onReceiveEmi()">Receive EMI</button>
                  </div>

                </td>
              </tr>
            </ng-template>

            <!-- COLUMN fOOTER -->
            <ng-template pTemplate="footer" let-columns>
              <tr>
                <td style="width: 3em;">
                  <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                </td>
                <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </td>
              </tr>
            </ng-template>

            <!-- SUMMARY -->
            <ng-template pTemplate="summary">
              There are {{ rows?.length }} Roles

              <div class="row">
                <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                  {{ i + 1 }}. {{ a.staffName }} -- {{ a.role }} -- {{ a.status }}
                </div>
              </div>
            </ng-template>

          </p-table>
        </mat-card>

      </div>
        </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>