<div class="card" > 
    <div class="row mt-4">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
           <h4><label for="" class="text-center">Add Dish</label></h4> 
        </div>
        <div class="col-lg-4">

        </div>

    </div>
    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Select Type</b>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-{{isFood?'warning':'secondary'}}" (click)="onSelectType('food')">Food</button>
            <button class="btn btn-{{isBeverage?'warning':'secondary'}}" (click)="onSelectType('beverages')">Beverages</button>
            <button class="btn btn-{{isLiquor?'warning':'secondary'}}" (click)="onSelectType('liquor')">Liqour</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Sale</b>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-{{isForSale?'warning':'secondary'}}" (click)="onForSale('sale')">For Sale</button>
            <button class="btn btn-{{isNoSale?'warning':'secondary'}}" (click)="onForSale('nosale')">Not For Sale</button>
           </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Menu Name</b>
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Type</b>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-{{isFood?'warning':'secondary'}}" (click)="onSelectType('food')">Food</button>
            <button class="btn btn-{{isBeverage?'warning':'secondary'}}" (click)="onSelectType('beverages')">Beverages</button>
            <button class="btn btn-{{isLiquor?'warning':'secondary'}}" (click)="onSelectType('liquor')">Liqour</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Available for Menu Cards</b>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-{{isDineIn?'warning':'secondary'}}" (click)="onAvailMenuCard('dine')">Dine In</button>
            <button class="btn btn-{{isDelievery?'warning':'secondary'}}" (click)="onAvailMenuCard('delievery')">Own Delievery</button>
            <button class="btn btn-{{isSwiggy?'warning':'secondary'}}" (click)="onAvailMenuCard('swiggy')">Swiggy</button>
            <button class="btn btn-{{isZomatoDunzo?'warning':'secondary'}}" (click)="onAvailMenuCard('dunzo')">Dunzo & Zomato</button>
        </div>
    </div>

   

    <div class="row mt-4">
        <div class="col-lg-3 ml-2">
            <b>Size Group</b> <br>
            <b>Does this dish have sizes?
                </b>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-{{isDishSize?'warning':'secondary'}}" (click)="onDishSize('yes')">Yes</button>
            <button class="btn btn-{{isDishSize?'secondary':'warning'}}" (click)="onDishSize('no')">No</button>
        </div>
    </div>


    <!-- DISH GROUP SIZE -->
   
    <div *ngIf='!isDishSize' >

           <!-- OPTION NO. 2 HEERE -->
        <div [hidden]="!isOption2">
            <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Size Group Name</b>       
                </div>
                <div class="col-lg-6">
                 <input type="text" class="form-control">
                </div>
             </div>
    
    
             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Select Available Option</b>       
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-sm btn-{{a.active? 'warning':'secondary'}}" *ngFor="let a of availGroupSize" 
                    (click)="onselectSizeGroup(a)" > {{a.label}}</button>                
                </div>
             </div>
    
    
             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Options </b>       
                </div>
                <div class="col-lg-6">
                    <p-dropdown [options]="groupSize" ></p-dropdown> <button class="btn btn-sm btn-link ml-2">Add More...</button>
                </div>
             </div>
    
             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                        
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-danger" (click)="cancelOption2()">Cancel</button>
                    <button class="btn btn-primary ml-2" (click)="sizeGroupFormOption()">Next</button>
                </div>
             </div>
        </div>
        


        <!-- OPTION NO. 3 HERE -->
         <div [hidden]="isOption3">
            <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Do you want to charge extra for Size Options?</b>       
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-{{isDishSize?'warning':'secondary'}}" (click)="onDishSize('yes')">Yes</button>
                    <button class="btn btn-{{isDishSize?'secondary':'warning'}}" (click)="onDishSize('no')">No</button>
                </div>
             </div>
    
    
             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Put Prices for menu cards</b>       
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-{{isDineIn?'warning':'secondary'}}" (click)="onAvailMenuCard('dine')">Dine In</button>
                    <button class="btn btn-{{isDelievery?'warning':'secondary'}}" (click)="onAvailMenuCard('delievery')">Own Delievery</button>
                    <button class="btn btn-{{isSwiggy?'warning':'secondary'}}" (click)="onAvailMenuCard('swiggy')">Swiggy</button>
                    <button class="btn btn-{{isZomatoDunzo?'warning':'secondary'}}" (click)="onAvailMenuCard('dunzo')">Dunzo & Zomato</button>
                       
                </div>
             </div>
    
            
               <div class="row mt-4 " >
                <div class="col-lg-12 ml-2">
                    <table border=1>
                        <tr>
                            <th>"Quantity" Options</th>
                            <th>Prices</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>300 ml</td>
                            <td><input type="number" class="form-control" value="40"></td>
                            <td> <mat-slide-toggle></mat-slide-toggle>
                           </td>
                        </tr>
                        <tr>
                            <td>400 ml</td>
                            <td><input type="number" class="form-control" value="50"></td>
                            <td><mat-slide-toggle></mat-slide-toggle></td>
                        </tr>
                    </table>
                </div>
             </div>

             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                 <b> Put Prices for menu cards</b>       
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-{{isDineIn?'warning':'secondary'}}" (click)="onAvailMenuCard('dine')">Dine In</button>
                    <button class="btn btn-{{isDelievery?'warning':'secondary'}}" (click)="onAvailMenuCard('delievery')">Own Delievery</button>
                    <button class="btn btn-{{isSwiggy?'warning':'secondary'}}" (click)="onAvailMenuCard('swiggy')">Swiggy</button>
                    <button class="btn btn-{{isZomatoDunzo?'warning':'secondary'}}" (click)="onAvailMenuCard('dunzo')">Dunzo & Zomato</button>                         
                </div>
             </div>

             <div class="row mt-4 " >
                <div class="col-lg-12 ml-2">
                    <table border=1>
                        <tr>
                            <th>"Quantity" Options</th>
                            <th>Prices</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>300 ml</td>
                            <td><input type="number" class="form-control" value="40"></td>
                            <td> <mat-slide-toggle></mat-slide-toggle>
                           </td>
                        </tr>
                        <tr>
                            <td>400 ml</td>
                            <td><input type="number" class="form-control" value="50"></td>
                            <td><mat-slide-toggle></mat-slide-toggle></td>
                        </tr>
                    </table>
                </div>
             </div>

             <div class="row mt-4 " >
                <div class="col-lg-3 ml-2">
                        
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-danger" (click)="cancelOption3()">Back</button>
                    <button class="btn btn-primary ml-2" >Next</button>
                </div>
             </div>
            
         </div>
    </div>
   

    <!-- ***************************WHEN SIZE GROUP SELECTION IS YES*********************************** -->

    <div *ngIf='isDishSize'>
        <div class="row mt-4 ml-2" >
            dish add continue
         </div>
    </div>
    
</div>