.card-div{
    width: 14rem;
    border-radius: 25px;
    background-color: #87bd83;
}
.product{
    margin-bottom: 3px;
}
.fa-1x {
    font-size: 1.5em !important;
}
.mat-expansion-panel-body{
    padding: 0 !important;
}