<kt-notice>
    <div class="d-flex align-items-center justify-content-between">
        Suppliers Dashboard
        <div>
            <button type="button" class="btn btn-primary" (click)="navigateToAdd()">Add Suppliers</button>
        </div>
    </div>
</kt-notice>
<kt-notice>
    <div class="d-flex justify-content-center">
        <div class="card ml-2 mr-2 card-div text-white">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> 
        <div class="card ml-2 mr-2 card-div text-white">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> 
        <div class="card ml-2 mr-2 card-div text-white">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> 
    </div>

    <div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Dmart" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
                <!-- Supplier Code -->
                <ng-container matColumnDef="Supplier Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier Code </th>
                    <td mat-cell *matCellDef="let row" (click)=gotoviewEdit(row.supplierId)> {{row.supplierId}} </td>
                </ng-container>

                <!-- Supplier Name -->
                <ng-container matColumnDef="Supplier Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.supplierDetails.supplierName}} </td>
                </ng-container>
                
                <!-- City -->
                <ng-container matColumnDef="City">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                    <td mat-cell *matCellDef="let row"> {{row.supplierDetails.city}} </td>
                </ng-container>

                <!-- Supplier Contact Details -->
                <ng-container matColumnDef="Contact Details">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier Contact Details </th>
                    <td mat-cell *matCellDef="let row"> 
                        <div class="product">          
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Supplier Contact Details
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-container *ngFor="let item of row.supplierDetails.supplierContactNo">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                                                <div>{{item.contactNo}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                    <ng-container *ngFor="let item of row.supplierDetails.supplierEmail">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></div>
                                                <div>{{item.email}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                    <ng-container *ngFor="let item of row.supplierDetails.supplierWhatsappNo">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i  class="fab fa-whatsapp fa-1x" style="color: #fff; background:
                                                    linear-gradient(#25d366,#25d366)10px 0%/0px 18px no-repeat,
                                                    radial-gradient(#25d366 59%,transparent 0)"></i></div>
                                                <div>{{item.whatsappNo}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </td>
                </ng-container>

                <!-- Contact Person Contact -->
                <ng-container matColumnDef="Contact Person Details">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person Number </th>
                    
                    <td mat-cell *matCellDef="let row"> 
                        <div class="product">          
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Contact Person Details
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="text-center">{{ row.contactPersonDetails.contactPersonName }} - {{ row.contactPersonDetails.contactPersonDesignation }}</div>
                                    <ng-container *ngFor="let item of row.contactPersonDetails.contactPersonNo">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                                                <div>{{item.contactNo}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                    <ng-container *ngFor="let item of row.contactPersonDetails.contactPersonEmail">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i></div>
                                                <div>{{item.email}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                    <ng-container *ngFor="let item of row.contactPersonDetails.contactPersonWhatsappNo">    
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-between" style="width: 80%;">
                                                <div><i  class="fab fa-whatsapp fa-1x" style="color: #fff; background:
                                                    linear-gradient(#25d366,#25d366)10px 0%/0px 18px no-repeat,
                                                    radial-gradient(#25d366 59%,transparent 0)"></i></div>
                                                <div>{{item.whatsappNo}}</div>
                                            </div><br>                                                
                                        </div>
                                    </ng-container>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </td>
                </ng-container>

                <!-- GST No -->
                <ng-container matColumnDef="GST Number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GST Number </th>
                    <td mat-cell *matCellDef="let row"> {{row.supplierDetails.gstNo}} </td>
                </ng-container>

                <!-- Category -->
                <ng-container matColumnDef="Category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let row"> 
                        <!-- {{ row.supplierDetails.dealCategory[0].subsubcategorytypename }} and {{ row.supplierDetails.dealCategory.length() }}  -->
                        <div class="product">          
                            <ng-container *ngFor="let item of row.supplierDetails.dealCategory; let i=index">    
                                    <br>
                                    
                                    <li *ngIf="i === 0" style="list-style: none;"> 
                                        <mat-accordion class="example-headers-align" multi>
                                            <mat-expansion-panel>
                                              <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{item.subsubcategorytypename}} <div *ngIf="(row.supplierDetails.dealCategory.length-1) !== 0">& {{row.supplierDetails.dealCategory.length - 1}} other categories</div>
                                                </mat-panel-title>
                                              </mat-expansion-panel-header>
                                              <ul>
                                                <ng-container *ngFor="let data of row.supplierDetails.dealCategory; let j=index">
                                                        <div class="pl-5 mb-3"><li>{{data.subsubcategorytypename}}</li></div>
                                                </ng-container>
                                              </ul>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </li>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <!-- Ratings -->
                <ng-container matColumnDef="Ratings">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ratings </th>
                    <td mat-cell *matCellDef="let row"> </td>
                </ng-container>

                <!-- Feedback -->
                <ng-container matColumnDef="Feedback">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Feedback </th>
                    <td mat-cell *matCellDef="let row"> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </table>
        </div>
    </div>
</kt-notice>