<div class="card">
  <div class="row mt-2 mb-2 mr-4">
    <div class="col">

    </div>
    <div class="col">
      <button class="btn btn-primary float-right" routerLink="/purchase-order/raising-po">Raise PO</button>
    </div>
  </div>
</div>


<div class="card mt-4">
  <p-table [value]="purchaseOrderList" styleClass="p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px;">Sr No.</th>
        <th style="width: 100px;">Date</th>
        <th style="width: 100px;">Outlet</th>
        <th style="width: 100px;">PO Number</th>
        <th style="width: 100px;">Supplier</th>
        <th style="width: 110px;">Material/Products</th>
        <th style="width: 150px;">Expected Delivery Date</th>
        <th style="width: 100px;">Status</th>
        <th style="width: 100px;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-ri="rowIndex">
      <tr>
        <td>{{ri+1}}</td>
        <td>{{row.date}}</td>
        <td>{{row.outlet}}</td>
        <td>
          <button class="grButton" #GRopen (click)="showGR = true; goodReceive(row)">
            {{row.poNumber}}
          </button>

        </td>
        <td>{{row.supplier}}</td>
        <td>{{row.data.length}}</td>
        <td><input type="date" [(ngModel)]="row.expected_date" (change)="testdate(row.expected_date)" class="form-control"></td>
        <td>
          <div *ngIf="row.status=='draft'">
            <b>Draft</b>
          </div>
          <div *ngIf="row.status=='approve'">
            <b>Approved</b>
          </div>
          <div *ngIf="row.status=='submitted'">
            <b>Submitted</b>
          </div>
          <div *ngIf="row.status=='receiving'">
            <b>Receiving</b>
          </div>
          <div *ngIf="row.status=='inreview'">
            <b>In Review</b>
          </div>
          <div *ngIf="row.status=='closed'">
            <b>Closed</b>
          </div>
        </td>
        <td>
          <div *ngIf="
                    row.status !== 'draft' &&
                    row.status !== 'submitted' &&
                    row.status !== 'inreview' &&
                    row.status !== 'closed' 
                    ">
            <button>
              Notify Vendor
            </button>
          </div>

          <div *ngIf="
                    row.status !== 'receiving' &&
                    row.status !== 'approve' &&
                    row.status !== 'submitted' &&
                    row.status !== 'inreview' &&
                    row.status !== 'closed' 
                    ">
            <button>
              Submit
            </button>
          </div>

          <div *ngIf="
                      row.status !== 'draft' &&
                      row.status !== 'approve' &&                      
                      row.status !== 'receiving' &&
                      row.status !== 'closed' 
                      ">
            <button>
              Approve
            </button>
          </div>

          <div *ngIf="
                      row.status !== 'draft' &&
                                           
                      row.status !== 'receiving' &&
                      row.status !== 'closed' 
                      ">
            <button>
              Cancel
            </button>
          </div>

          <div *ngIf="
                      row.status !== 'receiving' &&
                      row.status !== 'approve' &&
                      
                      row.status !== 'inreview' &&
                      row.status !== 'closed' 
                      ">
            <button>
              Delete
            </button>
          </div>

          <div *ngIf="
                      
                      row.status !== 'closed' 
                      ">
            <button>
              Edit
            </button>
          </div>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>



<!-- ########################### SIDE NAV BAR GOOD RECEIVE CODE -->
<p-sidebar [(visible)]="showGR" appendTo="body"  position="right" [style]="{width:'800px','overflow': 'scroll'}">
  <div class="container">

    <div class="text-center">
      <h4>Goods Received</h4>
    </div>
    <div class="card mt-4">
      <div class="row ">
        <div class="col ">
          <table class="table table-bordered">
            <tr>
              <th>Status</th>
              <th>{{goodReceiveArr.status}}</th>
            </tr>
          </table>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">{{goodReceiveArr.supplier}}</td>
            <td colspan="3">Address</td>
          </tr>
          <tr>
            <td colspan="2">Email Address</td>
            <td>Contact</td>
          </tr>
          <tr>
            <td>{{goodReceiveArr.poNumber}}</td>
            <td>Date Approved</td>
            <td>Approved & Created by</td>
            <td>Number of Items: {{itemsLen}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class=" card mt-4">
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>
              <b>Value of the Goods</b>
            </td>
            <td>
             <b>Total Value: </b> {{totalValue}}
          </td>
            <td colspan="3">
              <!-- INTERNAL TABLE FOR BUTTONS-->
              <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td> <button class="btn btn-sm btn-primary"> <i class="pi pi-plus ml-1"></i>
                      Add Free Item </button> </td>
                    <td> <button class="btn btn-sm btn-primary"> <i class="pi pi-pencil ml-1"></i> Edit Po </button></td>
                  </tr>
                  <tr>
                    <td> <button class="btn btn-sm btn-primary" (click)="adds.toggle($event)">  <i class="pi pi-plus ml-1"></i> Add to Stock </button></td>
                    <td> <button class="btn btn-sm btn-danger">  <i class="pi pi-times-circle ml-1"></i> Return / Report Stock</button></td>
                    <td> <button class="btn btn-sm btn-success"> <i class="pi pi-dollar ml-1"></i> Pay the vendor </button></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <b>Paid</b>
            </td>
            <td>1 <i class="pi pi-info-circle float-right" (click)="item.toggle($event)" style="font-size: larger;"></i>
            </td>
          </tr>         
          <tr>
            <th>Item</th>
            <th>Ordered</th>
            <th>Added to Stock</th>
            <th>Returned</th>
            <th>Expected Delievery</th>
          </tr> 
          <tr *ngFor="let goods of goodReceiveArr.data">
            <td>{{goods.material}} {{goods.product}}</td>
            <td>{{goods.orderQuantity}} {{goods.unit}}</td>
            <td>1 <i class="pi pi-info-circle float-right" (click)="info.toggle($event)" style="font-size: larger;"></i>
            </td>
            <td>1 <i class="pi pi-info-circle float-right" (click)="info1.toggle($event)"
                style="font-size: larger;"></i> </td>
            <td>
              {{goodReceiveArr.expected_date | date: 'dd/MM/yyyy'}}
            </td>
          </tr>         
        </tbody>
      </table>
    </div>
    <div class='card mt-4'> 
      <div>
       <b> Additional Tables</b>
      </div>
    
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Ordered</th>
            <th>Added to Stock</th>
            <th>Returned</th>
            <th>Expected Delievery</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- ###################OVERLAY ADDS -->
  <p-overlayPanel #adds [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>111111111111</th>
            <th>111111111111</th>
            <th>111111111111</th>
            <th>111111111111</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </p-overlayPanel>

  <!-- ####################INFO OVERLAY -->

  <p-overlayPanel #info [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate>
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">111111111</td>
            <td>11111111111</td>
          </tr>
          <tr>
            <td>111111111</td>
          </tr>
          <tr>
            <td colspan="2">11111111111</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </p-overlayPanel>

  <!-- ####################INFO OVERLAY 1-->

  <p-overlayPanel #info1 [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate>
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">111111111</td>
            <td>11111111111</td>
          </tr>
          <tr>
            <td>111111111</td>
          </tr>
          <tr>
            <td colspan="2">11111111111</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </p-overlayPanel>

  <!-- ####################INFO OVERLAY 1-->

  <p-overlayPanel #item [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate> item content </ng-template>
  </p-overlayPanel>
</p-sidebar>


