/* Style buttons */
.buttonload {
    background-color: #5867DD; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    // padding: 12px 16px; /* Some padding */
    // font-size: 16px /* Set a font size */
  }



  .example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  
  .example-list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 6px 0;
  }
  
  .example-list > li:last-child {
    border-bottom: none;
  }
  

  .grButton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }