<div class="container">
    
    <mat-card>
        <form action="javascript:" [formGroup]="userForm">
           

            <!-- hr -->
            <!-- pERSONAL DETAILS CODE -->
            <h5 class="mt-4">Personal Details:</h5>
            <hr>
            <div class="row mt-3">
                <div class="col-md-1"></div>
                <div class="col-md-10">


                    <!-- Role ID -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Role </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="firstName"
                                placeholder="Role Name">
                        </div>
                    </div>

                    <!-- Access control ID -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Edit Access Control</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="firstName"
                                placeholder="Set Access Conntrol">
                        </div>
                    </div>


                    <!-- Employee Name -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="firstName"
                                placeholder="First Name">
                        </div>
                    </div>

                    <!-- Middle Name -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Middle Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="middleName"
                                placeholder="Middle Name">
                        </div>
                    </div>

                    <!-- Middle Name -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                        </div>
                    </div>

                    <!-- Contact Number -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Contact Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="contact"
                                placeholder="Contact Number">
                        </div>
                    </div>

                    <!-- Email Id -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="emailId" placeholder="Email Id">
                        </div>
                    </div>

                    <!-- Photo -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Photo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="photo" placeholder="Photo">
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="address" placeholder="Address">
                        </div>
                    </div>

                    <!-- Communication Address -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Communication Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="comm_address"
                                placeholder="Communication Address">
                        </div>
                    </div>

                    <!-- Gender -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Gender</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
                        </div>
                    </div>

                    <!-- Birth Date -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Birth Date</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="dob" placeholder="Birth Date">
                        </div>
                    </div>

                    <!-- Blood Group -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Blood Group</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="blood_grp"
                                placeholder="Blood Group">
                        </div>
                    </div>

                    <!-- Martial Status -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Martial Status</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="marital_staus"
                                placeholder="Martial Status">
                        </div>
                    </div>

                    <!-- Father's/Husband's Name -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Father's/Husband's Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="father_husband_name"
                                placeholder="Father's/Husband's Name">
                        </div>
                    </div>

                    <!-- Mother's Name -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Mother's Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="mother_name"
                                placeholder="Mother's Name">
                        </div>
                    </div>

                    <!-- Emergency Contact -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Emergency Contact</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="emergency"
                                placeholder="Emergency Contact">
                        </div>
                    </div>

              

                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>


            <!-- WORKS DETAILS CODE -->
            <h5 class="mt-4">Work Details:</h5>
            <hr>
            <div class="row mt-3">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                 
                    <!--Work Schedule-->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Work Schedule</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="work_schedule"
                                placeholder="Work schedule">
                        </div>
                    </div>

                      <!-- Employee responsibilities -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Employee responsibilities</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="emp_responsibility"
                                placeholder="Employee responsibilities">
                        </div>
                    </div>

                      <!-- Non-disclosure agreements -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Non-disclosure agreements</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="no_disclosure"
                                placeholder="Non-disclosure agreement">
                        </div>
                    </div>

                      <!--Sanction Leaves -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Sanction Leaves</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="sanction_leave"
                                placeholder="Sanction Leaves">
                        </div>
                    </div>


                </div>
                <div class="col-md-1"></div>
            </div>

            <hr>


            <!-- Bank and Payment Details -->
            <h5 class="mt-4">Bank and Payment Details:</h5>
            <hr>
            <div class="row mt-3">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                 
                    <!--Account Number-->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Account Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="account_no"
                                placeholder="Account Number">
                        </div>
                    </div>

                      <!-- Account Type -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Account Type</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="emp_responsibility"
                                placeholder="Account Type">
                        </div>
                    </div>

                      <!-- Bank Name -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Bank Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="bank_name"
                                placeholder="Bank Name">
                        </div>
                    </div>

                      <!--Branch city -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Branch City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="bank_city"
                                placeholder="Branch City">
                        </div>
                    </div>

                      <!--Branch Address -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Branch Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="bank_address"
                                placeholder="Branch Address">
                        </div>
                    </div>


                      <!--IFSC Code -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">IFSC Code</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="bank_ifsc_code"
                                placeholder="IFSC Code">
                        </div>
                    </div>

                    <!-- Salary -->
                  
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Salary</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="salary"
                                placeholder="Salary">
                        </div>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>

            <hr>


            <!-- Documents -->
            <h5 class="mt-4">Documents:</h5>
            <hr>
            <div class="row mt-3">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                       <!--Aadhar Card Number-->
                       <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Aadhar Card Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="aadhar"
                                placeholder="Aadhar Card Number">
                        </div>
                    </div>

                      <!--Driving License-->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Driving License</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="driving_lic"
                                placeholder="Driving License">
                        </div>
                    </div>

                      <!--Passport -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Passport</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="passport"
                                placeholder="Passport">
                        </div>
                    </div>

                    
                      <!--Legal Doc Name -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Legal Document Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="legal_docName"
                                placeholder="Legal Document Name">
                        </div>
                    </div>

                    <!-- Legal Document -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Legal Document</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="legal_doc"
                                placeholder="Legal Document">
                        </div>
                    </div>

                        <!-- Date of Joining -->
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label"> Date of Joining</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="doj"
                                    placeholder=" Date of Joining">
                            </div>
                        </div>

                        <!-- Assigned City -->
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Assigned City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="assigned_city"
                                    placeholder="Assigned City">
                            </div>
                        </div>

                             <!-- Assigned Locality -->
                             <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Assigned Locality </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="assigned_loc"
                                        placeholder="Assigned Locality ">
                                </div>
                            </div>

                              <!-- Joining Letter -->
                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Joining Letter </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="join_letter"
                                        placeholder="Joining Letter">
                                </div>
                            </div>

                             
                </div>
                <div class="col-md-1">
                    
                </div>
            </div>
            <hr>

             <!-- Assets -->
             <h5 class="mt-4">Assets:</h5>
             <hr>
             <div class="row mt-3">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                      <!--Asset Provided  -->
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Asset Provided </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="asset_provided"
                                placeholder="Asset Provided ">
                        </div>
                    </div>

                     <!--Asset Name  -->
                     <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Asset Name </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="asset_name"
                                placeholder="Asset Name ">
                        </div>
                    </div>

                     <!--Asset Description  -->
                     <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Asset Description </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="asset_desc"
                                placeholder="Asset Description ">
                        </div>
                    </div>

                     <!--Asset Quantity  -->
                     <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Asset Quantity </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="asset_quantity"
                                placeholder="Asset Quantity ">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    
                </div>
            </div>
             <hr>

              <!--Credentials -->
            <h5 class="mt-4">Credentials:</h5>
            <hr>
            <div class="row mt-3">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                       <!--Auto Generated Login Id  -->
                       <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Auto Generated Login Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="gen_loginId"
                                placeholder="Auto Generated Login Id">
                        </div>
                    </div>

                     <!--Auto Generated Password  -->
                     <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Auto Generated Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="gen_password"
                                placeholder="Auto Generated Password">
                        </div>
                    </div>


                    <!-- SAVE USER BUTTON -->
                    <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success" [disabled]="!this.userForm.valid"
                                (click)="saveUser()">Save User</button>
                        </div>
                        <div class="col-sm-3">

                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    
                </div>
            </div>
            <hr>
        </form>

       
    </mat-card>
</div>