<h1>Add an Equipment</h1>
<div>
    <form [formGroup]="addEquipmentForm">
        <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Equipment Name" formControlName="equipment_name"> 
                </mat-form-field>
    
            </div>
        
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Select Category</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul id="myUL">
                    <li *ngFor="let rootCategory of allAssetInventoryCategory"><span class="caret"
                            (click)="caretClick()">
                            {{rootCategory.rootCategoryName}}
                        </span>

                        <ul class="nested">

                            <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret"
                                    (click)="caretClick()">
                                    {{subCategory.subCategoryName}}
                                </span>
                                <ul class="nested">
                                    <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                                            (click)="caretClick()">
                                            {{subSubCategory.subSubCategoryName}}
                                        </span>
                                        <ul class="nested">

                                            <li *ngFor="let type of subSubCategory.subSubCategoryType">
                                                <span>
                                                    <input type="radio" name="category" [value]="type"
                                                        formControlName="category">
                                                    {{type}}
                                                </span>
                                            </li>
                                            <i class="fa fa-plus mb-2"
                                                (click)="openInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                                aria-hidden="true"> Add Sub Sub Category Type</i>
                                        </ul>
                                    </li>
                                    <i class="fa fa-plus mb-2"
                                        (click)="openInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                                        aria-hidden="true">
                                        Add Sub Sub Category</i>
                                </ul>
                            </li>
                            <i class="fa fa-plus mb-2" (click)="openInventorySubCategoryDialog(rootCategory._id)"
                                aria-hidden="true"> Add
                                Sub Category</i>
                        </ul>
                    </li>
                    <i class="fa fa-plus mb-2" (click)="openInventoryRootCategoryDailog()" aria-hidden="true"> Add Root
                        Category</i>

                </ul>
            </div>
        </div>
    
    </form>
</div>
<div>
    <button (click)="onNoClick()">Cancel</button> &nbsp;
    <button (click)="addequipment()">Add</button>
</div>