<kt-notice>
    <div class="d-flex justify-content-between">
        <label class="d-flex align-self-center">Purchase Order</label>
        <button type="button" class="btn btn-primary ml-2"
          (click)="open(mymodal)">Raise a PO</button>
     </div>     
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-12">
            <mat-tab-group>
                <mat-tab label="Draft ({{totalRowsForDraft}})">
                    <div class="abc">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>

                            <table mat-table [dataSource]="Draft_dataSource" class="mat-elevation-z8"
                                style="width: 100%;"> 

                                <!-- Position Column -->
                                <ng-container matColumnDef="estimateddeliverytime">
                                    <th mat-header-cell *matHeaderCellDef> Expected Delivery Range </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">                  
                                               <br><li  style="list-style: none;">{{item.estimateddeliverytime}}       
                                               </li>          
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="supplierName">
                                    <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierDetails.supplierName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierDetails.supplierContactNo.contactNo}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container  matColumnDef="materialName">
                                    <th mat-header-cell *matHeaderCellDef> Material Name</th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">    
                                                    <br><li  style="list-style: none;"> {{item.materialName}}
                                                    </li>  
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                    <ng-container  matColumnDef="orderQty">
                                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div class="product">          
                                                <ng-container  *ngFor="let item of element.product">    
                                                    <br><li  style="list-style: none;">{{item.orderQty}}
                                                    </li>
                                                        
                                                </ng-container>
                                              </div>
                                        </td>
                                    
                                    </ng-container>


                                <!-- Weight Column -->
                                 <ng-container matColumnDef="totalpurchaseprice">
                                    <th mat-header-cell *matHeaderCellDef> Total Bill Amount </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">   
                                              <br><li style="list-style: none;">
                                                    <i  *ngIf= "item.totalpurchaseprice" class="fa fa-inr" aria-hidden="true" ></i> 
                                                     {{item.totalpurchaseprice}}        
                                              </li>
                                            </ng-container>
                                          </div>
                                         </td>
                                </ng-container>
 
                                <!-- Weight Column -->
                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-slide-toggle [checked]="element.Status"></mat-slide-toggle>
                                    </td>
                                </ng-container> 

                                <!-- Weight Column -->
                                 <ng-container matColumnDef="Modified">
                                    <th mat-header-cell *matHeaderCellDef> Modified </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Modified}} </td>
                                </ng-container>
 
                                <!-- Weight Column -->
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">

                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">          
                                               <br><li style="list-style: none;">
                                                <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(element.purchaseorderId,item._id)"
                                                style="color:red;"> </i>
                                               </li> 
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                            </table> 
                            <mat-paginator #draft_paginator [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@ Submitted / In Review start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Submitted / In Review({{totalRows}})" >
                    <div class="def">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>

                            <table mat-table [dataSource]="Submit_dataSource" class="mat-elevation-z8"
                                style="width: 100%;">
                                
                                <!-- Position Column -->
                                <ng-container matColumnDef="purchaseorderId">
                                    <th mat-header-cell *matHeaderCellDef> PO Number</th>
                                    <td mat-cell *matCellDef="let element">
                                      
 <a class="text-gray font-xs text-500 text-underline" href="javascript:void(0)" (click)="onClickOpenViewEdit(element)">{{element.purchaseorderId}}</a>

                                        </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="supplierName">
                                    <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierDetails.supplierName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <!-- <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierDetails.supplierContactNo.contactNo}} </td>
                                </ng-container> -->

                                <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container *ngFor="let item of element.purchaseOrder.supplierId.supplierDetails.supplierContactNo">    
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex justify-content-between" style="width: 80%;">
                                                        <div>{{item.contactNo}}</div>
                                                    </div><br>                                                
                                                </div>
                                            </ng-container>
                                        </div>
                                    </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container  matColumnDef="materialName">
                                    <th mat-header-cell *matHeaderCellDef> Material Name</th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">    
                                                    <br><li  style="list-style: none;"> {{item.materialName}}
                                                    </li>  
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                    <ng-container  matColumnDef="orderQty">
                                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div class="product">          
                                                <ng-container  *ngFor="let item of element.product">    
                                                    <br><li  style="list-style: none;">{{item.orderQty}}
                                                    </li>
                                                        
                                                </ng-container>
                                              </div>
                                        </td>
                                    
                                    </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="totalpayble">
                                    <th mat-header-cell *matHeaderCellDef> Total Bill Amount </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.totalpayble">   
                                              <br><li style="list-style: none;">
                                                    <i  *ngIf= "item.totalpayble" class="fa fa-inr" aria-hidden="true" ></i> 
                                                     {{item.totalpayble}}        
                                              </li>
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="estimateddeliverytime">
                                    <th mat-header-cell *matHeaderCellDef> Expected Delivery Range </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">                  
                                               <br><li  style="list-style: none;">{{item.estimateddeliverytime}}       
                                               </li>          
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                            <!--     <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-slide-toggle [checked]="element.Status">
                                        </mat-slide-toggle>
                                    </td>
                                </ng-container> -->



                                <!-- Weight Column -->
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">

                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">          
                                               <br><li style="list-style: none;">
                                                <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(element.purchaseorderId,item._id)"
                                                style="color:red;"> </i>
                                               </li> 
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>
                                <!-- Weight Column -->
                                <ng-container matColumnDef="Activity">
                                    <th mat-header-cell *matHeaderCellDef> Activity </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <ng-container  *ngFor="let item of element.product">          
                                            <br><li style="list-style: none;">
                                                <div class="d-flex justify-content-center">
                                                    <i class="fa fa-info-circle text-info clickable icon" aria-hidden="true"  [ngbPopover]="customerNotes"
                                                   style="color:  #17a2b8 !important;"> </i>
                                                </div>
                                            </li> 
                                            <ng-template #customerNotes>
                                                
                                                    createdAt: {{element.createdAt}},
                                                    createdBy:{{element.createdBy}}
                                                
                                            </ng-template>
                                         </ng-container>
                                     </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="submitDisplayedColumns"></tr>  
                                <tr mat-row *matRowDef="let row; columns: submitDisplayedColumns;" ></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@ Approved start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Approved ({{totalRowsForApproved}})">
                    <div class="pqr">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field> 

                            <table mat-table [dataSource]="Approved_dataSource" class="mat-elevation-z8"
                                style="width: 100%;">
 
                                <!-- Position Column -->
                               <ng-container matColumnDef="purchaseorderId">
                                    <th mat-header-cell *matHeaderCellDef>PO Number</th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseorderId}} </td>
                                </ng-container>
 
                                <!-- Name Column -->
                                <ng-container matColumnDef="supplierName">
                                    <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.contactNo}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                 <!-- <ng-container matColumnDef="CreatedByOn">
                                    <th mat-header-cell *matHeaderCellDef> Created By & On</th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedByOn}} </td>
                                </ng-container>  -->
                                   <!-- Weight Column -->
                                   <ng-container matColumnDef="estimateddeliverytime">
                                    <th mat-header-cell *matHeaderCellDef> Expected Delivery Time </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">                  
                                               <br><li  style="list-style: none;">{{item.estimateddeliverytime}}       
                                               </li>          
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>
                                 <!-- Weight Column -->
                                 <ng-container matColumnDef="totalpurchaseprice">
                                    <th mat-header-cell *matHeaderCellDef> Total Bill Amount </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">   
                                              <br><li style="list-style: none;">
                                                    <i  *ngIf= "item.totalpurchaseprice" class="fa fa-inr" aria-hidden="true" ></i> 
                                                     {{item.totalpurchaseprice}}        
                                              </li>
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <!-- Weight Column -->
                                <!--  <ng-container matColumnDef="GoodsRecivedDate">
                                    <th mat-header-cell *matHeaderCellDef> Goods Recieved Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.GoodsRecivedDate}} </td>
                                </ng-container>  -->
                                <!-- Weight Column -->
                                 <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container> 



                                <!-- Weight Column -->
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">

                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">          
                                               <br><li style="list-style: none;">
                                                <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(element.purchaseorderId,item._id)"
                                                style="color:red;"> </i>
                                               </li> 
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                 <ng-container matColumnDef="Activity">
                                    <th mat-header-cell *matHeaderCellDef> Activity </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Activity}} </td>
                                </ng-container>
 
                                <tr mat-header-row *matHeaderRowDef="approvedDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: approvedDisplayedColumns;"></tr> 
                             </table> 
                            <mat-paginator #app_paginator [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@ Received / Closed start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Received / Closed ({{totalRowsForReceived}})">
                    <div class="xyz">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>

                             <table mat-table [dataSource]="Recieved_dataSource" class="mat-elevation-z8"
                                style="width: 100%;"> 

                                <!-- Position Column -->
                                <ng-container matColumnDef="purchaseorderId">
                                    <th mat-header-cell *matHeaderCellDef>PO Number</th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseorderId}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="supplierName">
                                    <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                              <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.contactNo}} </td>
                                </ng-container>

                              <!--   <ng-container matColumnDef="CreatedByOn">
                                    <th mat-header-cell *matHeaderCellDef> Created By & On</th>
                                    <td mat-cell *matCellDef="let element"> {{element.CreatedByOn}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ActualDeliveryRange">
                                    <th mat-header-cell *matHeaderCellDef> Actual Delivery Range </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ActualDeliveryRange}} </td>
                                </ng-container> -->
                                <!-- Weight Column -->
                                <ng-container matColumnDef="totalpurchaseprice">
                                    <th mat-header-cell *matHeaderCellDef> Total Bill Amount </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">   
                                              <br><li style="list-style: none;">
                                                    <i  *ngIf= "item.totalpurchaseprice" class="fa fa-inr" aria-hidden="true" ></i> 
                                                     {{item.totalpurchaseprice}}        
                                              </li>
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>
                                <!-- Weight Column -->
                               <!--  <ng-container matColumnDef="GoodsRecivedDate">
                                    <th mat-header-cell *matHeaderCellDef> Goods Recieved Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.GoodsRecivedDate}} </td>
                                </ng-container> -->
                                <!-- Weight Column -->
                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container>



                                <!-- Weight Column -->
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">

                                        <div class="product">          
                                            <ng-container  *ngFor="let item of element.product">          
                                               <br><li style="list-style: none;">
                                                <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(element.purchaseorderId,item._id)"
                                                style="color:red;"> </i>
                                               </li> 
                                            </ng-container>
                                          </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                 <ng-container matColumnDef="Activity">
                                    <th mat-header-cell *matHeaderCellDef> Activity </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Activity}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="recievedDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: recievedDisplayedColumns;"></tr>
                            </table>
                            <mat-paginator #rcv_paginator [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <ng-template  #mymodal let-modal >
        <div class="abc">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Material</h4>
                <button type="button"class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <kt-notice>
                    Selected Material
                    <div *ngIf="showNoMaterialSelected">
                       <b> No Material Selected!</b>
                     </div>
                    <div class="">
                        <div *ngFor="let s of dupChkMoreInfo" >
                            <div style="display:flex;">
                                <mat-chip-list>
                                    <mat-chip color="primary" [selected]="true">{{s.item.subSubCategoryTypeName}}<i class="fas fa-times-circle ml-2" (click)="removeMoreInfo(s)"></i></mat-chip>
                               </mat-chip-list>
                            </div>
                        </div>
                    </div>
                  </kt-notice>
                
                <kt-notice>
                    <div id="accordion">
                        <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="d-flex justify-content-around">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Beverages
                                    </button>
                                </h5>
                            </div>
                
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let s of beveragesCategories" >
                                            <div style="display:flex;">
                                                <mat-chip-list>
                                            
                                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('BevGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                                </mat-chip-list>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Liqour
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let s of liquorCategories" >
                                            <div style="display:flex;">
                                                <mat-chip-list>
                                            
                                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('LiqourGrp',s)">{{s.liquorSubSubVarientTypeName}}</mat-chip>
                                                   </mat-chip-list>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        Retail Food
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let s of retailFoodCategories">
                                            <div style="display:flex;">
                                               
                                                <mat-chip-list>
                                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('RetGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                                   
                                               </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                       Food Inventory
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let s of inventoryFoodCategories " >
                                            <div style="display:flex;">
                                                <mat-chip-list>
                                            
                                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('InvGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                                   </mat-chip-list>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <kt-notice>
                        Selected Product
                        <div *ngIf="showNoProductSelected">
                           <b> No Product Selected!</b>
                         </div>
                        <div class="">
                            <div *ngFor="let p of productNames" >
                                <div style="display:flex;">
                                    <mat-chip-list>
                                        <mat-chip color="primary" [selected]="true">{{p}}<i class="fas fa-times-circle ml-2" (click)="removeSelectedProductInfo(p)"></i></mat-chip>
                                   </mat-chip-list>
                                </div>
                            </div>
                        </div>
                      </kt-notice>
                    <div class="d-flex justify-content-around"> 
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive" (click)="patchProduct()">
                                       Products
                                    </button>
                                </h5>
                            </div>
                
                            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let p of productArr" >
                                            <div style="display:flex;">
                                                <mat-chip-list>
                                            
                                                    <mat-chip color="primary" [selected]="true" (click)="selectProductInfo(p.productName)">{{p.productName}}</mat-chip>
                                                </mat-chip-list>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                        aria-expanded="false" aria-controls="collapseSix" (click)="patchProduct()">
                                       Brands
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="">
                                        <div *ngFor="let p of productArr" >
                                            <div style="display:flex;">
                                                <mat-chip-list>
                                            
                                                    <mat-chip color="primary" [selected]="true"  (click)="selectProductBrandInfo(p.productBrand)">{{p.productBrand}}</mat-chip>
                                                   </mat-chip-list>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                    </div>
                    <div>

                    </div>
                    <div class="text-center mt-3">
                        <button type="button" #closeModal data-target="#mymodal" class="btn btn-primary" data-dismiss="modal" (click)="SaveAllCategories()" >Add to Cart</button>
                    </div>
                </kt-notice>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)">
                    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
                    <h2 class="text-center" style="color:white">Bizly</h2>
                    <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
                </ngx-spinner>
                
            </div>
           <!--  <div class="modal-footer">
              <button type="button" id='closeModal' class="btn btn-outline-dark" (click)="clickMe()">Ok</button>
            </div> -->
        </div>
    </ng-template>
</kt-notice>


