<kt-notice>
    Live Inventory   
</kt-notice>


<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary">Import</button>
        <button type="button" class="btn btn-primary ml-2">Export</button>
        <button type="button" class="btn btn-primary ml-2" routerLink="/ngbootstrap/addmaterial">Add Material</button>
    </div>
    <div class="col-lg-12">
        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <!-- Position Column -->
            <ng-container matColumnDef="materialcode">
                <th mat-header-cell *matHeaderCellDef> Material Code </th>
                <td mat-cell *matCellDef="let element"> {{element.materialcode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="categoryid">
                <th mat-header-cell *matHeaderCellDef> Material Category </th>
                <td mat-cell *matCellDef="let element"> {{element.categoryid}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="materialname">
                <th mat-header-cell *matHeaderCellDef> Material Name </th>
                <td mat-cell *matCellDef="let element"> {{element.materialname}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef>Products Associated </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="availablestock">
                <th mat-header-cell *matHeaderCellDef> Available </th>
                <td mat-cell *matCellDef="let element"> {{element.availablestock}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="closingstock">
                <th mat-header-cell *matHeaderCellDef> Closing Stock (On Date) </th>
                <td mat-cell *matCellDef="let element"> {{element.closingstock}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="averagecost">
                <th mat-header-cell *matHeaderCellDef> Average Cost </th>
                <td mat-cell *matCellDef="let element"> {{element.averagecost}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="supplier">
                <th mat-header-cell *matHeaderCellDef> Suitable Supplier </th>
                <td mat-cell *matCellDef="let element" >  
                    <i class="fa fa-user-circle" aria-hidden="true" routerLink="/ngbootstrap/suitable-supplier"></i>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="alerts">
                <th mat-header-cell *matHeaderCellDef> Alerts </th>
                <td mat-cell *matCellDef="let element">   <i style="color:red;" class="fa fa-eye" aria-hidden="true" ngbTooltip="Material Is Out Of Stock" ngbTooltipClass="kt-tooltip"></i> </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="activity">
                <th mat-header-cell *matHeaderCellDef> Activity </th>
                <td mat-cell *matCellDef="let element">
                    <i class="fa fa-eye" aria-hidden="true" routerLink="/ngbootstrap/activities"></i> 
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="wishlist">
                <th mat-header-cell *matHeaderCellDef> Add to Wishlist </th>
                <td mat-cell *matCellDef="let element">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>
<ngx-spinner >
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">Processing, Please wait...</p>
  </ngx-spinner>