<kt-notice>
    Stock View
</kt-notice>

<div class="row">
    <div class="col-xl-12">
        <kt-notice>
            <mat-tab-group>
                <mat-tab label=" Product List">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                            <button type="button" class="btn btn-primary ml-2" routerLink="/ngbootstrap/rowitem">Add
                                New Product</button>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>

                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                                <!-- Position Column -->
                                <ng-container matColumnDef="productcode">
                                    <th mat-header-cell *matHeaderCellDef> Product Code </th>
                                    <td mat-cell *matCellDef="let element"> {{element.productcode}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="productCategory">
                                    <th mat-header-cell *matHeaderCellDef> Product Category </th>
                                    <td mat-cell *matCellDef="let element"> {{element.productCategory}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="productName">
                                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="productBrand">
                                    <th mat-header-cell *matHeaderCellDef>Products Brand </th>
                                    <td mat-cell *matCellDef="let element"> {{element.productBrand}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef> Unit </th>
                                    <td mat-cell *matCellDef="let element">{{element.availableQtys[0].unit}}</td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef> Available Qty.</th>
                                    <td mat-cell *matCellDef="let element">{{element.availableQtys[0].quantity}}</td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="probability">
                                    <th mat-header-cell *matHeaderCellDef> Return Probability </th>
                                    <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="wasteRecorded">
                                    <th mat-header-cell *matHeaderCellDef> Waste Rescorded </th>
                                    <td mat-cell *matCellDef="let element"> {{element.wasteRecorded}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="feedback">
                                    <th mat-header-cell *matHeaderCellDef> Feedback </th>
                                    <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
                                </ng-container>


                            

                             

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Retail Tab start @@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Retail">
                        <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary">Import</button>
                                    <button type="button" class="btn btn-primary ml-2">Export</button>
                                    <button type="button" class="btn btn-primary ml-2" routerLink="/ngbootstrap/addretailproduct">Add
                                        Retail Product</button>
                                </div>
                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Filter</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                                    </mat-form-field>
        
                                    <table mat-table [dataSource]="dataSourceOfRetail" class="mat-elevation-z8" style="width: 100%;">
        
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="itemCode">
                                            <th mat-header-cell *matHeaderCellDef> Item Code </th>
                                            <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
                                        </ng-container>
        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="productCategory">
                                            <th mat-header-cell *matHeaderCellDef>Product Category </th>
                                            <td mat-cell *matCellDef="let element"> {{element.productCategory}} </td>
                                        </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="SubCategory">
                                            <th mat-header-cell *matHeaderCellDef> SubCategory </th>
                                            <td mat-cell *matCellDef="let element"> {{element.SubCategory}} </td>
                                        </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="productName">
                                            <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                                        </ng-container>
                                              <!-- Weight Column -->
                                              <ng-container matColumnDef="productBrand">
                                                <th mat-header-cell *matHeaderCellDef> Product Brand </th>
                                                <td mat-cell *matCellDef="let element"> {{element.productBrand}} </td>
                                            </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="unit">
                                            <th mat-header-cell *matHeaderCellDef> Unit </th>
                                            <td mat-cell *matCellDef="let element">{{element.availableQtys[0].unit}}</td>
                                        </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="quantity">
                                            <th mat-header-cell *matHeaderCellDef> Available Qty.</th>
                                            <td mat-cell *matCellDef="let element">{{element.availableQtys[0].quantity}}</td>
                                        </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="averagePrice">
                    <th mat-header-cell *matHeaderCellDef> Average Price</th>
                    <td mat-cell *matCellDef="let element">{{element.averagePrice}}</td>
                </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="probability">
                                            <th mat-header-cell *matHeaderCellDef> Return Probability </th>
                                            <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
                                        </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="wasteRecorded">
                                            <th mat-header-cell *matHeaderCellDef> Waste Rescorded </th>
                                            <td mat-cell *matCellDef="let element"> {{element.wasteRecorded}} </td>
                                        </ng-container>
        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="feedback">
                                            <th mat-header-cell *matHeaderCellDef> Feedback </th>
                                            <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
                                        </ng-container>
        
        
                                    
        
                                     
        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOfRetail"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOfRetail;"></tr>
                                    </table>
        
                                </div>
                            </div>
                </mat-tab>
            </mat-tab-group>
        </kt-notice>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)">
    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
</ngx-spinner>