<div class="container"> <div class="card mt-4">
    <table class="table table-bordered"> <thead>
    </thead> <tbody> <tr> <td rowspan="2">John</td> <td colspan="3">Doe</td>
    </tr> <tr>
    <td colspan="3">Moe</td>
    </tr> <tr> <td>July</td> <td>Dooley</td> <td>july@example.com</td> <td>john@example.com</td> </tr> </tbody> </table> </div>
    <div class=" card mt-4"> <table class="table table-bordered"> <thead>
    </thead>
    <tbody> <tr> <td>1</td> <td>1</td> <td colspan="3"> <!-- INTERNAL TABLE FOR BUTTONS--> <table class="table table-bordered"> <thead>
    </thead> <tbody> <tr> <td> <button class="btn btn-block btn-primary">add </button> </td> <td> <button class="btn btn-block btn-primary">edit </button></td> </tr> <tr> <td> <button class="btn btn-primary" (click)="adds.toggle($event)"> add </button></td> <td>label</td> <td>label</td> </tr> </tbody> </table> </td>
    </tr> <tr> <td>1</td> <td>1 <i class="pi pi-info-circle float-right" (click)="item.toggle($event)" style="font-size: larger;"></i></td> </tr> <tr> <td>1</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td> </tr> <tr> <td>1</td> <td>1</td> <td>1 <i class="pi pi-info-circle float-right" (click)="info.toggle($event)" style="font-size: larger;"></i> </td> <td>1 <i class="pi pi-info-circle float-right" (click)="info1.toggle($event)" style="font-size: larger;"></i> </td> <td>1</td> </tr> <tr> <td>1</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td> </tr> </tbody> </table> </div>
    <div class='card mt-4'> Additional Tables <hr>
    <table class="table table-bordered"> <tbody> <tr> <td>1</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> </tr> </tbody>
    </table> </div></div>
   
   
   
   <!-- ###################OVERLAY ADDS --><p-overlayPanel #adds [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate> <table class="table table-bordered"> <thead> <tr> <th>111111111111</th> <th>111111111111</th> <th>111111111111</th> <th>111111111111</th> </tr>
    </thead> <tbody> <tr> <td>1</td> <td>1</td> <td>1</td> <td>1</td> </tr> <tr> <td>1</td> <td>1</td> <td>1</td> <td>1</td> </tr> <tr> <td>1</td> <td>1</td> <td>1</td> <td>1</td> </tr> </tbody> </table> </ng-template></p-overlayPanel>
   
   <!-- ####################INFO OVERLAY -->
   
   <p-overlayPanel #info [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate> <table class="table table-bordered"> <thead>
    </thead> <tbody> <tr> <td rowspan="2">111111111</td> <td>11111111111</td>
    </tr> <tr> <td>111111111</td> </tr> <tr> <td colspan="2">11111111111</td> </tr> </tbody> </table> </ng-template></p-overlayPanel>
   
   <!-- ####################INFO OVERLAY 1-->
   
   <p-overlayPanel #info1 [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate> <table class="table table-bordered"> <thead>
    </thead> <tbody> <tr> <td rowspan="2">111111111</td> <td>11111111111</td>
    </tr> <tr> <td>111111111</td> </tr> <tr> <td colspan="2">11111111111</td> </tr> </tbody> </table> </ng-template></p-overlayPanel>
   
   <!-- ####################INFO OVERLAY 1-->
   
   <p-overlayPanel #item [showCloseIcon]="true" [appendTo]="'body'">
    <ng-template pTemplate> item content </ng-template></p-overlayPanel>