<div class="container">

    <p-tabView class="mt-2">
        <p-tabPanel header="Raw Material"  rightIcon="fa fa-pepper-hot">

            <div class="mt-2 ml-2">
                <p-breadcrumb [model]="directory"></p-breadcrumb>
            </div>

          
            <div class="row mt-2 ml-2" style="height: 270px; border: black 1px dashed;">
                <div class="col-lg-3" style="border-right: 1px black dashed;" [hidden]="!isMatForm">
                    <!-- Order list -->
                    <p-orderList [value]="rawMaterial" filterBy="root_name"
                        (onSelectionChange)="onSelectRoot($event.value[0])">
                        <ng-template let-material pTemplate="item">
                            <div>
                                <div style="font-size:16px">{{material.root_name}}</div>
                            </div>
                        </ng-template>
                    </p-orderList>
                    <!-- Order list -->
                </div>
                <div class="col-lg-3" style="border-right: 1px black dashed;" [hidden]="!isMatForm">
                    <p-orderList [value]="selectedcategory.category" filterBy="category_name"
                        (onSelectionChange)="onSelectCategory($event.value[0])">
                        <ng-template let-category pTemplate="item">
                            <div>
                                <div style="font-size:16px">{{category.category_name}}</div>
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
                <div class="col-lg-6" [hidden]="!isMatForm">
                    <p-orderList [value]="selectedMaterial.material" filterBy="material_name" 
                    (onSelectionChange)="onselectMaterial($event.value[0])" >

                        <ng-template let-material let-index pTemplate="gridItem">

                            <div>
                                <!-- src\assets\live-inventory\cummin.jpg -->
                                <img [src]="material.image" style="display:inline-block;margin:2px 0 2px 2px"
                                    width="48">
                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{material.material_name}}
                                </div>
                            </div>


                        </ng-template>
                    </p-orderList>

                
                </div>

                <!-- form for adding material  -->
                <form action="" [formGroup]="materialForm">
                    <div class="col-lg-12" [hidden]="isMatForm" >
                        <div class="row mt-2 ml-2" style="overflow: scroll;height: 210px;">
    
                            <!-- Name and text -->
                            <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Name</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <input type="text" formControlName="material_name" placeholder="Material Name"
                                    class="form-control">
                            </div>
    
                             <!-- Type  -->
                             <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Type</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <p-selectButton [options]="foods" formControlName="material_type" ></p-selectButton>
                            </div>
    
                               <!-- Select Unit  -->
                               <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Select Unit</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <p-selectButton [options]="units" formControlName="select_unit" ></p-selectButton>
                            </div>
    
                            <!-- Material code  -->
                            <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Material Code</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <input type="text" formControlName="material_code" placeholder="Material Code"
                                    class="form-control">
                            </div>
    
                               <!-- Photo -->
                               <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Photo</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <input type="text" placeholder="NA" formControlName="material_photo"
                                    class="form-control">
                            </div>
    
    
                             <!-- Available Stock -->
                             <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Available Stock</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <input type="number"  placeholder="Available Stock" formControlName="available_stock"
                                    class="form-control">
                            </div>
    
                              <!-- Low Stock Warning -->
                              <div class="col-md-4 mt-2">
    
                                <label for="">
                                    <h5>Low Stock Warning</h5>
                                </label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <input type="number"  placeholder="Low Stock Warning" formControlName="low_stock"
                                    class="form-control">
                            </div>
    
    
    
                        </div>
    
                        <!-- submit button -->
                        <div class="row mt-2" style="border-top:gray 1px solid">
                            <div class="col text-center mt-2">
                                <button class="btn btn-success" (click)="saveMaterial()">
                                    Save Material
                                </button>
                            </div>                          
                        </div>
    
    
                    </div>
                </form>
              
            </div>
            <div class="row float-right">
                <button class="btn btn-success" (click)="addMaterial()" [disabled]="isAddMaterial"
                    [hidden]="!isMatForm">
                    Add Material
                </button>


            </div>


            <!-- form material fields -->
            <div class="row mt-4 ml-2" [formGroup]="materialForm">
                <div class="col-lg-4 form-group">
                    <label for=""> Select Unit</label>
                </div>
                <div class="col-lg-8 form-group">
                    <!-- <input type="text" class="form-control" formControlName="select_unit"> -->
                    <p-selectButton [options]="units" (click)="selectUnit(materialForm.value.select_unit)"
                        formControlName="select_unit"></p-selectButton>

                </div>
                <div class="col-lg-4 form-group">
                    <label for="">Available Stock</label>
                </div>
                <div class="col-lg-3 form-group">
                    <input type="text" class="form-control" formControlName="available_stock">
                </div>
                <div class="col-lg-3 form-group">
                    <p-selectButton [options]="stock_units" formControlName="available_stock"></p-selectButton>
                </div>
                <div class="col-lg-2 form-group">
                    <button class="btn btn-sm btn-primary">Add Unit</button>
                </div>


                <div class="col-lg-4 form-group">
                    <label for=""> Material Code</label>
                </div>
                <div class="col-lg-8 form-group">
                    <input type="text" class="form-control" formControlName="material_code">
                </div>



            </div>
        </p-tabPanel>
        <p-tabPanel header="Retail Food" rightIcon="fa fa-pizza-slice">
            <div class="row mt-2 ml-2" style="height: 250px;">
                <div class="col-lg-3">
                    first
                </div>
                <div class="col-lg-3">
                    second
                </div>
                <div class="col-lg-6">
                    grid view images
                </div>
            </div>

            <div class="row mt-4 ml-2">
                form
            </div>
        </p-tabPanel>
        <p-tabPanel header="Retail Beverages" rightIcon="fa fa-glass">
            <div class="row mt-2 ml-2" style="height: 250px;">
                <div class="col-lg-3">
                    first
                </div>
                <div class="col-lg-3">
                    second
                </div>
                <div class="col-lg-6">
                    grid view images
                </div>
            </div>

            <div class="row mt-4 ml-2">
                form
            </div>
        </p-tabPanel>
        <p-tabPanel header="Liquor" rightIcon="fa fa-cocktail">
            <div class="row mt-2 ml-2" style="height: 250px;">
                <div class="col-lg-3">
                    first
                </div>
                <div class="col-lg-3">
                    second
                </div>
                <div class="col-lg-6">
                    grid view images
                </div>
            </div>

            <div class="row mt-4 ml-2">
                form
            </div>
        </p-tabPanel>
    </p-tabView>




</div>