<kt-notice>
    Closing Stock Audit / History
    <button type="button" class="btn btn-primary float-right"
        routerLink="/ngbootstrap/closing-stock-audit">Back</button>
</kt-notice>

<kt-notice>
    <h3>11-02-2020 (Today's Date)</h3>
    <div class="row">
        <div class="col-lg-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> Material Category</th>
                        <th scope="col">Material Details</th>
                        <th scope="col">Closing Stock Reporting </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Item Code - P001</td>
                        <td>
                            <mat-radio-button class="example-radio-button">
                                Select Local Unit
                            </mat-radio-button>
                        </td>
                    </tr>
                    <tr>
                        <td>Chicken Pieces</td>
                        <td>Item Name - Curry Cut Chicken</td>
                        <td style="display: flex;">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Unit 1</option>
                                    <option>Unit 2</option>
                                    <option>Unit 3</option>
                                </select>
                            </div>

                            <div class="form-group ml-2">
                                <input type="number" class="form-control">
                            </div>

                            <i class="fa fa-plus-square ml-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Unit -Kg</td>
                        <td style="display: flex;">
                            <mat-radio-button class="example-radio-button">
                                In Kg
                            </mat-radio-button>
                            <div class="form-group ml-2">
                                <input type="number" class="form-control" placeholder="KG">
                            </div>
                            <div class="form-group ml-2">
                                <input type="number" class="form-control" placeholder="Grms">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Item Code - P002</td>
                        <mat-radio-button class="example-radio-button">
                            Select Local Unit
                        </mat-radio-button>
                    </tr>
                    <tr>
                        <td>Chicken Pieces</td>
                        <td>Item Name - Curry Cut Chicken</td>
                        <td style="display: flex;">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Unit 1</option>
                                    <option>Unit 2</option>
                                    <option>Unit 3</option>
                                </select>
                            </div>

                            <div class="form-group ml-2">
                                <input type="number" class="form-control">
                            </div>

                            <i class="fa fa-plus-square ml-2" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Unit -Kg</td>
                        <td style="display: flex;">
                            <mat-radio-button class="example-radio-button">
                                In Kg
                            </mat-radio-button>
                            <div class="form-group ml-2">
                                <input type="number" class="form-control" placeholder="KG">
                            </div>
                            <div class="form-group ml-2">
                                <input type="number" class="form-control" placeholder="Grms">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Item Code - P002</td>
                        <mat-radio-button class="example-radio-button">
                            Select Local Unit
                        </mat-radio-button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary">Update Stocks</button>
    </div>
</kt-notice>