<kt-notice>
    Purchase Order / Generate
    <button type="button" class="btn btn-primary ml-2"
    (click)="openEdit()">Edit</button>
    <button type="button" class="btn btn-primary ml-2 float-right"
        routerLink="/ngbootstrap/purchase-order">Back</button>
</kt-notice>
<div *ngIf="editable">
    <div *ngFor="let a of poFinalObj; let indexValue = index">
        <!-- <kt-notice *ngIf="a.items.length!=0"> -->
            <!----------Started Suppliers code--------- -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="width: 100%;">
                        <div class="card-body d-flex justify-content-between">
                            <div>
                                <h4><b>{{a.purchaseOrder.supplierId.supplierName}}</b></h4> <br>
                                {{a.purchaseOrder.supplierId.area}}<br>
                                {{a.purchaseOrder.supplierId.contactNo}}<br>
                                {{a.purchaseOrder.supplierId.gstinno}}<br>
                                {{a.purchaseOrder.supplierId.supplierId}}
                            </div>
                            <div> createdAt: {{a.createdAt}}<br>
                                createdBy:{{a.createdBy}}</div>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-6">
                    <!-- <form [formGroup]="purchaseOrderForm">
                        <div formArrayName="suppliersPODetails">
                            <div *ngFor="let supplier of purchaseOrderForm.controls.suppliersPODetails?.value; let i = index">
                                <div *ngIf="a.supplierName == tempSuppliers[i]" [formGroupName]="i"> -->
                                        <div class="card" style="width: 100%;">
                                            <div class="card-body">
                                                <h5 class="card-title">Purchase Order: {{a.purchaseorderId}}
                                                </h5>
                                                <h4>Po Date : {{a.purchaseOrder.podate}}</h4>
                                            
        
                                                <a href="#" class="card-link">
                                                    <mat-checkbox class="example-margin"
                                                        (change)="isGstInclude($event)">Price include GST</mat-checkbox>
                                                </a>&nbsp;
                                                 
                                    
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Delivery Address:</label>
                                                    <select class="form-control" id="exampleFormControlSelect1"
                                                        >
                                                        <option>Kothrud</option>
                                                        <option>Aundh</option>
        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </form> -->
        
                </div>
            </div>
            <!----------End Of Suppliers code--------- -->
        
            <!----------Started Items Product code--------- -->
            <div class="row mt-2">
                <div class="col-lg-12">
                   <!--   <form [formGroup]="ProductForm">  -->
                        <table class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Order Qty.</th>
                                    <th scope="col">Price / Unit</th>
                                    <th scope="col">Estimated Delivery
                                        <br>
                                        <mat-checkbox class="example-margin" (change)="onSameAs($event)">Same to all
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Tax
                                        <br>
                                        <mat-checkbox class="example-margin">Same to all</mat-checkbox>
                                    </th>
                                    <th scope="col">Total Price With Tax </th>
                                    <th scope="col">Total Price Without Tax </th>
                                    <th scope="col">Total Price After Discount per Item</th>
        
                                </tr>
                            </thead>
                            <tbody *ngFor="let t of a.product; let i = index">
                                <tr>
                                    <th scope="row" >
                                        <div class="form-group">
                                            <input type="input" class="form-control" value="{{t.materialName}}" readonly>
                                        </div>
                                    </th>
                                    <td>
                                        <div  class="form-group">
                                            <input type="input" id="orderQty" class="form-control" (keyup)="orderQty(t, i,$event.target.value,a.totalpayble)" value="{{t.orderQty}}"
                                            >
                                        </div>
                                    </td>
                                    <td>
                                        <div  class="form-group">
                                            <input type="input" id="priceUnit" class="form-control"  (keyup)="priceUnit(t, i,$event.target.value,a.totalpayble)" value="{{t.priceUnit}}"
                                            >
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="date" id="date" name="date" value="{{t.estimateddeliverytime}}">
                                        </div>
                                    </td>
                                      <td>
                                        <div  class="form-group">
        
                                            <input type="text" id="tax" name="tax" value="{{t.tax}}"
                                                (keyup)="taxCalculation(t, i,$event.target.value,a.totalpayble[indexValue])">
                                        </div>
                                    </td> 
                                    <td>
                                        <div class="form-group">
                                            <input type="string" id="totalpurchaseprice" class="form-control" value="{{t.totalpurchaseprice}}"
                                                readOnly>
        
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="string" id="totalpurchasepricewithouttax" class="form-control" value="{{t.totalpurchasepricewithouttax}}"
                                                readOnly>
        
                                        </div>
                                    </td>
        
                                    <td>
                                        <div class="form-group">
                                            <input type="string" id="totalpurchasepriceondiscount" class="form-control" value="{{t.totalpurchasepriceondiscount}}"
                                                readOnly>
        
                                        </div>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
        
                   <!--   </form>  -->
        
                </div>
            </div>
            <!----------End Of Items Product code--------- -->
            


     
            <!----------Started Extra charges code--------- -->
            <div class="mt-2">
                <div class="col-lg-12" style="background-color: white;">
                <div class="d-flex justify-content-between mb-1">
                    <!-- <div class="a d-flex align-items-center">
                        <button type="button" class="btn btn-primary ml-2" (click)="ShowExtracharges()">Extra
                            Charges</button>
                    </div> -->
                    <div class="">
                        <input type="button" class="btn btn-sm btn-primary" id="addextracharge" value="Add Extra Charge" (click)="addTable()">
                        <table *ngIf="a.extracharges.extracharges.length>0" id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Charges For</th>
                                    <th scope="col">Charges</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let chargesData of a.extracharges.extracharges; let i = index;">
                                <tr>
                                    <td> 
                                        <input type="text" id="chargesname" class="form-control" 
                                        value="{{chargesData.chargesname}}" (keyup)="editChargesName($event.target.value,i)" >
                                    </td>
                                    <td>
                                        <input type="text" id="amount"  class="form-control" 
                                        value="{{chargesData.amount}}" (keyup)="editChargesAmount($event.target.value,i,a.totalpayble,a.product[indexValue])"  >
                                    </td>
                            
                                  
                                    <td>
                                       <!--  <i  id="plus" class="fa fa-plus-circle mt-3 mr-5" aria-hidden="true" (click)="addExtrachargesBlock()"></i>
                                        <i  id="minus" class="fas fa-minus-circle ml-2"  (click)="removeExtraCharges(i)"></i> -->
                                         <button (click) = "deleteRow(i,a.extracharges)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
            </div>
                
            <div class="b">
                        <div *ngFor="let totalData of a.totalpayble;let i=index">
                                <div class="col-lg-12 mt-4">
                                    <div style="display: flex;">
                                        <div style="flex: 1;">
                                            <b>Total:</b>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text" id="totalpurchaseprise" value="{{totalData.totalpurchaseprise}}" readonly>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <b>Discount:</b>
                                            <select  id="discounttype" (click)="discountType($event.target.value,a.totalpayble[indexValue])" value="{{totalData.discounttype}}" >
                                                <option value="percentage">Percentage</option>
                                                <option value="price">Price</option>
                                            </select>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="number" id="discount" value="{{totalData.discount}}" (input)="calcDiscount(a.product, indexValue,$event.target.value,a.totalpayble[indexValue])">
                                        </div>
                                    </div>
                                </div>
                                 
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total Price After Discount:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="string" id="totalpriceafterdiscount" value="{{totalData.totalpriceafterdiscount}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total tax:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input id="totaltax" type="text" value="{{totalData.totaltax}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <span *ngFor="let chargesData of obj">
                                    <div *ngIf="chargesData.amount !== ''" style="margin-left: 12px;">
                                        {{chargesData.chargesname}}: {{chargesData.amount}}
                                    </div>
                                </span>
                                
                                <div></div>
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total Payble:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text" id="totalpayble" value="{{totalData.totalpayble}}" readonly>
                                        </div>
                                    </div>
                                </div>
                        </div>
            </div>
                </div>
            </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 mt-3">
                     <input type="button" class="btn btn-sm btn-primary" id="addfreeitem" value="Add Free Item" (click)="addNewFreeItem()">
                        <table *ngIf="a.freeitem.freeitems.length > 0" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Material Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Qty.</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody >
                                        <tr *ngFor="let free of a.freeitem.freeitems; let j = index" >
                                                <td>
                                                    <input type="string" class="form-control" value="{{free.productcode}}">
                                            </td>
                                            <td>
                                                    <input type="string" class="form-control" value="{{free.productname}}">
                                            </td>
                                            <td>
                                                    <input type="string" class="form-control" value="{{free.materialname}}">
                                            </td>
                                            <td>
                                                    <input type="string" class="form-control" value="{{free.unit}}"
                                                        >
                                            </td>
                                            <td>
                                                    <input type="string" id="quantity" class="form-control" (keyup)="freeItemQuantity($event.target.value,j)" value="{{free.quantity}}"
                                                        >
                                            </td>
                                            <td>
                                                    <input type="string" id="price" class="form-control" (keyup)="freeItemPrice($event.target.value,j)" value="{{free.price}}" >
                                            </td>
                                            <td>
                                                    <i class="fa fa-trash" aria-hidden="true" style="color:black;"
                                                        (click)="deleteFreeItem(j)"></i>&nbsp;
                                            </td>
                                        </tr>
                                    
                            </tbody>
                        </table>
        
                   
                    <!-- <label class="float-right"><b>Total Savings: {{finalFreeItemTotal}}</b></label> -->
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div style="flex: 1;">
                        <h5>Send Notification:</h5>
                    </div>
                </div>
            <div style="display: flex;flex-direction: column;">
                <div style="flex: 1;">
                    Whatsapp:
                    <input type="button" class="btn btn-sm btn-primary" id="addwhatsapp" value="Add Whatsapp No" (click)="addNewWhatsAppNo()">
                </div>
                <div *ngFor="let whatsapp of a.notification.whatsapps; let j=index">
                    
                        <div class="col-lg-12 mt-4">
                            <div style="display:flex;">
                                <div style="flex: 1;">
                                    <div *ngIf="a.notification.whatsapps.length> 0"  class="d-flex justify-content-between">
                                        <input type="string" id="whatsapps" class="form-control" (keyup)="whatsappFunc($event.target.value,j, a.notification.whatsapps[j])" value="{{whatsapp.whatsapps}}">
                                        <i class="fa fa-trash" aria-hidden="true" style="color:black;margin-top: 11px;
                                        margin-left: 10px;"
                                        (click)="deleteWhatsAppNo(j)"></i>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;                       
                </div>
                              
                     
                <div style="flex: 1;">
                    Email:
                    <input type="button" class="btn btn-sm btn-primary" id="addemail" value="Add Email" (click)="addNewEmail()">
                </div>
                          
                <div *ngFor="let email of a.notification.emails; let j=index">
                        <div class="col-lg-12 mt-4">
                            <div style="display:flex;">
                                <div style="flex: 1;">
                                    <div *ngIf="a.notification.emails.length> 0" class="d-flex justify-content-between">
                                        <input type="text" id="emails" class="form-control"  (keyup)="emailFunc($event.target.value,j)" value="{{email.emails}}">
                                        <i class="fa fa-trash" aria-hidden="true" style="color:black;margin-top: 11px;
                                        margin-left: 10px;"
                                        (click)="deleteEmail(j)"></i>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;                       
                </div>
                               
                        
                <div style="flex: 1;">
                    SMS:
                    <input type="button" class="btn btn-sm btn-primary"  id="addsms" value="Add Sms No" (click)="addNewSms()">
                </div>
                    <div *ngFor="let sms of a.notification.sms; let j=index">
                            <div class="col-lg-12 mt-4">
                                <div style="display:flex;">
                                    <div style="flex: 1;">
                                        <div *ngIf="a.notification.sms.length >0" class="d-flex justify-content-between">
                                            <input type="text" id="sms" class="form-control"  (keyup)="smsFunc($event.target.value,j)" value="{{sms.sms}}">
                                            <i class="fa fa-trash" aria-hidden="true" style="color:black;margin-top: 11px;
                                            margin-left: 10px;"
                                            (click)="deleteSms(j)"></i>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;                       
                    </div>
            </div>
            </div> 
        </div>
        <button type="button" class="btn btn-sm btn-primary" (click)="saveEditedPO()">Save</button>
    </div>
<div *ngIf="!editable">
    <div *ngFor="let a of poFinalObj; let indexValue = index">
        <!-- <kt-notice *ngIf="a.items.length!=0"> -->
            <!----------Started Suppliers code--------- -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="width: 100%;">
                        <div class="card-body d-flex justify-content-between">
                            <div>
                                <h4><b>{{a.purchaseOrder.supplierId.supplierName}}</b></h4> <br>
                                {{a.purchaseOrder.supplierId.area}}<br>
                                {{a.purchaseOrder.supplierId.contactNo}}<br>
                                {{a.purchaseOrder.supplierId.gstinno}}<br>
                                {{a.purchaseOrder.supplierId.supplierId}}
                            </div>
                            <div> createdAt: {{a.createdAt}}<br>
                               createdBy:{{a.createdBy}}</div>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-6">
                                        <div class="card" style="width: 100%;">
                                            <div class="card-body">
                                                <h5 class="card-title">Purchase Order: {{a.purchaseorderId}}
                                                </h5>
                                                <h4>Po Date : {{a.purchaseOrder.podate}}</h4>
                                            
        
                                                <a href="#" class="card-link">
                                                    <mat-checkbox class="example-margin"
                                                        (change)="isGstInclude($event)">Price include GST</mat-checkbox>
                                                </a>&nbsp;
                                                 
                                    
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Delivery Address:</label>
                                                    <select class="form-control" id="exampleFormControlSelect1"
                                                        >
                                                        <option>Kothrud</option>
                                                        <option>Aundh</option>
        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                </div>
            </div>
            <!----------End Of Suppliers code--------- -->
        
            <!----------Started Items Product code--------- -->
            <div class="row mt-2">
                <div class="col-lg-12">
                    <!-- <form [formGroup]="ProductForm"> -->
                        <table class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Order Qty.</th>
                                    <th scope="col">Price / Unit</th>
                                    <th scope="col">Estimated Delivery
                                        <br>
                                        <mat-checkbox class="example-margin" (change)="onSameAs($event)">Same to all
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Tax
                                        <br>
                                        <mat-checkbox class="example-margin">Same to all</mat-checkbox>
                                    </th>
                                    <th scope="col">Total Price With Tax </th>
                                    <th scope="col">Total Price Without Tax </th>
                                    <th scope="col">Total Price After Discount per Item</th>
        
                                </tr>
                            </thead>
                            <tbody *ngFor="let t of a.product; let i = index">
                                <tr>
                                    <th scope="row" >{{t.materialName}}</th>
                                    <td>{{t.orderQty}}</td>
                                    <td>{{t.priceUnit}}</td>
                                    <td>{{t.estimateddeliverytime}}</td>   
                                    <td>{{t.tax}}</td> 
                                    <td>{{t.totalpurchaseprice}}</td>  
                                    <td>{{t.totalpurchasepricewithouttax}}</td>   
                                    <td>{{t.totalpurchasepriceondiscount}}</td>
                                        
                                </tr>
                            </tbody>
                        </table>
        
                    <!-- </form> -->
        
                </div>
               
            </div>
            <!----------End Of Items Product code--------- -->
        
            <!----------Started Extra charges code--------- -->
            <div class="mt-2">
                <div class="col-lg-12" style="background-color: white;">
                <div class="d-flex justify-content-between mb-1">
            
                 <div *ngIf="a.extracharges.extracharges.length > 0" class="row">
     
                    <table *ngIf="a.extracharges.extracharges.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Charges For</th>
                                <th scope="col">Charges</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let chargesData of a.extracharges.extracharges; let i = index;">
                            <tr>
                                <td>
                                    {{chargesData.chargesname}}
                                </td>
                                <td>
                                    {{chargesData.amount}}
                                </td>
                                <td>
                                    <i class="fa fa-plus-circle mt-3 mr-5" aria-hidden="true" ></i>
                                    <i class="fas fa-minus-circle ml-2" ></i>
                                </td>
                            </tr>
                           <!--  <div>
                                {{chargesData.chargesname | json}}:  {{chargesData.amount | json}}
                             </div> -->
                        </tbody>
                     </table>
                    
                  </div>
                </div>
                    <div class="mt-2">
                            <div class="b">
                             
                                        <div *ngFor="let totalData of a.totalpayble;let i=index">
                                         
                                                <div class="col-lg-12 mt-4">
                                                    <div style="display: flex;">
                                                        <div style="flex: 1;">
                                                            <b>Total:</b>
                                                        </div>
                        
                                                        <div style="flex: 1;">
                                                           {{totalData.totalpurchaseprise}}
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div class="col-lg-12">
                                                    <div style="display: flex;" class="mt-2">
                                                        <div style="flex: 1;">
                                                            <b>Discount:</b>
                                                            <select value="{{totalData.discounttype}}" >
                                                                <option value="percentage">Percentage</option>
                                                                <option value="price">Price</option>
                                                            </select>
                                                        </div>
                        
                                                        <div style="flex: 1;">
                                                            {{totalData.discount}}
                                                        </div>
                                                    </div>
                                                </div>
                                                 
                                                <div class="col-lg-12">
                                                    <div style="display: flex;" class="mt-2">
                                                        <div style="flex: 1;">
                                                            <h5>Total Price After Discount:</h5>
                                                        </div>
                        
                                                        <div style="flex: 1;">
                                                            {{totalData.totalpriceafterdiscount}}
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="col-lg-12">
                                                    <div style="display: flex;" class="mt-2">
                                                        <div style="flex: 1;">
                                                            <h5>Total tax:</h5>
                                                        </div>
                        
                                                        <div style="flex: 1;">
                                                            {{totalData.totaltax}}
                                                        </div>
                                                    </div>
                                                </div>

                                               <!--  <span *ngFor="let chargesData of displayExtraChargeArr">
                                                    <div *ngIf="chargesData.amount !== ''" style="margin-left: 12px;">
                                                        {{chargesData.chargesname}}: {{chargesData.amount}}
                                                    </div>
                                                </span> -->

                                                <div class="col-lg-12">
                                                    <div style="display: flex;" class="mt-2">
                                                        <div style="flex: 1;">
                                                            <h5>Total Payble:</h5>
                                                        </div>
                        
                                                        <div style="flex: 1;">
                                                            {{totalData.totalpayble}}
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row" style="background-color: white;">
                <div class="col-lg-12 mt-3">
                   <!--  <ng-container [formGroup]="FreeItemsForm"> -->
                        <table  *ngIf="a.freeitem.freeitems.length > 0" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Material Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Qty.</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody >
                               <!--  <ng-container *ngFor="let t of FreeItemsForm.get('freeItems')['controls']; let i = index"> -->
                                    <!-- <ng-container *ngIf="a.supplierName == tempSuppliers[i]" formArrayName="{{i}}"> -->
                                        <tr *ngFor="let free of a.freeitem.freeitems; let j = index" >
                                            <!-- <div class="form-group"> -->
                                                <td>
                                                 {{free.productcode}}
                                                </td>
                                                <td> {{free.productname}}
                                                </td>
                                                <td>{{free.materialname}}
                                                </td>
                                                <td>{{free.unit}}
                                                </td>
                                                <td>{{free.quantity}}
                                                </td>
                                                <td>{{free.price}}
                                                </td>
                                               <!--  <td>
                                                        <i class="fa fa-trash" aria-hidden="true" style="color:black;"
                                                            (click)="removeItems(a.supplierName, indexValue, i, t)"></i>&nbsp;
                                                        <i class="fa fa-plus" aria-hidden="true" style="color:black;"
                                                            (click)="addFreeItems(a.supplierName, indexValue)"> </i>
                                                </td> -->
                                            <!-- </div> -->
                                        </tr>
                                    
                            </tbody>
                        </table>
        
                   
                    <!-- <label class="float-right"><b>Total Savings: {{finalFreeItemTotal}}</b></label> -->
                </div>
            </div>



            <div class="row mt-5" style="background-color: white;">
                <div class="col-lg-12">
                    <div style="flex: 1;">
                        <h5>Send Notification:</h5>
                    </div>
                </div>
            <div style="display: flex;flex-direction: column;">
                <div style="flex: 1;">
                    Whatsapp
                </div>
                <div *ngFor="let whatsapp of a.notification.whatsapps; let j=index">
                    
                        <div class="col-lg-12 mt-4">
                            <div style="display:flex;">
                                <div style="flex: 1;">
                                    <div class="form-group">{{whatsapp.whatsapps}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;                       
                </div>
                              
                     
                <div style="flex: 1;">
                    Email
                </div>
                          
                <div *ngFor="let email of a.notification.emails; let j=index">
                        <div class="col-lg-12 mt-4">
                            <div style="display:flex;">
                                <div style="flex: 1;">
                                    <div class="form-group">{{email.emails}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;                       
                </div>
                               
                        
                <div style="flex: 1;">
                    SMS
                </div>
                                    <div *ngFor="let sms of a.notification.sms; let j=index">
                                            <div class="col-lg-12 mt-4">
                                                <div style="display:flex;">
                                                    <div style="flex: 1;">
                                                        <div class="form-group">{{sms.sms}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            &nbsp;                       
                                    </div>
            </div>
            </div> 
            </div>
                
            <!----------Started Send Notification code--------- -->
       
            <!----------End Of Send Notification code--------- -->
        
        <!-- </kt-notice> -->
       
        </div>
       
   

<!-- <div class="kt-section">
    <span *ngIf="closeResult" class="kt-section__sub">
        <pre>{{closeResult}}</pre>
    </span>
    <div class="kt-section__content">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">

                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Do You Want To Save In Draft</h2>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" (click)="c('Close click')"
                    routerLink="/ngbootstrap/purchase-order" (click)="Save_AsDraft()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')"
                    routerLink="/ngbootstrap/purchase-order-generate">No</button>
            </div>
        </ng-template>
        <button type="button" class="btn btn-primary ml-2 text-center ml-2" (click)="save_purchaseOrder()"
            routerLink="/ngbootstrap/purchase-order">Generate PO</button>
        <button class="btn btn-primary" (click)="open(content)">Cancel</button>
    </div>
</div> -->
<!--------------------End of modal code-------------->
<!-- <h1>{{objectFinal|json}}</h1> -->



<!-- <h1>hiiiii{{objectFinal}}</h1> -->