<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee-management">Back</button>


    <mat-card class="mt-4">
        <!-- PAY FIRST ROW -->
        <form action="" [formGroup]="paymentForm">
            <div class="row form-group">
                <div class="col-md-3 form-group">
                    <label for="" class="text-center">
                        <b> Pay:</b>
                    </label>
                    <select name="" id="" class="form-control" formControlName="type">
                        <option [ngValue]="null" disabled>-----Choose Below-----</option>
                        <option *ngFor="let type of payType" [ngValue]="type">{{type}}</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label for="" class="text-center">
                        <b>Select Month:</b>
                    </label>
                    <!-- <p-calendar [value]="date" formControlName="month" view="month" dateFormat="mm/yy"
                        [yearNavigator]="true" yearRange="2000:2030"></p-calendar> -->
                        <input type="date" class="form-control" [value]='date' formControlName="month">
                       
                </div>
                <div class="col-md-3 form-group">
                    <label for="" class="text-center">
                        <b>Enter Amount:</b>
                    </label>
                    <input type="number" class="form-control" formControlName="amount" placeholder="$ 0.00">
                </div>
                <div class="col-md-3 form-group" >
                    <button class="btn btn-primary" [disabled]="!paymentForm.valid" (click)="onPay()">Pay</button>
                </div>
            </div>
        </form>


        <h5 *ngIf="paymentForm.value.type!=='Incentives' && paymentForm.value.type!=='Expenses'">Details</h5>
        <!-- PAY SALARY DETAILS -->
        <div class="row form-group" *ngIf="paymentForm.value.type=='Salary'">
            <div class="col">
                <p-table [value]="rows">
                    <ng-template pTemplate="header">
                        <tr>
                            <th rowspan="2">
                                Salary
                            </th>
                            <th colspan="3">
                                Allowances
                            </th>
                            <th colspan="2">
                                Deductions
                            </th>
                            <th colspan="2">
                                Overtime
                            </th>
                            <th rowspan="2">
                                Incentives
                            </th>
                            <th rowspan="2">
                                Loan EMI
                            </th>
                        </tr>
                        <tr>
                            <th>Petrol</th>
                            <th>Rent</th>
                            <th>PF</th>
                            <th>Health Fund</th>
                            <th>Policy</th>
                            <th>Overtime</th>
                            <th>Overtime Amount</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>
                                {{row.salary | currency: 'INR'}}
                            </td>
                            <td style="background-color: greenyellow;">
                                {{row.petrol| currency: 'INR'}}
                            </td>
                            <td style="background-color: greenyellow;">
                                {{row.rent| currency: 'INR'}}
                            </td>
                            <td style="background-color: greenyellow;">
                                {{row.pf| currency: 'INR'}}
                            </td>
                            <td style="background-color: red;">
                                {{row.health| currency: 'INR'}}
                            </td>
                            <td style="background-color: red;">
                                {{row.policy| currency: 'INR'}}
                            </td>
                            <td>
                                {{row.overtime}} hrs
                            </td>
                            <td style="background-color: greenyellow;">
                                {{row.overtime_amt| currency: 'INR'}}
                            </td>
                            <td style="background-color: greenyellow;">
                                {{row.incentive| currency: 'INR'}}
                            </td>
                            <td>
                                {{row.loanemi| currency: 'INR'}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>


        <!-- PAY ALLOWANCE DETAILS -->
        <div class="row" *ngIf="paymentForm.value.type=='Allowance'">

            <div class="col">
                <p-table [value]="allowances">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Petrol
                            </th>
                            <th>
                                Mobile Recharge
                            </th>
                            <th>
                                Rent
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>
                                <input type="number" class="form-control" [value]="row.petrol"
                                    placeholder="Enter Amount Here">
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="row.mobile"
                                    placeholder="Enter Amount Here">
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="row.rent"
                                    placeholder="Enter Amount Here">
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <!-- PAY DEDUCTIONS DETAILS -->
        <div class="row" *ngIf="paymentForm.value.type=='Deduction'">

            <div class="col">
                <p-table [value]="allowances">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Petrol
                            </th>
                            <th>
                                Mobile Recharge
                            </th>
                            <th>
                                Rent
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>
                                <input type="number" class="form-control" [value]="row.petrol"
                                    placeholder="Enter Amount Here">
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="row.mobile"
                                    placeholder="Enter Amount Here">
                            </td>
                            <td>
                                <input type="number" class="form-control" [value]="row.rent"
                                    placeholder="Enter Amount Here">
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <form action="" [formGroup]="overtimeForm" *ngIf="paymentForm.value.type=='Overtime'">
            <!-- PAY OVERTIME DETAILS -->
            <div class="row">
                <div class="col">
                    <p-table [value]="overtime">
                        <ng-template pTemplate="header">
                            <tr>
                                <th rowspan="2">Per Hour</th>
                                <th [attr.colspan]="ovcol.length"> Fixed Hours</th>
                                <th> Add More Overtime Rate 
                                    <button class="btn btn-sm btn-primary ml-2" [disabled]="!overtimeForm.valid" (click)="onFixedAdd()">Add</button></th>
                            </tr>
                            <tr>
                                <th *ngFor="let o of ovcol">
                                    {{o.header}}
                                </th>
                                <th>

                                    <input type="number" placeholder="select Hour" formControlName="hours" class="form-control">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td>
                                    <input type="number" placeholder="per hour" class="form-control" value="400">
                                </td>
                                <td *ngFor="let ovr of ovrow">
                                    <input type="number" placeholder="fixed hour" class="form-control" [value]="ovr">
                                </td>
                                <td>
                                    <input type="number" placeholder="Enter Amount" formControlName="rate" class="form-control">
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </form>

        <!-- PAY Incentives DETAILS -->
        <div class="row" *ngIf="paymentForm.value.type=='Incentives'">
            <div class="col-md-3 form-group">
                <label for="" class="form-control">NOTE:</label>
            </div>
            <div class="col-md-5 form-group">
                <input type="number" class="form-control" placeholder="*Note about Incentives (optional)">
            </div>
        </div>


        <!-- PAY LOAN EMI DETAILS -->
        <div class="row" *ngIf="paymentForm.value.type=='Expenses'">
            <div class="col-md-3 form-group">
                <label for="" class="form-control">NOTE:</label>
            </div>
            <div class="col-md-5 form-group">
                <input type="number" class="form-control" placeholder="*Note about Loan Emi (optional)">
            </div>
        </div>
    </mat-card>




</div>