
<h1 mat-dialog-title class="text-center text-light bg-dark ">Create New Role</h1>
<div class="container">
    
    <form action="" [formGroup]="roleForm">
      
        <div mat-dialog-content>
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Role Id</label>
                        <input type="char" class="form-control" placeholder="Role Id" formControlName="id">
                    </div>
                </div>
            </div>
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Role Name</label>
                        <input type="char" class="form-control" placeholder="Role Name" formControlName="name">
                    </div>
                </div>
            </div>
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Access Control points</label>
                        <input type="char" class="form-control" placeholder="Access Control Points" formControlName="access">
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                      <textarea class="form-control" placeholder="Description" cols="60" rows="4" formControlName="desc"></textarea>
                    </div>
                </div>
            </div>
        
        </div>
        <div mat-dialog-actions>
           
                    <button mat-raised-button mat-dialog-close color="warn">Close</button>
                    <button mat-raised-button mat-dialog-close color="primary" class="ml-2">Save</button>
             
        </div>
        </form> 
</div>