<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/employee-management">Back</button>

    <mat-card class="mt-4">
       
        <!-- tiles -->
        <div class="row mt-4">
            <div class="col-md-4">
                <mat-card>
                    <table>
                        <tr>
                            <th>Total Salary Paid</th>
                        </tr>
                        <tr>
                           <td>₹ 12,00,000</td>
                        </tr>
                    </table>
                </mat-card>
            </div>
            <div class="col-md-4">
              
                <mat-card>
                    <table>
                        <tr>
                            <th>Average Salary for Month</th>
                        </tr>
                        <tr>
                           <td>₹ 1,50,000</td>
                        </tr>
                    </table>
                </mat-card>
             
            </div>
            <div class="col-md-4">
                <mat-card>
                    <table>
                        <tr>
                            <th>Ongoing Salaries</th>
                        </tr>
                        <tr>
                           <td>5</td>
                        </tr>
                    </table>
                </mat-card>
            </div>
        </div>

        <!-- Month -->
        <div class="row mt-4">
            <div class="col-md-2">
                <label for="">
                    <b>Month</b>
                </label>
            </div>
            <div class="col-md-6">
                <input type="date" class="form-control">
            </div>
        </div>
        <!-- TABLE HERE -->
        <div class="row mt-4">
            <p-table [value]="rows">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Sr No.
                        </th>
                        <th>
                            Name of Staff
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                           Last Salary Paid on
                        </th>
                        <th>
                           Salary
                        </th>
                        <th>
                           EMI
                        </th> 
                        <th>
                            Allowances
                         </th> 
                         <th>
                            Deductions
                         </th> 
                         <th>
                            Pending Amount
                         </th> 
                         <th>
                            Total Amount Payable
                         </th> 
                         <th>
                            Amount Paid
                         </th> 
                         <th>
                            Status
                         </th>                   
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"let-row>
                    <tr >
                        <td>
                            {{row.srno}}
                        </td>
                        <td>
                         <button class="custom-edit" (click)="onViewSalary(row.staffName)">{{row.staffName}}</button>   
                        </td>
                        <td>
                            {{row.role}}
                        </td>
                        <td>
                            {{row.lastsalon}}
                        </td>
                        <td>
                            {{row.salary | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.emi | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.allowance | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.deduction | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.pending | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.total_payable | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.amt_paid | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.status}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
     


        </mat-card>
        </div>