<p-toast position="top-center"></p-toast>


<div class="card">
    <div class="row">
        <div class="col"></div>
        <div class="col ">
            <button class="btn btn-primary float-right mt-2 mb-2 mr-4" icon="pi pi-th-large"
                (click)='inventoryOverlay=true'>Inventory</button>
        </div>
    </div>
</div>

<!-- *********************TABLE CODE HERE**********************************8 -->
<div class="card mt-4">
    <!-- {{myInventdata | json}} -->
    <!-- styleClass="p-datatable-gridlines p-datatable-sm" -->
    <p-table [value]='rowsData'  styleClass="p-datatable-gridlines p-datatable-sm" >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 50px;">Sr No.</th>
                <th >Type</th>
                <th>Material</th>
                <th>Product</th>
                <th>Unit</th>
                <th>Supplier</th>
                <th>Order Quantity</th>
                <th>Unit Price</th>
                <th>Total Purchase</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-ri="rowIndex">
            <tr>
                <!-- Serial Number -->
                <td class="ui-resizable-column">
                    <div>
                        {{ri+1}}.
                    </div>
                </td>
                
                <!-- Type -->
                <td class="ui-resizable-column">                   
                    
                        {{row.type}}
                   
                </td>

                <!-- MATERIAL  -->
                <td class="ui-resizable-column">
                    <div *ngIf="!row.editable">
                        <input type="text" class="form-control" [(ngModel)]="row.material">
                    </div>
                    <div *ngIf="row.editable">
                        {{row.material}}
                    </div>
                </td>    
               
                <!-- PRODUCT -->
                <td class="ui-resizable-column">
                    <div *ngIf="!row.editable">
                        <input type="text" class="form-control" [(ngModel)]="row.product">
                    </div>
                    <div *ngIf="row.editable">
                        {{row.product}}
                    </div>
                </td>    
               
                <!-- UNIT -->
                <td class="ui-resizable-column text-center">
                    <div *ngIf="!row.editable">
                       <span>

                       <p-dropdown [options]="row.custom_unit" appendTo="body" [(ngModel)]="row.unit" [style]="{'width':'100%'}">
                       
                       </p-dropdown>
                       <i class="pi pi-plus-circle text-center mt-1"></i> Add Unit
                        </span>
                    </div>
                    <div *ngIf="row.editable">
                        {{row.unit}} <br>
                        <!-- <i class="pi pi-plus-circle text-cente mt-1 r"></i> Add Unit -->
                    </div>
                </td>        
              
                <!-- SUPPLIER  -->
                
                    <td class="ui-resizable-column">
                        <div *ngIf="!row.editable">
                            <p-dropdown [options]="suppliers" appendTo="body" [(ngModel)]="row.supplier" [style]="{'width':'100%'}">
                       
                            </p-dropdown>
                        </div>
                        <div *ngIf="row.editable">
                            {{row.supplier}}
                        </div>
                    </td>                    
               
                <!-- ORDER QUANTITY -->
                
                <td class="ui-resizable-column">
                    <div *ngIf="!row.editable">
                        <input type="number"  (change)="calUnitPrice(row)"
                         (keyup)="calUnitPrice(row)" class="form-control" [(ngModel)]="row.orderQuantity">
                    </div>
                    <div *ngIf="row.editable">
                        {{row.orderQuantity}}
                    </div>
                </td>                    
           

            

                <!-- UNIT PRICE -->
                  
                <td class="ui-resizable-column">
                    <div *ngIf="!row.editable">
                        <input type="number"   class="form-control" (change)="calUnitPrice(row)"
                        (keyup)="calUnitPrice(row)" [(ngModel)]="row.unitPrice">
                    </div>
                    <div *ngIf="row.editable">
                        {{row.unitPrice}}
                    </div>
                </td>             
               

                <!-- TOTAL PURCHASE -->
                <td class="ui-resizable-column">
                    <div *ngIf="!row.editable">
                        <input type="number" class="form-control" [(ngModel)]="row.totalPurchase" readonly>
                    </div>
                    <div *ngIf="row.editable">
                        {{row.totalPurchase}}
                    </div>
                </td>      
              

                <!-- ACTION -->
                <td class="ui-resizable-column">

                    <button *ngIf="row.editable" pButton pRipple type="button"  icon="pi pi-pencil"
                        (click)="onRowEditInit(row)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="!row.editable" pButton pRipple type="button"  icon="pi pi-check"
                        (click)="onRowEditSave(row)"
                        class="p-button-rounded p-button-text p-button-success p-mr-2"></button>

                    <button *ngIf="!row.editable" pButton pRipple type="button"  icon="pi pi-times"
                        (click)="onRowEditCancel(row, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>


                </td>
            </tr>

        </ng-template>
    </p-table>
</div>


<!-- ********************GENERATE BUTTON & Cancel*********************** -->
<div class="row mt-4" *ngIf="rowsData.length > 0">
    <div class="col">
        <button class="btn btn-primary float-right" (click)="generatePo()"> Generate</button>
    </div>
    <div class="col">
        <button class="btn btn-danger"> Cancel</button>
    </div>
</div>




<!--********************* INVENOTRY OVERLAY CODE**************************** -->

<p-sidebar [(visible)]="inventoryOverlay" appendTo="body" position="right">
    <div class="text-center">
        <h4>Inventory</h4>
    </div>

    <!--*********************MATERIAL SECTION ******************************** -->
    <div class="card text-center">
        <h4>Material Section</h4>
    </div>
    <div style="overflow:scroll; height:230px;">
        <div class="card mt-2" *ngFor='let a of materialSection'>
            <div class="col">
                Material: - {{a.materials.material_name}}<br>

            </div>
            <div class="col mb-2">
                <button class="btn btn-primary float-right" *ngIf="!a.addStatus"
                    (click)="onAddList(a, null)">Add</button>
                <button class="btn btn-success float-right" *ngIf="a.addStatus">Added</button>
            </div>

        </div>
    </div>


    <hr>
    <!-- ********************PRODUCT SECTION******************************** -->
    <div class="card text-center">
        <h4> Product Section</h4>
    </div>
    <div style="overflow:scroll; height:230px;">
        <div *ngFor='let a of productSection'>

            <div class="card mt-2" *ngFor="let b of a.materials.products">
                <div class="col">
                    Product: - {{b.product_name}}<br>

                </div>
                <div class="col mb-2">
                    <button class="btn btn-primary float-right" *ngIf="!b.addStatus"
                        (click)="onAddList(a,b)">Add</button>
                    <button class="btn btn-success float-right" *ngIf="b.addStatus">Added</button>
                </div>

            </div>


        </div>
    </div>


    <div class="text-center">
        <button class="btn btn-danger mt-2 " (click)='inventoryOverlay=false'>
            Close
        </button>

    </div>


</p-sidebar>

