<div class="container">

    <p-toast></p-toast>

    <!-- ADD MATERIAL -->
    <mat-card>
        <div class="row">

            <div class="col-lg-4">
                <!-- <i class="pi pi-heart " (click)="isheart()" [hidden]="iswish"></i>
                <i class="fa fa-heart " color="red" (click)="isheart()" [hidden]="!iswish"></i> -->
                <button class="btn btn-primary" [matMenuTriggerFor]="wishlist">Wishlist</button>

                <mat-menu #wishlist="matMenu" >
                   <div *ngFor="let a of allWishList; let i = index">                                
               <mat-card>
                <div>
                    <b>{{i+1}}. {{a.material_name}}</b>   <i class="fa fa-trash ml-2" (click)="onremoveWishlist(a)" style="font-size: large;color: red; float: right;"></i>
                  </div>
                  <br>
                  <div>
                      {{a.material_code}} --  {{a.material_type}} --  {{a.category}}
                  </div>
               </mat-card>
                       
                        <!-- <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                            {{a.avail_stock}} --  {{a.unit}} --  <i class="fa fa-trash"></i>
                        </div> -->
                   
                   </div>
                </mat-menu>
            </div>

            <div class="col-lg-4">
                <p-dropdown  [options]="alertOptions" ></p-dropdown>
            </div>
            <div class="col-lg-4" style="text-align:right">
                <button class="btn btn-primary" (click)="addMaterial()">Add Material</button>

            </div>
        </div>
    </mat-card>



    <!-- TABLE CODE HERE -->
    <mat-card class="mt-4">    

<p-tabView>
    <p-tabPanel header="All">

        <div class="row mt-4">
            <!-- ALL TABLE TAB -->
          <div class="col">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>
            <ng-template pTemplate="caption">

                 <div class="row">
                    <div class="col-lg-3" style="text-align: left;">
                        <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                        selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>
                    </div>                   
                 
                    <div class="col-lg-6" style="text-align: center;">
                      
                        <!-- <i class="pi pi-search" ></i> -->
                        <input type="text" pInputText size="70"  placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"  />
                      
                    </div>

                    <div class="col-lg-3" style="text-align: right;">
                        <button class="btn btn-primary" style="width: 100px;">Export</button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="width: 250px;">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
       <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                    </th>
                </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                    </td>                 
               
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_code']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_type']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_name']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['category']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avail_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['closing_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avg_stock_unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            
                            <i class="fa fa-info-circle" style="font-size: large;" [matMenuTriggerFor]="supplier" aria-hidden="true">
                               
                            </i>
                            <mat-menu #supplier="matMenu" >
                                <!-- <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button> -->
                               <div class="ml-2 mt-2">
                                  <h4>{{rowData['alert_activity_supplier'].supplier}}</h4> 
                               </div>
                               <div class="ml-2 mt-2">
                               <p> <b> Area:</b> {{rowData['alert_activity_supplier'].area}}</p>
                             </div>
                             <div class="ml-2 mt-2">
                               <p> <b>Contact:</b>  {{rowData['alert_activity_supplier'].contact}}</p>
                             </div>
                             <div class="ml-2 mt-2">
                                <p> <b>Email:</b>  {{rowData['alert_activity_supplier'].email}}</p>
                             </div>
                             <div class="ml-2 mt-2">
                              <p><b>PAN:</b>   {{rowData['alert_activity_supplier'].pan}}</p>
                             </div>
                             <div class="ml-2 mt-2">
                                 <p> <b>GST:</b>  {{rowData['alert_activity_supplier'].gst}}</p>
                               </div>
                              </mat-menu>
                            
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            <!-- EMPTY HEART -->
                            <i class="pi pi-heart " style="font-size: large;" (click)="onAddWishlist(rowData)"  [hidden]=" rowData['wishlist']"></i>

                            <!-- FILLED HEART -->
                            <i class="fa fa-heart " style="font-size: large;" (click)="onremoveWishlist(rowData)" [hidden]=" !rowData['wishlist']"></i>
                           <!-- (click)="isheart()" -->
                        </div>
                   </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </td>
                </tr>
            </ng-template>

           <ng-template pTemplate="summary">
                There are {{ outletTable?.length }} Materials

                <div class="row">
                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                        {{ i + 1 }}. {{ a.material_code}} -- {{ a.material_type }} -- {{ a.material_name}}
                    </div>
                </div>
            </ng-template>
        </p-table>
          </div>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Raw Material" rightIcon="fa fa-pepper-hot">
        <div class="row mt-4">
           
            <!-- ALL TABLE TAB -->
          <div class="col">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>
            <ng-template pTemplate="caption">

                <div class="row">
                    <div class="col-lg-3" style="text-align: left;">
                        <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                        selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>
                    </div>                   
                 
                    <div class="col-lg-6" style="text-align: center;">
                        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                        <input type="text" pInputText size="80" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                    </div>

                    <div class="col-lg-3" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 100px;">Export</button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="width: 250px;">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
                <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                    </th>
                </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                    </td>                 
               
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_code']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_type']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_name']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['category']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avail_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['closing_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avg_stock_unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                      <div>
                            {{rowData['alert_activity_supplier']}}
                            <i class="fa fa-info-circle" style="font-size: large;" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            <i class="pi pi-heart " style="font-size: large;"  [hidden]=" rowData['wishlist']"></i>
                            <i class="fa fa-heart " style="font-size: large;" [hidden]=" !rowData['wishlist']"></i>
                           <!-- (click)="isheart()" -->
                        </div>
                   </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                There are {{ outletTable?.length }} Materials

                <div class="row">
                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                        {{ i + 1 }}. {{ a.material_code}} -- {{ a.material_type }} -- {{ a.material_name}}
                    </div>
                </div>
            </ng-template>
        </p-table>
          </div>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Retail Food" rightIcon="fa fa-pizza-slice">
        <div class="row mt-4">
           
            <!-- ALL TABLE TAB -->
          <div class="col">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>
            <ng-template pTemplate="caption">

                 <div class="row">
                    <div class="col-lg-3" style="text-align: left;">
                        <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                        selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>
                    </div>                   
                 
                    <div class="col-lg-6" style="text-align: center;">
                        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                        <input type="text" pInputText size="80" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                    </div>

                    <div class="col-lg-3" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 100px;">Export</button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="width: 250px;">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
       <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                    </th>
                </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                    </td>                 
               
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_code']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_type']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_name']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['category']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avail_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['closing_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avg_stock_unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                      <div>
                            {{rowData['alert_activity_supplier']}}
                            <i class="fa fa-info-circle" style="font-size: large;" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            <i class="pi pi-heart " style="font-size: large;"  [hidden]=" rowData['wishlist']"></i>
                            <i class="fa fa-heart " style="font-size: large;" [hidden]=" !rowData['wishlist']"></i>
                           <!-- (click)="isheart()" -->
                        </div>
                   </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </td>
                </tr>
            </ng-template>

           <ng-template pTemplate="summary">
                There are {{ outletTable?.length }} Materials

                <div class="row">
                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                        {{ i + 1 }}. {{ a.material_code}} -- {{ a.material_type }} -- {{ a.material_name}}
                    </div>
                </div>
            </ng-template>
        </p-table>
          </div>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Retail Beverages" rightIcon="fa fa-glass">
        <div class="row mt-4">
           
            <!-- ALL TABLE TAB -->
          <div class="col">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>
            
            <ng-template pTemplate="caption">

                 <div class="row">
                    <div class="col-lg-3" style="text-align: left;">
                        <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                        selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>
                    </div>                   
                 
                    <div class="col-lg-6" style="text-align: center;">
                        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                        <input type="text" pInputText size="80" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                    </div>

                    <div class="col-lg-3" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 100px;">Export</button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="width: 250px;">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
       <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                    </th>
                </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                    </td>                 
               
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_code']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_type']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_name']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['category']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avail_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['closing_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avg_stock_unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                      <div>
                            {{rowData['alert_activity_supplier']}}
                            <i class="fa fa-info-circle" style="font-size: large;" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            <i class="pi pi-heart " style="font-size: large;"  [hidden]=" rowData['wishlist']"></i>
                            <i class="fa fa-heart " style="font-size: large;" [hidden]=" !rowData['wishlist']"></i>
                           <!-- (click)="isheart()" -->
                        </div>
                   </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </td>
                </tr>
            </ng-template>

           <ng-template pTemplate="summary">
                There are {{ outletTable?.length }} Materials

                <div class="row">
                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                        {{ i + 1 }}. {{ a.material_code}} -- {{ a.material_type }} -- {{ a.material_name}}
                    </div>
                </div>
            </ng-template>
        </p-table>
          </div>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Liquour" rightIcon="fa fa-cocktail">
        <div class="row mt-4">
           
            <!-- ALL TABLE TAB -->
          <div class="col">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
            sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" frozenWidth="250px" #dt>
            <ng-template pTemplate="caption">

                 <div class="row">
                    <div class="col-lg-3" style="text-align: left;">
                        <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                        selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>
                    </div>                   
                 
                    <div class="col-lg-6" style="text-align: center;">
                        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                        <input type="text" pInputText size="80" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                    </div>

                    <div class="col-lg-3" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 100px;">Export</button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                        style="width: 250px;">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
       <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                    </th>
                </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                    </td>                 
               
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_code']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_type']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['material_name']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['category']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avail_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['closing_stock']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            {{rowData['avg_stock_unit']}}
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                      <div>
                            {{rowData['alert_activity_supplier']}}
                            <i class="fa fa-info-circle" style="font-size: large;" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td class="ui-resizable-column">
                        <div>
                            <i class="pi pi-heart " style="font-size: large;"  [hidden]=" rowData['wishlist']"></i>
                            <i class="fa fa-heart " style="font-size: large;" [hidden]=" !rowData['wishlist']"></i>
                           <!-- (click)="isheart()" -->
                        </div>
                   </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: '100px';">
                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </td>
                </tr>
            </ng-template>

           <ng-template pTemplate="summary">
                There are {{ outletTable?.length }} Materials

                <div class="row">
                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                        {{ i + 1 }}. {{ a.material_code}} -- {{ a.material_type }} -- {{ a.material_name}}
                    </div>
                </div>
            </ng-template>
        </p-table>
          </div>
    </div>
    </p-tabPanel>
</p-tabView>
    
    </mat-card>
</div>

