<kt-notice>
    Cash Management
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Today's Opening Balance</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Current Balance</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Today'sCash Out</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Orders (Cash)</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Expenses (Cash)</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Other Non-Expenses</h5>
                    <h3 class="card-text">23000</h3>
                </div>
            </div>
        </div>
    </div>
</kt-notice>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Start table @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<kt-notice>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12" style="display: flex;">
                    <mat-form-field style="width: 100%; flex: 6;">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
                    <button style="flex: 1;" type="button" class="btn btn-primary" routerLink="/ngbootstrap/cash-mgt-add-expenses">Add Expenses</button>
                    <button style="flex: 1;" type="button" class="btn btn-primary ml-2" routerLink="/ngbootstrap/cash-mgt-remove-cash">Remove Cash</button>
                    <button style="flex: 1;" type="button" class="btn btn-primary ml-2"
                        routerLink="/ngbootstrap/cash-mgt-add-cash">Add Cash</button>
                </div>
                <div class="col-lg-12">

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                        <!-- Position Column -->
                        <ng-container matColumnDef="Time">
                            <th mat-header-cell *matHeaderCellDef> Time</th>
                            <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="CashInOut">
                            <th mat-header-cell *matHeaderCellDef> Cash In / Cash Out </th>
                            <td mat-cell *matCellDef="let element"> {{element.CashInOut}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef> Amount</th>
                            <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Category">
                            <th mat-header-cell *matHeaderCellDef> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Note">
                            <th mat-header-cell *matHeaderCellDef> Note </th>
                            <td mat-cell *matCellDef="let element"> {{element.Note}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="DoneBy">
                            <th mat-header-cell *matHeaderCellDef> Done By </th>
                            <td mat-cell *matCellDef="let element"> {{element.DoneBy}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                            <td mat-cell *matCellDef="let element"> {{element.Action}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</kt-notice>