
  .custom-edit{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    text-align: center
  }

  .ui-datatable{
    overflow : auto
}