<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/employee-management">Back</button>

    <mat-card class="mt-4">

        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 ">
                <button class="btn btn-success float-right" (click)="onReceiveEmi()">Receive EMI</button>
            </div>
        </div>
       
        <div class="row mt-4">
            <div class="col-md-4">
                <mat-card>
                    <table>
                        <tr>
                            <th>Total Loan Disbursement</th>
                        </tr>
                        <tr>
                           <td>₹ 12,00,000</td>
                        </tr>
                    </table>
                </mat-card>
            </div>
            <div class="col-md-4">
              
                <mat-card>
                    <table>
                        <tr>
                            <th>Total Pending Loan</th>
                        </tr>
                        <tr>
                           <td>₹ 1,50,000</td>
                        </tr>
                    </table>
                </mat-card>
             
            </div>
            <div class="col-md-4">
                <mat-card>
                    <table>
                        <tr>
                            <th>Ongoing Loans</th>
                        </tr>
                        <tr>
                           <td>5</td>
                        </tr>
                    </table>
                </mat-card>
            </div>
        </div>
        <div class="row mt-4">
            <p-table [value]="rows">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Loan Amount
                        </th>
                        <th>
                            Pending Amount
                        </th>
                        <th>
                            EMI/Month
                        </th>
                        <th>
                            Status
                        </th>                   
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"let-row>
                    <tr >
                        <td>
                            {{row.date}}
                        </td>
                        <td>
                         <button class="custom-edit" (click)="onViewLoan(row.employee)">{{row.employee}}</button>   
                        </td>
                        <td>
                            {{row.loan | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.pending | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.emi | currency: 'INR'}}
                        </td>
                        <td>
                            {{row.status}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
     


        </mat-card>
        </div>