
<kt-notice>
        Suitable Supplier
        <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/live-inventory">Back</button>
    </kt-notice>
    
    
    <div class="row">
        <div class="col-lg-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>
    
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    
                <!-- Position Column -->
                <ng-container matColumnDef="mcode">
                    <th mat-header-cell *matHeaderCellDef> Supplier </th>
                    <td mat-cell *matCellDef="let element"> {{element.mcode}} </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="mcategory">
                    <th mat-header-cell *matHeaderCellDef> Average Cost of 3 POS (For M001 Curry Cut Chiken) </th>
                    <td mat-cell *matCellDef="let element"> {{element.mcategory}} </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="mname">
                    <th mat-header-cell *matHeaderCellDef>Late GR </th>
                    <td mat-cell *matCellDef="let element"> {{element.mname}} </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="productsasso">
                    <th mat-header-cell *matHeaderCellDef>Returns </th>
                    <td mat-cell *matCellDef="let element"> {{element.productsasso}} </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef> Dish Feedback </th>
                    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
        </div>
    </div>