<kt-notice>
    Inventory
    <button type="button" class="btn btn-primary ml-2 float-right"
        routerLink="/ngbootstrap/purchase-order-raise-po">Back</button>
</kt-notice>


<kt-notice>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Beverages
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Row Materials
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Liquor
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        Liquor
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="col-lg-12">
                            <div style="display:flex;">
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">ABC</a>
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="badge badge-primary">PQR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary">Add to Cart</button>
    </div>
</kt-notice>