<kt-notice>
    Cash Management / Payment Details
    <button type="button" class="btn btn-primary float-right"
        routerLink="/ngbootstrap/cash-mgt-add-expenses">Back</button>
</kt-notice>

<div class="row">
    <div class="col-lg-10" style="margin: auto;">
        <kt-notice>
            <div class="row">
                <div class="col-lg-12" style="display: flex;">
                    <div style="flex: 1;">
                        <span>GR/PO no</span>
                        <h5><label>AACC2211</label></h5>
                    </div>

                    <div style="flex: 1;">
                        <span>Date of PO Raised</span>
                        <h5><label>02/02/2020</label></h5>
                    </div>

                    <div style="flex: 1;">
                        <span>Stock Status</span>
                        <h5><label>Received</label></h5>
                    </div>

                    <div style="flex: 1;">
                        <span>Stock received Date</span>
                        <h5><label>02/02/2020</label></h5>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Particulars</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                    <tr>
                        <td>Frozen Chicken Breast - Bonless</td>
                        <td>200.00</td>
                        <td>5</td>
                        <td>1000.00</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <h6>Extra Charges :<label class="ml-2">200.00</label></h6>
                        <h6>Tax :<label class="ml-2">200.00</label></h6>
                        <h3>Total :<label class="ml-2">200.00</label></h3>
                    </div>
                </div>
            </div>
        </kt-notice>
    </div>
</div>