<kt-notice>
    Good Received
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>Outlet 01: Durga, Kotharud</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="Upcoming">
                    <div style="display: flex;">
                        <div>
                            <button type="button" class="btn btn-primary" routerLink="/ngbootstrap/add-to-stock-multiple-item">Add
                                to
                                Stock</button>&nbsp;
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" routerLink="/ngbootstrap/cancel-order-multiple-item">Cancel
                                Order</button>
                        </div>
                    </div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>

                    <table mat-table [dataSource]="Submit_dataSource" class="mat-elevation-z8" style="width: 100%;">

                        <!-- Checkbox Column -->
                      <!--   <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container> -->
                        
                        <ng-container matColumnDef="purchaseorderId">
                            <th mat-header-cell *matHeaderCellDef> PO Number</th>
                            <td mat-cell *matCellDef="let element">
                              
<a class="text-gray font-xs text-500 text-underline" href="javascript:void(0)" >{{element.purchaseorderId}}</a>

                                </td>
                        </ng-container>
                        
                         <!-- Symbol Column -->
                         <ng-container matColumnDef="supplierName">
                            <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                            <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.supplierId.supplierDetails.supplierName}} </td>
                        </ng-container>
                        
                         <!-- Weight Column -->
                         <ng-container  matColumnDef="materialName">
                            <th mat-header-cell *matHeaderCellDef> Material Name</th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">    
                                            <br><li style="list-style: none;"> {{item.materialName}}
                                            </li>  
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>
                         <!-- Symbol Column -->
                         <ng-container  matColumnDef="orderQty">
                            <th mat-header-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">    
                                        <br><li  style="list-style: none;">{{item.orderQty}}
                                        </li>
                                            
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>

                        
                         <!-- Symbol Column -->
                         <ng-container matColumnDef="podate">
                            <th mat-header-cell *matHeaderCellDef> Request Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.purchaseOrder.podate}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="estimateddeliverytime">
                            <th mat-header-cell *matHeaderCellDef> Expected Delivery Range </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">                  
                                       <br><li style="list-style: none;">{{item.estimateddeliverytime}}       
                                       </li>          
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>

                     <!--    <ng-container matColumnDef="Fresh/Replaced">
                            <th mat-header-cell *matHeaderCellDef> Fresh/Replaced </th>
                            <td mat-cell *matCellDef="let element"> {{element.Fresh/Replaced}} </td>
                        </ng-container>
 -->
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-primary" (click)="addToStock(element.purchaseorderId,element)"
                                    routerLink="/ngbootstrap/add-to-stock">Add to Stock</button>
                            </td>
                        </ng-container>

                       <!--  <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>PO Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
 -->
                        <!-- <ng-container matColumnDef="ItemCode">
                            <th mat-header-cell *matHeaderCellDef> Item Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.ItemCode}} </td>
                        </ng-container>
 -->
                       
                       
                       

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@ Received Tab Start @@@@@@@@@@@@@@@@@@@@@ -->
             <!--    <mat-tab label="Received">
                    <div style="display: flex;">
                        <div>
                            <button type="button" class="btn btn-primary" routerLink="/ngbootstrap/add-to-stock">Add
                                to
                                Stock</button>&nbsp;
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary " routerLink="/ngbootstrap/cancel-order-multiple-item">Cancel
                                Order</button>
                        </div>
                    </div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>GR Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ItemCode">
                            <th mat-header-cell *matHeaderCellDef> PO Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.ItemCode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ItemName">
                            <th mat-header-cell *matHeaderCellDef> Item Name & Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.ItemName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="OrderQty">
                            <th mat-header-cell *matHeaderCellDef>Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.OrderQty}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Supplier">
                            <th mat-header-cell *matHeaderCellDef> Received Qty. </th>
                            <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
                        </ng-container>

                        <ng-container matColumnDef="RequestDate">
                            <th mat-header-cell *matHeaderCellDef> Supplier </th>
                            <td mat-cell *matCellDef="let element"> {{element.RequestDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="EstimatedDeliveryDate">
                            <th mat-header-cell *matHeaderCellDef> Request Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.EstimatedDeliveryDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Delivered On </th>
                            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Activity </th>
                            <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-primary"
                                    routerLink="/ngbootstrap/replace-goods-single-item">Replace Goods</button>&nbsp;
                                <button type="button" class="btn btn-primary " routerLink="/ngbootstrap/cancel-order-single-item">Return Goods</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </mat-tab> -->
                <!-- @@@@@@@@@@@@@@@ Return Tab Start @@@@@@@@@@@@@@@@@@@@@ -->
                <!-- <mat-tab label="Return">
                </mat-tab> -->
            </mat-tab-group>
        </div>
    </div>
</kt-notice>