<kt-notice>
    Purchase Order / Raise a PO
    <button type="button" class="btn btn-primary ml-2 float-right"
       (click)="backBtnOnPORaise()">Back</button>
</kt-notice>


<kt-notice>
    <div class="d-flex justify-content-between">
     <label class="a"> Cart</label>
     <div class="col-lg-12">
        <button type="button" class="btn btn-primary ml-2 float-right"
        (click)= "open(mymodal)">Add
             Material</button>
    </div>
    </div>
   
    <form [formGroup]="ProductForm">
        <div class="abc">
            
            <div class="col-lg-12 mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No</th>
                            <th scope="col">Material Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Current Stock</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Order Qty.</th>
                            <th scope="col">Price / Unit</th>
                            <th scope="col">Total Purchase Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="totalPurchaseArr">
                        <tr *ngFor= "let t of items().controls; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td> 
                                <div [formGroupName]="i" class="form-group">
                                    <input type="string" class="form-control" formControlName="materialName" readOnly>
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i" class="form-group">
                                    <input type="string" class="form-control" formControlName="itemNumber">
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i"class="form-group">
                                    <input type="string" formControlName="supplier" (click)="open(content,t)"
                                        class="form-control" readonly>
                                        <!-- <select  formControlName="supplier" (click)="open(content)" (change)="Selectedsupplier($event)">
                                            <option *ngFor="let a of AllSuppliers" [value]="a.supplierName">
                                               
                                                    <h4>{{a.supplierName}}</h4> <br>
                                                     
                                               
                                            </option>
                                        </select> -->

                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i"class="form-group">
                                    <input type="string" class="form-control" formControlName="currentStock">
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i"class="form-group">
                                    <input type="string" class="form-control" formControlName="unit">
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i" class="form-group">
                                    <input type="string" class="form-control" formControlName="orderQty"
                                    (keyup)="totalPrice(t)">
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i" class="form-group">
                                    <input type="string" class="form-control" formControlName="priceUnit"
                                        (keyup)="totalPrice(t)">
                                </div>
                            </td>
                            <td>
                                <div [formGroupName]="i" class="form-group">
                                    <input type="string" class="form-control" formControlName="totalpurchaseprice"
                                        readOnly>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" style="text-align: center;margin-top: 1rem;">
                                <i class="form-control" class="fa fa-trash" aria-hidden="true" style="color:black;"
                                (click)="removeItems(i)"> </i>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>

            <div class="d-flex justify-content-around">
                <div class="text-center" >
                    <button type="button" class="btn btn-primary"
                     (click)="GeneratePO()">Generate</button>
                </div>
                <div class="text-center" > 
                  <button type="button" class="btn btn-primary"
                    (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</kt-notice>

<div class="kt-section">
    <span *ngIf="closeResult" class="kt-section__sub">
        <pre>{{closeResult}}</pre>
    </span>
    <div class="kt-section__content">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">

                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <h2>List Of Suppliers</h2>
                <div *ngFor="let a of AllSuppliers">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" (click)="SetSupplier(a);d('Cross click')" value="option1">
                        <label class="form-check-label" for="exampleRadios1" style="color: black;">
                           <b> {{a.supplierDetails.supplierName}}</b> 
                        </label>
                      </div>
                  <br>
                     {{a.supplierDetails.city}}<br>
                 <!--    {{a.supplierContactNo.contactNo}}<br> -->
                    {{a.supplierDetails.gstNo}}<br>
                    {{a.supplierId}}
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" (click)="c('Close click')"
                    routerLink="/ngbootstrap/add-supplier">Add Suppliers</button>
            </div>
        </ng-template>

    </div>
</div>


<ng-template  #mymodal let-modal >
    <div class="abc">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Material</h4>
            <button type="button"class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <kt-notice>
                Selected Material
                <div *ngIf="showNoMaterialSelected">
                   <b> No Material Selected!</b>
                 </div>
                <div class="">
                    <div *ngFor="let s of addMaterialSelectedItems" >
                        <div style="display:flex;">
                            <mat-chip-list>
                                <mat-chip color="primary" [selected]="true">{{s.item.subSubCategoryTypeName}}<i class="fas fa-times-circle ml-2" (click)="removeMoreInfo(s)"></i></mat-chip>
                           </mat-chip-list>
                        </div>
                    </div>
                </div>
              </kt-notice>
            
            <kt-notice>
                <div id="accordion">
                    <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="d-flex justify-content-around">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Beverages
                                </button>
                            </h5>
                        </div>
            
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let s of beveragesCategories" >
                                        <div style="display:flex;">
                                            <mat-chip-list>
                                        
                                                <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('BevGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                            </mat-chip-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Liqour
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let s of liquorCategories" >
                                        <div style="display:flex;">
                                            <mat-chip-list>
                                        
                                                <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('LiqourGrp',s)">{{s.liquorSubSubVarientTypeName}}</mat-chip>
                                               </mat-chip-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Retail Food
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let s of retailFoodCategories">
                                        <div style="display:flex;">
                                           
                                            <mat-chip-list>
                                                <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('RetGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                               
                                           </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                   Food Inventory
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let s of inventoryFoodCategories " >
                                        <div style="display:flex;">
                                            <mat-chip-list>
                                        
                                                <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('InvGrp',s)">{{s.subSubCategoryTypeName}}</mat-chip>
                                               </mat-chip-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <kt-notice>
                    Selected Product
                    <div *ngIf="showNoProductSelected">
                       <b> No Product Selected!</b>
                     </div>
                    <div class="">
                        <div *ngFor="let p of productNames" >
                            <div style="display:flex;">
                                <mat-chip-list>
                                    <mat-chip color="primary" [selected]="true">{{p}}<i class="fas fa-times-circle ml-2" (click)="removeSelectedProductInfo(p)"></i></mat-chip>
                               </mat-chip-list>
                            </div>
                        </div>
                    </div>
                  </kt-notice>
                <div class="d-flex justify-content-around"> 
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                    aria-controls="collapseFive" (click)="patchProduct()">
                                   Products
                                </button>
                            </h5>
                        </div>
            
                        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let p of productArr" >
                                        <div style="display:flex;">
                                            <mat-chip-list>
                                        
                                                <mat-chip color="primary" [selected]="true" (click)="selectProductInfo(p.productName)">{{p.productName}}</mat-chip>
                                            </mat-chip-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix" (click)="patchProduct()">
                                   Brands
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let p of productArr" >
                                        <div style="display:flex;">
                                            <mat-chip-list>
                                        
                                                <mat-chip color="primary" [selected]="true"  (click)="selectProductBrandInfo(p.productBrand)">{{p.productBrand}}</mat-chip>
                                               </mat-chip-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
                </div>
                <div>

                </div>
                <div class="text-center mt-3">
                    <button type="button" #closeModal data-target="#mymodal" class="btn btn-primary" data-dismiss="modal" (click)="SaveAllCategories()" >Add to Cart</button>
                </div>
            </kt-notice>
            <ngx-spinner bdColor="rgba(51,51,51,0.8)">
                <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
                <h2 class="text-center" style="color:white">Bizly</h2>
                <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
            </ngx-spinner>
            
        </div>
       <!--  <div class="modal-footer">
          <button type="button" id='closeModal' class="btn btn-outline-dark" (click)="clickMe()">Ok</button>
        </div> -->
    </div>
</ng-template>