<kt-notice>
    Closing Stock Audit
    <!-- <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/live-inventory">Back</button> -->
</kt-notice>


<kt-notice>
    <div class="row">
        <div class="col-lg-12">
            <div class="float-left">
                <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/update-stocks">Update
                    Stocks</button>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>
            <!-- new bulk order -->

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                <!-- Position Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lowStockR">
                    <th mat-header-cell *matHeaderCellDef> Low Stock <br>Row Materials </th>
                    <td mat-cell *matCellDef="let element"> {{element.lowStockR}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="outStockR">
                    <th mat-header-cell *matHeaderCellDef> Out of Stock <br>Row Materials </th>
                    <td mat-cell *matCellDef="let element"> {{element.outStockR}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lowstockRetail">
                    <th mat-header-cell *matHeaderCellDef> Low stock retail </th>
                    <td mat-cell *matCellDef="let element"> {{element.lowstockRetail}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="outofStockRetail">
                    <th mat-header-cell *matHeaderCellDef> Out of Stock Retail </th>
                    <td mat-cell *matCellDef="let element"> {{element.outofStockRetail}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="liquorOutofStock">
                    <th mat-header-cell *matHeaderCellDef> Liquor Out of Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.liquorOutofStock}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="liquorLowStock">
                    <th mat-header-cell *matHeaderCellDef> Liquor Low Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.liquorLowStock}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <div class="col-lg-12 mt-2">
            <div class="text-center">
                <button type="button" class="btn btn-primary" routerLink="/ngbootstrap/update-stocks">Update
                    Stocks</button>
            </div>
        </div>
    </div>
</kt-notice>