

<div class="container">
    <mat-card>
      <h5>View Role</h5>  
    </mat-card>

    <mat-card class="mt-4">
        <form action="" [formGroup]="roleForm">
      
       
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Access Controls</label>
                        <input type="char" class="form-control" placeholder="Access Control Screen" formControlName="id">
                    </div>
                </div>
            </div>
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">No. of Users</label>
                        <input type="char" class="form-control" placeholder="13" formControlName="name">
                    </div>
                </div>
            </div>
        
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">All Users</label>
                        <input type="char" class="form-control" placeholder="All Users List" formControlName="access">
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                      <textarea class="form-control" placeholder="Description" cols="60" rows="4" formControlName="desc"></textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Notice/Circular</label>
                        <input type="char" class="form-control" placeholder="Notice/Circular" formControlName="access">
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Created</label>
                        <input type="char" class="form-control" placeholder="12/01/2020" formControlName="access">
                    </div>
                </div>
            </div>
        </form> 
    </mat-card>
  

    <!-- edited history -->

    <mat-card class="mt-4">
        <div class="row">
            <h4>Edit history</h4>
        </div>

        <!-- Version 1 -->
        <div class="row">
            <h5>Version 1</h5>
        </div>

        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h5>Edited date & time</h5>
                            </th>
                            <th scope="col" colspan="3" class="text-center">
                               <h5>Edited date & time</h5> 
                            </th>
                            <th scope="col">
                                <h5>Edited by</h5>
                            </th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>
                                15-01-2020
                            </td>
                            <td>
                                <b>Before Data</b>
                                   <div>Roles</div> 
                                    Mike Acosta and 12 more
                            </td>
                            <td>
                                <b>After Data</b>
                                   <div>Roles</div> 
                                    Mike Acosta and 13 more
                            </td>
                            <td>
                                <b>Data Added </b>
                                   <div>Role</div> 
                                  CMD
                            </td>
                            <td>
                                Sanket
                            </td>
                        </tr>
                    </tbody>
                   
                </table>
        </div>

        <!-- version 2 -->
        <div class="row">
            <h5>Version 2</h5>
        </div>

        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h5>Edited date & time</h5>
                            </th>
                            <th scope="col" colspan="3" class="text-center">
                               <h5>Edited date & time</h5> 
                            </th>
                            <th scope="col">
                                <h5>Edited by</h5>
                            </th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>
                                15-01-2020
                            </td>
                            <td>
                                <b>Before Data</b>
                                   <div>Roles</div> 
                                    Mike Acosta and 12 more
                            </td>
                            <td>
                                <b>After Data</b>
                                   <div>Roles</div> 
                                    Mike Acosta and 13 more
                            </td>
                            <td>
                                <b>Data Added </b>
                                   <div>Role</div> 
                                  CMD
                            </td>
                            <td>
                                Sanket
                            </td>
                        </tr>
                    </tbody>
                   
                </table>
        </div>
    </mat-card>
</div>