<kt-notice>
    Replace Goods Single Item(For Single Item Selection)
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/good-received">Back</button>
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">PO Number</label>
                <input type="Number" class="form-control" placeholder="PO Number">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Supplier</label>
                <input type="Number" class="form-control" placeholder="Supplier">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Today's Date</label>
                <input type="Date" class="form-control" placeholder="Date">
            </div>
        </div>

        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Item</th>
                        <th scope="col">Category</th>
                        <th scope="col">Order Qty.</th>
                        <th scope="col">Return Qty.</th>
                        <th scope="col">Select Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>MDR Chilly Powder (200 Grams)</td>
                        <td>Before Time</td>
                        <td>20</td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>MDR Chilly Powder (200 Grams)</td>
                        <td>Before Time</td>
                        <td>20</td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td>MDR Chilly Powder (200 Grams)</td>
                        <td>Before Time</td>
                        <td>20</td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary">Initiate Return</button>
            </div>
        </div>
    </div>
</kt-notice>