<kt-notice>
    Add Supplier
    <button type="button" class="btn btn-primary ml-2 float-right"
        routerLink="/ngbootstrap/purchase-order-raise-po">Back</button>
</kt-notice>

<kt-notice>
    <form [formGroup]="addsupplierForm">
    <div class="row">
       
        <div class="col-lg-6">
            <div class="form-group">
                <label>Supplier Name</label>
                <input type="char" class="form-control" formControlName="supplierName">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Area / Locality</label>
                <input type="char" class="form-control" formControlName="area">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Contact Number</label>
                <input type="number" class="form-control" formControlName="contactNo">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Email Id</label>
                <input type="varchar" class="form-control" formControlName="email">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Pan Number</label>
                <input type="varchar" class="form-control" formControlName="panNumber">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>GST Number</label>
                <input type="varchar" class="form-control" formControlName="gstinno">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="Save_Suppliers()">Save</button>
            </div>
        </div>
     
    </div>
</form>
</kt-notice>