<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee-management">Back</button>

    <mat-card class="mt-4">



        <!-- Dropdown user list -->
        <div class="row mt-4">
            <div class="col-md-3">
                <ng-multiselect-dropdown [placeholder]="'Select Employees'" [data]="dropdownList"
                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedItems"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-6">
                <h5 class="text-center">Employee List</h5>
                <mat-chip-list>

                    <mat-chip class="ml-2 mt-2" *ngFor="let emp of selectedItems">
                        {{emp.employee}}
                    </mat-chip>

                </mat-chip-list>
            </div>
        </div>
        <form action="" [formGroup]="salStruForm">
            <!-- Salary -->
            <!-- Salary row -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Enter Salary Amount</b>
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" formControlName="salary_amt" placeholder="Salary Amount">
                </div>
            </div>

            <!-- Allowance -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Enter Allowances</b>
                </label>
                <div class="col-sm-6">

                    <mat-chip-list>
                        <mat-chip class="ml-2 mt-2 mychip" *ngFor="let a of allowArr">

                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="text-center">{{a.allowName}}

                                            </h6>
                                        </td>
                                        <td>
                                            <i class="fas fa-times-circle ml-2"
                                                style="margin-left: 10px;font-size: 14px;" (click)="removeAllow(a)"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="text-center"> {{a.allowAmt}}</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-chip>
                    </mat-chip-list>

                </div>
                <div class="col-sm-3">
                    <table border=1>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" formControlName="allowance_name"
                                        placeholder="Enter Name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" formControlName="allowance_amt"
                                        placeholder="Enter Amount">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button mat-raised-button color="primary" class="mt-2 ml-4" (click)="addAllowance()">Add</button>
                </div>
            </div>

            <!-- Deduction -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Enter Deduction</b>
                </label>
                <div class="col-sm-6">

                    <mat-chip-list>
                        <mat-chip class="ml-2 mt-2 mychip" *ngFor="let a of deductArr">

                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="text-center">{{a.deductName}}

                                            </h6>
                                        </td>
                                        <td>
                                            <i class="fas fa-times-circle ml-2"
                                                style="margin-left: 10px;font-size: 14px;"
                                                (click)="removeDeduct(a)"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="text-center"> {{a.deductAmt}}</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-chip>
                    </mat-chip-list>

                </div>
                <div class="col-sm-3">
                    <table border=1>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" formControlName="deduction_name"
                                        placeholder="Enter Name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" formControlName="deduction_amt"
                                        placeholder="Enter Amount">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button mat-raised-button color="primary" class="mt-2 ml-4" (click)="addDeduction()">Add</button>
                </div>
            </div>


            <!-- SET OVER TIME -->
            <!-- <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Set Over Time</b>
                </label>
                <div class="col-sm-3">
                    <h6 class="text-center">Per Hours</h6>
                    <mat-chip-list>
                        <mat-chip class="ml-2 mt-2 mychip" style="height: 140px;" (dblclick)="onPerHour()">

                            <table style="width: 100%;">
                                <tbody>

                                   
                                    <tr>
                                        <td>
                                            <h6 class="text-center">
                                                Over time Rate
                                            </h6>
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td [hidden]="perHrEdit">
                                            <h6 class="text-center">{{perHrAmt}}</h6>
                                        </td>
                                        <td [hidden]="!perHrEdit">
                                            <input type="number" class="form-control" formControlName="overtime_amt"
                                        placeholder="Overtime Amount"><button (click)="addPerHr()">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="vl"></div>
              
                <div class="col-sm-5">
                    <h6 class="text-center">Fixed Hours</h6>
                    <mat-chip-list>
                        <mat-chip class="ml-2 mt-2 mychip" *ngFor="let f of fixedHrArr">

                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="text-center">{{f.fixedHr}}

                                            </h6>
                                        </td>
                                        <td>
                                            <i class="fas fa-times-circle ml-2"
                                                style="margin-left: 10px;font-size: 14px;" (click)="removeFixedHr(f)"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="text-center"> {{f.fixedRate}}</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </mat-chip>
                    </mat-chip-list>
                   
                    <table border=1 class="mt-2 ml-2" style="width: 40%;">
                        <tbody>                            
                            <tr>
                                <td>
                                    <input type="text" class="form-control" formControlName="fixed_hours"
                                        placeholder="Hours">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control" formControlName="fixed_amt"
                                        placeholder="Rate">
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="ml-4 mt-2">
                        <button (click)="addFixedHrs()">Add</button>
                    </div>
                </div>
            </div> -->

            <!-- SET INCENTIVE -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Enter Incentives Amount</b>
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" formControlName="incentives" placeholder="Incentives Amount">
                </div>
            </div>

            <div class="form-group row mt-4 ml-2">
                <div class="col"></div>
                <div class="col">
                 <button class="btn btn-primary" (click)="onAddSalary()"> Add Salary </button>  
                </div>
                <div class="col">
                    <input type="number" class="form-control" [value]="total" placeholder="Total Salary" readonly>
                </div>
            </div>

        </form>
    </mat-card>
</div>  