<kt-notice>
    Activities
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/live-inventory">Back</button>
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Total OrderLast Month</h5>
                    <h3 class="card-text">&#8377; 18000 (100 Kg)</h3>
                </div>
            </div>
        </div>

         <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Total Waste Last Month</h5>
                    <h3 class="card-text">&#8377; 180 (10 Kg)</h3>
                </div>
            </div>
        </div>
    </div>
   
   
        <div class="row">
            <div class="col-lg-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="pono">
                        <th mat-header-cell *matHeaderCellDef> PO Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.pono}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="itemname">
                        <th mat-header-cell *matHeaderCellDef> Item Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.itemname}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef>Brand </th>
                        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="orderQty">
                        <th mat-header-cell *matHeaderCellDef> Order Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element.orderQty}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef> Unit </th>
                        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="suppliers">
                        <th mat-header-cell *matHeaderCellDef> Suppliers </th>
                        <td mat-cell *matCellDef="let element"> {{element.suppliers}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1"> Waste Recorded </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Last Month</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Waste Qty</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Reported By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</kt-notice>