<kt-notice>
    Variance
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Oct 15 To Nov 14</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-tab-group>
                <!-- @@@@@@@@@@@@@@@@@@@ Submitted / In Review start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Oct 15(10:10pm) to Nov 15(10:10pm)">
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>

                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                                <!-- Position Column -->
                                <ng-container matColumnDef="MaterialCode">
                                    <th mat-header-cell *matHeaderCellDef> Material Code </th>
                                    <td mat-cell *matCellDef="let element"> {{element.MaterialCode}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="MaterialName">
                                    <th mat-header-cell *matHeaderCellDef> Material Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.MaterialName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="OpeningStock">
                                    <th mat-header-cell *matHeaderCellDef> Opening Stock </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="8Kg">
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="ClosingStock">
                                    <th mat-header-cell *matHeaderCellDef> Closing Stock </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="8Kg">
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="ActualConsumption">
                                    <th mat-header-cell *matHeaderCellDef> Actual Consumption & Unit </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ActualConsumption}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="EstimatedConsumption">
                                    <th mat-header-cell *matHeaderCellDef> Estimated Consumption </th>
                                    <td mat-cell *matCellDef="let element"> {{element.EstimatedConsumption}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="VarianceQty">
                                    <th mat-header-cell *matHeaderCellDef> Variance Qty. </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="8Kg">
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="VariancePer">
                                    <th mat-header-cell *matHeaderCellDef> Variance % </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="8Kg">
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="VarianceValue">
                                    <th mat-header-cell *matHeaderCellDef> Variance Value(Rs.) </th>
                                    <td mat-cell *matCellDef="let element"> {{element.VarianceValue}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@ Approved start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Oct 15(10:10pm) to Nov 6(10:10pm)">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Data Table</h4>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@ Received / Closed start @@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Nov 7(10:10pm) to Nov 14(10:10pm)">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary">Import</button>
                            <button type="button" class="btn btn-primary ml-2">Export</button>
                            <button type="button" class="btn btn-primary ml-2"
                                routerLink="/ngbootstrap/purchase-order-raise-po">Raise a PO</button>
                        </div>
                        <div class="col-lg-12">
                            <h4>Data Table</h4>

                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</kt-notice>