<kt-notice>
    Food Billing Inventory & Offline Exprerience
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/stockview">Back</button>
</kt-notice>

<div class="row">
    <div class="col-xl-12">
        <kt-notice>
            <form [formGroup]="addRetailProductForm">
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="char" class="form-control" placeholder="Name" formControlName="productName">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Category</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="productCategory">
                            <option>Fruits</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Brand</label>
                        <input type="char" class="form-control" placeholder="productBrand">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Attributes Sets</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="attributeSet"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-2" (click)="save_RetailProduct()" routerLink="/ngbootstrap/stockview">Add Product</button>&nbsp;
                        <button type="button" class="btn btn-primary mt-2" (click)="back_to_page()">Back</button>
                    </div>
                </div>
            </div>
        </form>
        </kt-notice>
    </div>
</div>