.custom-edit{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
   
    cursor: pointer;
}


.custom-scroll{
    margin:4px, 4px; 
    padding:4px; 
    height: 350px; 
    overflow: scroll;
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}


:host ::ng-deep{

    // .p-accordion .pi-chevron-right:before {
    //     display: none;
    // }
    
    // .p-accordion .pi-chevron-down:before{
    //     display: none;
    // }

    .p-accordion .p-accordion-header .p-accordion-header-link{
        display: none;
    }



    .p-dropdown{
        width: 'auto';
    }

  
}



.custom-hover :hover{
    background-color: #2196f3;
    color: white;
    
}


.custom-button {
    background-color: #2196f3;
    color: white;
   
}

