<div class="card ">

    <!-- Dropdown MENU ORGANIZATION OUTLET -->
    <div class="row  mt-2">
        <div class="col">
            <p-dropdown [options]="menuCards" class="ml-2" [(ngModel)]="selectedMenuCard" optionLabel="name" optionValue="value"></p-dropdown>
        </div>
        <div class="col">
            <p-dropdown [options]="organizations" [(ngModel)]="selectedOrg" optionLabel="name" optionValue="value"></p-dropdown>
            <p-dropdown [options]="outlets" class="ml-2" [(ngModel)]="selectedOutlet" optionLabel="name" optionValue="value"></p-dropdown>
        </div>
        <div class="col mr-4">
          
        </div>
    </div>

    

    <!-- TAB AND SETTING -->
    
      
            <p-tabView>
                <p-tabPanel header="Show Category Tree">
                    <!-- Tree Form Section -->
                    <div class="table-responsive mt-4   ">
                        <table class="table table-bordered">
                            <tr>
                              <td colspan="3">
                                  <button class="btn btn-sm custom-button">Add main catgory</button>
                                  <button class="btn btn-sm custom-button ml-2">Edit</button>
                                  <button class="btn btn-sm custom-button ml-2">Delete</button>
                                  <i class="pi pi-cog float-right" style="font-size: xx-large;"></i>
                              </td>  
                            </tr>
                            <tr>
                                <td style="width: 20%;">
                                    <p-tree scrollHeight="350px" [value]="categoryTree"></p-tree>
                                </td>
                                <td style="width: 30%;">
                                <div class="row">
                                    <button class="btn-sm custom-button" style="display: block; width: 50%;">Change Category</button>
                                    <button class="btn-sm custom-button" style="display: block;width: 50%;">Add Dish</button>
                                </div>
                                </td>
                                <td style="width: 50%">
                                    <div class="custom-scroll">
                                        <!-- **************************FORM SECTION*************************** -->
                                        <!-- #################  SELECT TYPE ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="email">Select Type:</label>
                                            <div class="col-sm-9">
                                                <p-selectButton [options]="typesArray" [(ngModel)]="selectedType">
                                                    <ng-template let-item>
                                                        <i [class]="item.name">
                                                            {{item.name}}
                                                        </i>
                                                    </ng-template>
                                                </p-selectButton>
                                            </div>
                                        </div>

                                        <!-- #################  SALE ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Sale:</label>
                                            <div class="col-sm-9">
                                                <p-selectButton [options]="salesArray" [(ngModel)]="selectedSale">
                                                    <ng-template let-item>
                                                        <i [class]="item.name">
                                                            {{item.name}}
                                                        </i>
                                                    </ng-template>
                                                </p-selectButton>
                                            </div>
                                        </div>

                                        <!-- #################  MENU NAME ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="email">Menu Name:</label>
                                            <div class="col-sm-9 ">
                                                <p-autoComplete [(ngModel)]="selectedMenu" [suggestions]="filteredMenu"
                                                    (completeMethod)="filterMenu($event)" field="name" [appendTo]='body'
                                                    (onclear)="onClearMenu()" [minLength]="1">
                                                    <ng-template let-menu pTemplate="item">
                                                        <div class="country-item">
                                                            <img src="assets/menu/nvegmark.jpg"
                                                                *ngIf="menu.type=='non-veg'"
                                                                style="width: 20px; height: 20px;" />
                                                            <img src="assets/menu/vegmark.jpg" *ngIf="menu.type=='veg'"
                                                                style="width: 20px; height: 20px;" />
                                                            <img src="assets/menu/fish.png" *ngIf="menu.type=='fish'"
                                                                style="width: 20px; height: 20px;" />
                                                            <img src="assets/menu/egg.jpg" *ngIf="menu.type=='egg'"
                                                                style="width: 20px; height: 20px;" />
                                                            <b class="ml-2"> {{menu.name}}</b>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                        </div>

                                        <!-- #################  TYPE ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Type:</label>
                                            <div class="col-sm-9">
                                                <p-selectButton [options]="typeMenuArray"
                                                    [(ngModel)]="selectedMenuType">
                                                    <ng-template let-item>
                                                        <img [src]="item.img" alt=""
                                                            style="width: 20px; height: 20px;" />
                                                    </ng-template>
                                                </p-selectButton>
                                            </div>
                                        </div>

                                        <!-- #################  DESCRIPTION ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="email">Description:</label>
                                            <div class="col-sm-9">
                                                <textarea [rows]="5" [cols]="35" pInputTextarea
                                                    [(ngModel)]="description" autoResize="autoResize"></textarea>
                                            </div>
                                        </div>
                                        <!-- #################  IMAGES ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Image:</label>
                                            <div class="col-sm-9">
                                                <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
                                                    accept="image/*">
                                                </p-fileUpload>
                                            </div>
                                        </div>
                                        <!-- #################  AVAIILABLE SIZE CARD GROUP ############################### -->

                                        <div class="form-group ">
                                            <label class="control-label " for="email">Available for Menu Cards:</label>
                                            <div class="">
                                                <p-selectButton [options]="availableFor" multiple='multiple'
                                                    [(ngModel)]="selectedAvailableFor">
                                                    <ng-template let-item>
                                                        <i [class]="item.name">
                                                            {{item.name}}
                                                        </i>
                                                    </ng-template>
                                                </p-selectButton>
                                            </div>
                                        </div>

                                        <!-- #################  SIZE GROUP ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Size Group:</label>
                                            <div class="col-sm-9">


                                                <!-- *********************** SELECTION OF SIZE GROUP******************************* -->


                                                <div [hidden]="hideSizeDropdown">
                                                    <p-accordion>
                                                        <p-selectButton [options]="sizePanelToggle"
                                                            (click)="sizeToggle()" [(ngModel)]="selectedSizePanel">
                                                            <ng-template let-item>
                                                                <i [class]="item.name">
                                                                    {{item.name}}
                                                                </i>
                                                            </ng-template>
                                                        </p-selectButton>

                                                        <p-accordionTab [(selected)]="toggleSizePanel">

                                                            <div>
                                                                <p-autoComplete [suggestions]="filteredSize"
                                                                    (completeMethod)="filterSize($event)" field="name"
                                                                    [appendTo]='body' (onclear)="onClearSize()"
                                                                    [minLength]="1">
                                                                    <ng-template let-size pTemplate="item">
                                                                        <div class="country-item ml-1"
                                                                            (click)="selectSizeGroup(size)">
                                                                            <span>
                                                                                <b>{{size.name}}</b>
                                                                                &nbsp;
                                                                                <small> ( {{size.units}} )</small>
                                                                            </span>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                                <button class="btn btn-sm float-right custom-button">
                                                                    <i>Create your own</i>
                                                                </button>
                                                            </div>


                                                            <div class="custom-scroll mt-2 border"
                                                                style="height: 200px;">
                                                                <div class="row border"
                                                                    *ngFor="let suggestion of SizeSuggestions">
                                                                    <div class="col-sm-12 mt-2">
                                                                        <h4 style="text-align: center;">
                                                                            {{suggestion.name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col-sm-6 custom-hover"
                                                                        *ngFor="let item of suggestion.items">
                                                                        <table class="table table-sm table-primary "
                                                                            (click)="selectSizeGroup(item)"
                                                                            style="cursor: pointer;">
                                                                            <tr>
                                                                                <th style="text-align: center;">
                                                                                    {{item.name}}
                                                                                </th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <small>
                                                                                        {{item.units}}
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </p-accordionTab>
                                                    </p-accordion>
                                                </div>

                                                <!-- *******************   SHOW SIZE GROUP *********************************** -->
                                                <div class="row" [hidden]="!hideSizeDropdown">

                                                    <div class="col-sm-6">
                                                        <table class="table table-sm table-primary ">
                                                            <tr>
                                                                <th style="text-align: center;">
                                                                    {{selectedSize.name}}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <small>
                                                                        {{selectedSize.units}}
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-sm  custom-button"
                                                            (click)="onEditSizeGroup()">
                                                            <i>Edit</i>
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <!-- #################  VARIENT GROUP ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Varient Group:</label>
                                            <div class="col-sm-9">


                                                <!-- *********************** SELECTION OF SIZE GROUP******************************* -->


                                                <div [hidden]="hideSizeDropdown">
                                                    <p-accordion>
                                                        <p-selectButton [options]="sizePanelToggle"
                                                            (click)="sizeToggle()" [(ngModel)]="selectedSizePanel">
                                                            <ng-template let-item>
                                                                <i [class]="item.name">
                                                                    {{item.name}}
                                                                </i>
                                                            </ng-template>
                                                        </p-selectButton>

                                                        <p-accordionTab [(selected)]="toggleSizePanel">

                                                            <div>
                                                                <p-autoComplete [suggestions]="filteredSize"
                                                                    (completeMethod)="filterSize($event)" field="name"
                                                                    [appendTo]='body' (onclear)="onClearSize()"
                                                                    [minLength]="1">
                                                                    <ng-template let-size pTemplate="item">
                                                                        <div class="country-item ml-1"
                                                                            (click)="selectSizeGroup(size)">
                                                                            <span>
                                                                                <b>{{size.name}}</b>
                                                                                &nbsp;
                                                                                <small> ( {{size.units}} )</small>
                                                                            </span>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                                <button class="btn btn-sm float-right custom-button">
                                                                    <i>Create your own</i>
                                                                </button>
                                                            </div>


                                                            <div class="custom-scroll mt-2 border"
                                                                style="height: 200px;">
                                                                <div class="row border"
                                                                    *ngFor="let suggestion of SizeSuggestions">
                                                                    <div class="col-sm-12 mt-2">
                                                                        <h4 style="text-align: center;">
                                                                            {{suggestion.name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col-sm-6 custom-hover"
                                                                        *ngFor="let item of suggestion.items">
                                                                        <table class="table table-sm table-primary "
                                                                            (click)="selectSizeGroup(item)"
                                                                            style="cursor: pointer;">
                                                                            <tr>
                                                                                <th style="text-align: center;">
                                                                                    {{item.name}}
                                                                                </th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <small>
                                                                                        {{item.units}}
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </p-accordionTab>
                                                    </p-accordion>
                                                </div>

                                                <!-- *******************   SHOW SIZE GROUP *********************************** -->
                                                <div class="row" [hidden]="!hideSizeDropdown">

                                                    <div class="col-sm-6">
                                                        <table class="table table-sm table-primary ">
                                                            <tr>
                                                                <th style="text-align: center;">
                                                                    {{selectedSize.name}}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <small>
                                                                        {{selectedSize.units}}
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-sm  custom-button"
                                                            (click)="onEditSizeGroup()">
                                                            <i>Edit</i>
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <!-- #################  ADD ONS GROUP ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Add Ons Group:</label>
                                            <div class="col-sm-9">


                                                <!-- *********************** SELECTION OF SIZE GROUP******************************* -->


                                                <div [hidden]="hideSizeDropdown">
                                                    <p-accordion>
                                                        <p-selectButton [options]="sizePanelToggle"
                                                            (click)="sizeToggle()" [(ngModel)]="selectedSizePanel">
                                                            <ng-template let-item>
                                                                <i [class]="item.name">
                                                                    {{item.name}}
                                                                </i>
                                                            </ng-template>
                                                        </p-selectButton>

                                                        <p-accordionTab [(selected)]="toggleSizePanel">

                                                            <div>
                                                                <p-autoComplete [suggestions]="filteredSize"
                                                                    (completeMethod)="filterSize($event)" field="name"
                                                                    [appendTo]='body' (onclear)="onClearSize()"
                                                                    [minLength]="1">
                                                                    <ng-template let-size pTemplate="item">
                                                                        <div class="country-item ml-1"
                                                                            (click)="selectSizeGroup(size)">
                                                                            <span>
                                                                                <b>{{size.name}}</b>
                                                                                &nbsp;
                                                                                <small> ( {{size.units}} )</small>
                                                                            </span>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                                <button class="btn btn-sm float-right custom-button">
                                                                    <i>Create your own</i>
                                                                </button>
                                                            </div>


                                                            <div class="custom-scroll mt-2 border"
                                                                style="height: 200px;">
                                                                <div class="row border"
                                                                    *ngFor="let suggestion of SizeSuggestions">
                                                                    <div class="col-sm-12 mt-2">
                                                                        <h4 style="text-align: center;">
                                                                            {{suggestion.name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col-sm-6 custom-hover"
                                                                        *ngFor="let item of suggestion.items">
                                                                        <table class="table table-sm table-primary "
                                                                            (click)="selectSizeGroup(item)"
                                                                            style="cursor: pointer;">
                                                                            <tr>
                                                                                <th style="text-align: center;">
                                                                                    {{item.name}}
                                                                                </th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <small>
                                                                                        {{item.units}}
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </p-accordionTab>
                                                    </p-accordion>
                                                </div>

                                                <!-- *******************   SHOW SIZE GROUP *********************************** -->
                                                <div class="row" [hidden]="!hideSizeDropdown">

                                                    <div class="col-sm-6">
                                                        <table class="table table-sm table-primary ">
                                                            <tr>
                                                                <th style="text-align: center;">
                                                                    {{selectedSize.name}}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <small>
                                                                        {{selectedSize.units}}
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-sm  custom-button"
                                                            (click)="onEditSizeGroup()">
                                                            <i>Edit</i>
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <!-- #################  Customer Preferences GROUP ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="pwd">Customer
                                                Preferences:</label>
                                            <div class="col-sm-9">


                                                <!-- *********************** SELECTION OF SIZE GROUP******************************* -->


                                                <div [hidden]="hideSizeDropdown">
                                                    <p-accordion>
                                                        <p-selectButton [options]="sizePanelToggle"
                                                            (click)="sizeToggle()" [(ngModel)]="selectedSizePanel">
                                                            <ng-template let-item>
                                                                <i [class]="item.name">
                                                                    {{item.name}}
                                                                </i>
                                                            </ng-template>
                                                        </p-selectButton>

                                                        <p-accordionTab [(selected)]="toggleSizePanel">

                                                            <div>
                                                                <p-autoComplete [suggestions]="filteredSize"
                                                                    (completeMethod)="filterSize($event)" field="name"
                                                                    [appendTo]='body' (onclear)="onClearSize()"
                                                                    [minLength]="1">
                                                                    <ng-template let-size pTemplate="item">
                                                                        <div class="country-item ml-1"
                                                                            (click)="selectSizeGroup(size)">
                                                                            <span>
                                                                                <b>{{size.name}}</b>
                                                                                &nbsp;
                                                                                <small> ( {{size.units}} )</small>
                                                                            </span>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                                <button class="btn btn-sm float-right custom-button">
                                                                    <i>Create your own</i>
                                                                </button>
                                                            </div>


                                                            <div class="custom-scroll mt-2 border"
                                                                style="height: 200px;">
                                                                <div class="row border"
                                                                    *ngFor="let suggestion of SizeSuggestions">
                                                                    <div class="col-sm-12 mt-2">
                                                                        <h4 style="text-align: center;">
                                                                            {{suggestion.name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col-sm-6 custom-hover"
                                                                        *ngFor="let item of suggestion.items">
                                                                        <table class="table table-sm table-primary "
                                                                            (click)="selectSizeGroup(item)"
                                                                            style="cursor: pointer;">
                                                                            <tr>
                                                                                <th style="text-align: center;">
                                                                                    {{item.name}}
                                                                                </th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <small>
                                                                                        {{item.units}}
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </p-accordionTab>
                                                    </p-accordion>
                                                </div>

                                                <!-- *******************   SHOW SIZE GROUP *********************************** -->
                                                <div class="row" [hidden]="!hideSizeDropdown">

                                                    <div class="col-sm-6">
                                                        <table class="table table-sm table-primary ">
                                                            <tr>
                                                                <th style="text-align: center;">
                                                                    {{selectedSize.name}}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <small>
                                                                        {{selectedSize.units}}
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-sm  custom-button"
                                                            (click)="onEditSizeGroup()">
                                                            <i>Edit</i>
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <!-- ################# TIME SLOT ############################### -->
                                        <div class="form-group row">
                                            <label class="control-label col-sm-3" for="email"> Choose Time
                                                Slots:</label>
                                            <div class="col-sm-9">
                                                <p-selectButton [options]="typesArray" [(ngModel)]="selectedType">
                                                    <ng-template let-item>
                                                        <i [class]="item.name">
                                                            {{item.name}}
                                                        </i>
                                                    </ng-template>
                                                </p-selectButton>
                                            </div>
                                        </div>


                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Show Table">
                    Content 2
                </p-tabPanel>
            </p-tabView>
       
   




</div>