<div class="card">

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary float-right mr-4" (click)="onPoList()">PO List</button>
        </div>
    </div>
    <p-tabView class="mt-2">
        <p-tabPanel header="{{tab.supplier}}" *ngFor="let tab of supplierpoList ">
            <!-- TABLE P TABLE -->
            <p-table [value]="tab.data">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Sr No.</th>
                        <th>Type</th>
                        <th>Material</th>
                        <th>Product</th>
                        <th>Unit</th>
                        <th>Supplier</th>
                        <th>Order Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Purchase</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-ri="rowIndex">
                    <tr>
                        <td>{{ri+1}}</td>
                        <td>{{row.type}}</td>
                        <td>{{row.material}}</td>
                        <td>{{row.product}}</td>
                        <td>{{row.unit}}</td>
                        <td>{{row.supplier}}</td>
                        <td>{{row.orderQuantity}}</td>
                        <td>{{row.unitPrice}}</td>
                        <td>{{row.totalPurchase}}</td>

                    </tr>
                </ng-template>
            </p-table>

            <!--###################################   SUBMIT BUTTON -->
            <!-- <div class="row mt-4">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <button *ngIf="tab.status=='draft'" class="btn btn-primary text-center"
                        (click)="onSubmitPo(tab)">Submit</button>
                    <button *ngIf="tab.status=='approve'" class="btn btn-success text-center">Approved</button>
                </div>
                <div class="col-lg-4"></div>
            </div> -->

            <div class="row mt-4">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">
                    <!-- TOTAL PURCHASE -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Total Purchase</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <!-- TOTAL DISCOUNT -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Total Discount</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <!-- TOTAL TAX -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Total Tax</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <!-- DELIEVERY CHARGES -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Delievery Charges</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <!-- PACKAGING CHARGES -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Packaging Charges</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <!-- TOTAL AMOUNT TO BE PAID -->
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <label for="" class="float-right">Total Amount to be Paid</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>



            <!-- DISCOUNT ACCORDION -->

            <div class="row mt-4">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="discountOpenState = true" (closed)="discountOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Discount
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- Currently I am {{discountOpenState ? 'open' : 'closed'}} -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                           <p-table [value]="AddFreeTable">
                               <ng-template pTemplate="header">
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Material</th>
                                    <th>Product</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price Per Unit</th>
                                    <th>Estimated Delievery</th>
                                </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-row let-ri="rowIndex">
                                   <tr>
                                    <td>{{ri+1}}</td>
                                    <td>{{row.material}}</td>
                                    <td>{{row.product}}</td>
                                    <td>{{row.unit}}</td>
                                    <td>{{row.quantity}}</td>
                                    <td>{{row.priceper}}</td>
                                    <td>{{row.expect_date}}</td>
                                   </tr>
                            </ng-template>
                           </p-table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>


            <!-- Free Item Charges ACCORDION -->

            <div class="row mt-4">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="freeItemOpenState = true" (closed)="freeItemOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                   Add Free Items
                                 </mat-panel-title>
                                 <mat-panel-description>
                                     <!-- Currently I am {{discountOpenState ? 'open' : 'closed'}} -->
                                 </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p-table [value]="AddFreeTable">
                                <ng-template pTemplate="header">
                                 <tr>
                                     <th>Sr No.</th>
                                     <th>Material</th>
                                     <th>Product</th>
                                     <th>Unit</th>
                                     <th>Quantity</th>
                                     <th>Price Per Unit</th>
                                     <th>Estimated Delievery</th>
                                 </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-ri="rowIndex">
                                    <tr>
                                     <td>{{ri+1}}</td>
                                     <td>
                                       
                                            <ng-autocomplete 
                                              [data]="data"
                                              [searchKeyword]="keyword"
                                              (selected)='selectEvent($event)'
                                              (inputChanged)='onChangeSearch($event)'
                                              (inputFocused)='onFocused($event)'
                                              [itemTemplate]="itemTemplate"
                                              [notFoundTemplate]="notFoundTemplate"
                                              >     
                                              <ng-template #itemTemplate let-item >
                                                <a [innerHTML]="item.name"></a>
                                                </ng-template>                         
                                            </ng-autocomplete>
                                             
                                            <!-- <ng-template #itemTemplate let-item >
                                            <a [innerHTML]="item.name"></a>
                                            </ng-template> -->
                                             
                                            <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                           
                                     </td>
                                     <td>{{row.product}}</td>
                                     <td>{{row.unit}}</td>
                                     <td>{{row.quantity}}</td>
                                     <td>{{row.priceper}}</td>
                                     <td>{{row.expect_date}}</td>
                                    </tr>
                             </ng-template>
                            </p-table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>


            <!-- EXTRA CHARGES ACCORDION -->

            <div class="row mt-4">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="extraChargesOpenState = true"
                            (closed)="extraChargesOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                   Extra Charges
                                 </mat-panel-title>
                                 <mat-panel-description>
                                     <!-- Currently I am {{discountOpenState ? 'open' : 'closed'}} -->
                                 </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <!-- NOTIFICATIONS ACCORDION -->

            <div class="row mt-4">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="notificationOpenState = true"
                            (closed)="notificationOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                   Notitfications
                                 </mat-panel-title>
                                 <mat-panel-description>
                                     <!-- Currently I am {{discountOpenState ? 'open' : 'closed'}} -->
                                 </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>


<ng-autocomplete 
[data]="data"
[searchKeyword]="keyword"
(selected)='selectEvent($event)'
(inputChanged)='onChangeSearch($event)'
(inputFocused)='onFocused($event)'
[itemTemplate]="itemTemplate"
[notFoundTemplate]="notFoundTemplate"
>                                 
</ng-autocomplete>

<ng-template #itemTemplate let-item >
<a [innerHTML]="item.name"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
<div [innerHTML]="notFound"></div>
</ng-template>


