<div class="row">
    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            Big Bazaar
                        </h3>
                    </div>
                </div>
            </div>
            <div class="kt-section">
                <span class="kt-section__sub">
                    Address: ABC Pune
                </span><br />
                <span class="kt-section__sub">
                    Contact No.: 9852157520
                </span><br />
                <span class="kt-section__sub">
                   GST NO.: 9852157520
                </span>
                <!-- <div class="kt-separator kt-separator--dashed"></div>
                <div class="kt-section__content">
                </div> -->
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            Purchase Order: CCDD4455
                        </h3>
                    </div>
                </div>
            </div>
            <div class="kt-section">
                <span class="kt-section__sub">
                    Date: 10 June 2020
                </span><br />
                <span class="kt-section__sub">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Price include GST
                        </label>
                    </div>
                </span><br />
                <span class="kt-section__sub">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Delivery Address</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </span>

                <!-- <div class="kt-separator kt-separator--dashed"></div>
                    <div class="kt-section__content">
                    </div> -->
            </div>
        </div>
    </div>
</div>