<kt-notice>
    <div class="d-flex align-items-center justify-content-between">
        Add Suppliers
        <div>
            <button type="button" class="btn btn-primary" (click)="navigateToDashboard()">Back</button>
        </div>
    </div>
</kt-notice>

<kt-notice>
    <form [formGroup]="addSupplier">
        <div class="row" formGroupName="supplierDetails">
            <div class="col-lg-12 mt-2">
                <h4 class="text-white-50 bg-dark px-3">Supplier Details</h4>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Supplier Name</label>
                        <input type="string" class="form-control" formControlName="supplierName">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>State</label>
                        <input type="string" class="form-control" formControlName="state">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>City</label>
                        <input type="string" class="form-control" formControlName="city">
                    </div>
                </div>
            </div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div formGroupName="address">
            <div class="form-group">
                <label>Address </label><br>
                <div class="form-group">
                    <label>Line 1 </label><br>
                    <input type="string" class="form-control" formControlName="line1">
                </div>
                <div class="form-group">
                    <label>Line 2 </label><br>
                    <input type="string" class="form-control" formControlName="line2">
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="supplierContactNo">
                        <label>Supplier Contact No  </label><br>
                        <div *ngFor="let add of addSupplier.controls.supplierDetails.get('supplierContactNo')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Contact No : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="contactNo">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addContactNo(i)"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="supplierWhatsappNo">
                        <label>Supplier Whatsapp No  </label><br>
                        <div *ngFor="let add of addSupplier.controls.supplierDetails.get('supplierWhatsappNo')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Whatsapp : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="whatsappNo">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addWhatsappNo()"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="supplierEmail">
                        <label>Supplier Email  </label><br>
                        <div *ngFor="let add of addSupplier.controls.supplierDetails.get('supplierEmail')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="email">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addEmail()"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Supplier Website  </label>
                        <input type="string" class="form-control" formControlName="supplierWebsite">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>GST No  </label>
                        <input type="string" class="form-control" formControlName="gstNo">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Dealing Categories</label><br>
                    
                        <div class="d-inline-block mt-3" ngbDropdown #myDrop="ngbDropdown">
                            <button class="btn btn-primary" id="dropdownManual" ngbDropdownToggle>Select
                                Material</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button class="dropdown-item" (click)="BevragesCategory()">Beverages</button>
                                <button class="dropdown-item" (click)="InventoryCategory()">Food Inventory</button>
                                <button class="dropdown-item" (click)="LiqourCategory()">Liqour</button>
                                <button class="dropdown-item" (click)="retailCategory()">Retail Food</button>
                            </div>

                        </div>

                        <div class="col-lg-12 mt-5">
                            <div class="col-lg-12" id="beverages">
                                <div class="form-group">
                                    <ul *ngIf="showBevCategories" id="myUL">
                                        <li *ngFor="let root of BeverageCategory"><span class="caret"
                                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                        (click)="caretClick()">
                                                        {{sub.subCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let subSub of sub.subSubCategories">
                                                            <span class="caret" (click)="caretClick()">
                                                                {{subSub.subSubCategoryName}}</span>
                                                            <ul class="nested">
                                                                <li *ngFor="let child of subSub.subSubCategoryType">
                                                                    <input type="checkbox" name="child" *ngIf="child !== matName"
                                                                        (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                                                        [checked]="false">
                                                                    <input type="checkbox" name="bevName" *ngIf="child == matName"
                                                                        (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                                                    {{child.subSubCategoryTypeName}}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12" id="foodCategory">
                                <div class="form-group">
                                    <ul *ngIf="showIntCategories" id="myUL">
                                        <li *ngFor="let root of InventoryFoodCategory"><span class="caret"
                                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                        (click)="caretClick()">
                                                        {{sub.subCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let subSub of sub.subSubCategories">
                                                            <span class="caret" (click)="caretClick()">
                                                                {{subSub.subSubCategoryName}}</span>
                                                            <ul class="nested">
                                                                <li *ngFor="let child of subSub.subSubCategoryType">
                                                                    <input type="checkbox" name="child" *ngIf="child !== matName"
                                                                        (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                                                        [checked]="false">
                                                                    <input type="checkbox" name="inName" *ngIf="child == matName"
                                                                        (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                                                    {{child.subSubCategoryTypeName}}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="col-lg-12" id="liqour">
                                <div class="form-group">
                                    <ul *ngIf="showLiqCategories" id="myUL">
                                        <li *ngFor="let root of LiquorCategory"><span class="caret"
                                                (click)="caretClick()">{{root.rootDrinkType}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let sub of root.liquorVarients"><span class="caret"
                                                        (click)="caretClick()">
                                                        {{sub.liquorVarientName}}</span>
                                                    <ul class="nested" *ngIf="sub.liquorSubVarients.length > 0">
                                                        <li *ngFor="let subSub of sub.liquorSubVarients"><span class="caret"
                                                                (click)="caretClick()">
                                                                {{subSub.liquorSubVarientName}}</span>
                                                            <ul class="nested">
                                                                <li *ngFor="let child of subSub.liquorSubSubVarientType">
                                                                    <input type="checkbox" name="child"
                                                                        *ngIf="child !== matName"
                                                                        (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                                                        [checked]="false">
                                                                    <input type="radio" name="liName"
                                                                        *ngIf="child == matName"
                                                                        (change)="selectedProChild(child.liquorSubSubVarientTypeName)"
                                                                        [checked]="true">
                                                                    {{child.liquorSubSubVarientTypeName}}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>        
                            <div class="col-lg-12" id="retail">
                                <div class="form-group">
                                    <ul *ngIf="showRetCategories" id="myUL">
                                        <li *ngFor="let root of retailFoodCategory"><span class="caret"
                                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                        (click)="caretClick()">
                                                        {{sub.subCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let subSub of sub.subSubCategories">
                                                            <span class="caret" (click)="caretClick()">
                                                                {{subSub.subSubCategoryName}}</span>
                                                            <ul class="nested">
                                                                <li *ngFor="let child of subSub.subSubCategoryType">
                                                                    <input type="radio" name="child" *ngIf="child !== matName"
                                                                        (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                                                        [checked]="false">
                                                                    <input type="radio" name="inName" *ngIf="child == matName"
                                                                        (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                                                    {{child.subSubCategoryTypeName}}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>        
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Dealing Products</label><br>
                        <mat-form-field>
                            <mat-select placeholder="Dealing Products" formControlName="dealingProducts" multiple>
                                <mat-option *ngFor="let product of productArr" [value]="product.productName">{{product.productName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" formGroupName="contactPersonDetails">
            <div class="col-lg-12 mt-2">
                <h4 class="text-white-50 bg-dark px-3">Contact Person Details</h4>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Contact Person Name</label>
                        <input type="string" class="form-control" formControlName="contactPersonName">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Designation</label>
                        <input type="string" class="form-control" formControlName="contactPersonDesignation">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="contactPersonNo">
                        <label>Contact Person No </label><br>
                        <div *ngFor="let add of addSupplier.controls.contactPersonDetails.get('contactPersonNo')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Contact : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="contactNo">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addContactPersonNoToArray()"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="contactPersonWhatsappNo">
                        <label>Contact Person Whatsapp No </label><br>
                        <div *ngFor="let add of addSupplier.controls.contactPersonDetails.get('contactPersonWhatsappNo')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Whatsapp : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="whatsappNo">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addContactPersonWhatsappNoToArray()"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <ng-container formArrayName="contactPersonEmail">
                        <label>Contact Person Email </label><br>
                        <div *ngFor="let add of addSupplier.controls.contactPersonDetails.get('contactPersonEmail')['controls'];let i = index">
                            <ng-container [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email : </label>
                                        <div class="col-lg-12" style="display: flex;">
                                            <input type="string" class="form-control" formControlName="email">
                                            <i class="fa fa-plus-circle mt-3 ml-5" aria-hidden="true" (click)="addContactPersonEmailToArray()"></i>
                                        </div>
                                    </div>
                                </div>                                
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="Save_Suppliers()">Save</button>
                </div>
            </div>
        </div>
    </form>
</kt-notice>