<kt-notice>
    Purchase Order / Generate
    <button type="button" class="btn btn-primary ml-2 float-right"
        routerLink="/ngbootstrap/purchase-order-raise-po" (click)="goToRaisePO()">Back</button>
</kt-notice>

<ngb-tabset #t="ngbTabset" [justify]="currentJustify">
<div *ngFor="let a of poFinalObj; let indexValue = index">
    <div *ngIf="a.items.length!=0">
    <ngb-tab [id]="a.supplierName">
        <ng-template ngbTabTitle>{{a.supplierName}}</ng-template>
        <ng-template ngbTabContent>
        <!-- <kt-notice *ngIf="a.items.length!=0"> -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <div>
                                    <h4><b>{{a.supplierName}}</b></h4> <br>
                                    {{a.city}}<br>
                                    {{a.contactNo}}<br>
                                    {{a.gstNo}}<br>
                                    {{a.supplierId}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-6">
                        <form [formGroup]="purchaseOrderForm">
                            <div formArrayName="suppliersPODetails">
                                <div *ngFor="let supplier of purchaseOrderForm.controls.suppliersPODetails?.value; let i = index">
                                    <div *ngIf="a.supplierName == filteredSuppliers[i]" [formGroupName]="i">
                                            <div class="card" style="width: 100%;">
                                                <div class="card-body">
                                                    <h5 class="card-title">Purchase Order:
                                                    </h5>
                                                    <h4>Po Date : {{currentDate}}</h4>
                                                
            
                                                    <a href="#" class="card-link">
                                                        <mat-checkbox class="example-margin" formControlName="isIncludeGST"
                                                            (change)="isGstInclude($event)">Price include GST</mat-checkbox>
                                                    </a>&nbsp;
                                                     
                                        
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Delivery Address:</label>
                                                        <select class="form-control" id="exampleFormControlSelect1"
                                                            formControlName="deliveryAddress">
                                                            <option>Kothrud</option>
                                                            <option>Aundh</option>
            
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        <pre>{{supplier ?.value | json}}</pre>
                                    </div>
                                </div>
                            </div>
                        </form>
            
                    </div>
                </div>

                <div class="row mt-2" style="background-color: white;">
                    <div class="col-lg-12">
                        <form [formGroup]="ProductForm">
                            <table class="table table-bordered" style="margin: 1rem 0;">
                                <thead>
                                    <tr>
                                        <th scope="col">Material Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Order Qty.</th>
                                        <th scope="col">Price / Unit</th>
                                        <th scope="col">Estimated Delivery
                                            <br>
                                            <mat-checkbox class="example-margin" (change)="onSameAs($event)">Same to all
                                            </mat-checkbox>
                                        </th>
                                        <th *ngIf="!isGstIncludeFlag" scope="col">Tax %
                                            <br>
                                            <mat-checkbox class="example-margin">Same to all</mat-checkbox>
                                        </th>
                                        <th scope="col">Total Price Before Tax </th>
                                        <th *ngIf="!isGstIncludeFlag" scope="col">Total Price After Tax </th>
            
                                        <th scope="col">Total Price After Discount per Item</th>
            
                                    </tr>
                                </thead>
                                <tbody formArrayName="totalPurchaseArr" *ngFor="let t of items().controls; let i = index">
                                    <tr  [formGroupName]="i" *ngIf="a.supplierName===items().at(i).controls.supplier.value">
                                        <th scope="row" >
                                            <div class="form-group">
                                           <!-- {{items().at(i).controls.supplier.value}} -->
                                             <input type="input" class="form-control" formControlName="materialName">
                                                <!-- <input type="input" class="form-control" [value]="b.materialName"> -->
                                            </div>
                                        </th>
                                        <th scope="row" >
                                            <div class="form-group">
                                           <!-- {{items().at(i).controls.supplier.value}} -->
                                             <input type="input" class="form-control" formControlName="itemNumber">
                                                <!-- <input type="input" class="form-control" [value]="b.materialName"> -->
                                            </div>
                                        </th>
                                        <td>
                                            <div  class="form-group">
                                                <input type="input" class="form-control" formControlName="orderQty"
                                                    (keyup)="showObject();totalPrice(t, a.supplierName, indexValue)" readonly>
                                                <!-- <input type="input" class="form-control" [value]="b.orderQty"
                                                    (keyup)="showObject();totalPrice(a)"> -->
                                            </div>
                                        </td>
                                        <td>
                                            <div  class="form-group">
                                                <input type="input" class="form-control" formControlName="priceUnit"
                                                    (keyup)="totalPrice(t, a.supplierName, indexValue)" readonly>
                                                <!-- <input type="number" class="form-control" [value]="b.priceUnit"> -->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="date" id="date" name="date" formControlName="estimateddeliverytime">
                                                <!-- <input type="number" class="form-control"> -->
                                            </div>
                                        </td><!-- <td>
                                            <div class="form-group">
                                                <input type="string" class="form-control" formControlName="discountperitem"
                                                    readOnly>
                                                    
                                            </div>
                                        </td> -->
            
                                        <td *ngIf="!isGstIncludeFlag">
                                            <div  class="form-group">
            
                                                <input type="text" id="tax" name="tax" formControlName="tax" (keyup)="showObject()"
                                                    (keyup)="taxCalculation(t, a.supplierName, i)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="string" class="form-control" formControlName="totalpurchasepricewithouttax"
                                                    readOnly>
            
                                            </div>
                                        </td>
                                        <td *ngIf="!isGstIncludeFlag">
                                            <div class="form-group">
                                                <input type="string" class="form-control" formControlName="totalpurchaseprice"
                                                    readOnly>
            
                                            </div>
                                        </td>
            
                                        <td>
                                            <div class="form-group">
                                                <input type="string" class="form-control" formControlName="totalpurchasepriceondiscount"
                                                    readOnly>
            
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
            
                        </form>
            
                    </div>
                </div>

                <div class="mt-5">
                    <div class="d-flex justify-content-between mb-1">
                        <div class="a d-flex align-items-center">
                            <button type="button" class="btn btn-primary ml-2" (click)="ShowExtracharges(a.supplierName, indexValue)">Extra
                                Charges</button>
                        </div>
                        <div class="b">
                            <ng-container [formGroup]="totalPaybleForm">
                                <ng-container formArrayName = "totalPaybleData">
                                    <div *ngFor="let totalData of totalPaybleForm.get('totalPaybleData')['controls'];let i=index">
                                        <ng-container *ngIf="a.supplierName == filteredSuppliers[i]" [formGroupName]="i">    
                                            <div class="col-lg-12 mt-4">
                                                <div style="display: flex;">
                                                    <div style="flex: 1;">
                                                        <b>Total:</b>
                                                    </div>
                    
                                                    <div style="flex: 1;">
                                                        <input type="text" formControlName="totalpurchaseprise" readonly>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12">
                                                <div style="display: flex;" class="mt-2">
                                                    <div style="flex: 1;">
                                                        <b>Discount:</b>
                                                        
                                                        <select (change)="calcDiscount(a.supplierName, i)" formControlName="discounttype" >
                                                            <option value="percentage">Percentage</option>
                                                            <option value="price">Price</option>
                                                        </select>
                                                    </div>
                                                    <div style="flex: 1;">
                                                        <input type="number" id="discount" formControlName="discount" (input)="calcDiscount(a.supplierName, i)">
                                                    </div>
                                                </div>
                                                <em class="text-danger" id="error-msg" style="color: #dc3545">(Please enter discount if available or enter discount value as 0)</em>
                                            </div>
                                             
                                            <div class="col-lg-12">
                                                <div style="display: flex;" class="mt-2">
                                                    <div style="flex: 1;">
                                                        <h5>Total Price After Discount:</h5>
                                                    </div>
                    
                                                    <div style="flex: 1;">
                                                        <input type="text" formControlName="totalpriceafterdiscount" readonly>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div *ngIf="!isGstIncludeFlag" class="col-lg-12">
                                                <div style="display: flex;" class="mt-2">
                                                    <div style="flex: 1;">
                                                        <h5>Total tax:</h5>
                                                    </div>
                    
                                                    <div style="flex: 1;">
                                                        <input type="text" formControlName="totaltax" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <span *ngFor="let chargesData of displayExtraChargeArr; let k=index">
                                                <div *ngIf="chargesData.supplier == a.supplierName" style="margin-left: 12px;">
                                                    {{chargesData.chargesname}}: {{chargesData.amount}}
                                                </div>
                                            </span>
                                            <div class="col-lg-12">
                                                <div style="display: flex;" class="mt-2">
                                                    <div style="flex: 1;">
                                                        <h5>Total Payble:</h5>
                                                    </div>
                    
                                                    <div style="flex: 1;">
                                                        <input type="text"  formControlName="totalpayble" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="isShowExtracharges && freeItemIndexArr.includes(indexValue)">
                        <ng-container [formGroup]="extraChargeForm">
                            
                                <table *ngIf="freeItemIndexValueCount > 0" class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Charges For</th>
                                            <th scope="col">Charges</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName = "extraCharges">
                                    <ng-container *ngFor="let chargesData of extraChargeForm.get('extraCharges')['controls']; let i = index;">
                                     
                                            <ng-container *ngIf="a.supplierName == filteredSuppliers[i]" formArrayName="{{i}}">
                                
                                                <tr *ngFor="let charges of chargesData['controls']; let j=index" formGroupName="{{j}}" >
                                                    <td>
                                                        <input type="text" class="form-control" (focusout)="displayExtraCharges(charges, a.supplierName, i, j)"
                                                    formControlName="chargesname">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" (focusout)="displayExtraCharges(charges, a.supplierName,i, j)"
                                                    formControlName="amount" (keyup)="TotalExtraItems(a.supplierName, indexValue, j)">
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-plus-circle mt-3 mr-5" aria-hidden="true" (click)="addExtrachargesBlock(a.supplierName, j)"></i>
                                                        <i  *ngIf="j>0" class="fas fa-minus-circle ml-2"  (click)="removeExtraCharges(i,indexValue,j, charges)"></i>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                    </ng-container>
                                    </tbody>
                            </table>
                        </ng-container>
                    </div>
            
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary ml-2" (click)="FreeItemTable(a.supplierName, indexValue);"><i
                                class="fa fa-plus-circle" aria-hidden="true"></i>Add a
                            Free Product/Material</button>
                    </div>
            
                    <div *ngIf="isShowFreeItemTable && freeItemTableArr.includes(indexValue)" class="col-lg-12 mt-3">
                        <ng-container [formGroup]="FreeItemsForm">
                            <table *ngIf="freeItemTableValueCount > 0" class="table table-bordered" style="margin: 1rem 0; background-color: white;">
                                <thead>
                                    <tr>
                                        <th scope="col">Material Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Qty.</th>
                                        <th scope="col">Price/Unit</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="freeItems">
                                    <ng-container *ngFor="let t of FreeItemsForm.get('freeItems')['controls']; let i = index">
                                        <ng-container *ngIf="a.supplierName == filteredSuppliers[i]" formArrayName="{{i}}">
                                            <tr *ngFor="let free of t['controls']; let j = index" formGroupName="{{j}}">
                                                    <td>
                                                        <input type="string" class="form-control" formControlName="materialname" (keyup)="autoCompleteMaterial(a.supplierName, i, j)" required>
                                                        <div id="material-block">
                                                            <div *ngFor="let material of selectedMaterialArr">
                                                                <span class="material-div" (click)="patchSelectedMaterial(material.productCategory, i, j)">{{ material.productCategory }}</span><br>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="string" class="form-control" formControlName="productname" (keyup)="autoCompleteProduct(a.supplierName, i, j)" required>
                                                        <div id="product-block">
                                                            <div *ngFor="let product of selectedProductArr">
                                                                <span class="product-div" (click)="patchSelectedProduct(product.productName,product.productCategory,product.availableQtys[0].quantity,i,j)">{{ product.productName }}</span><br>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                            <input type="string" class="form-control" formControlName="unit"
                                                            required >
                                                    </td>
                                                    <td>
                                                            <input type="string" class="form-control" formControlName="quantity"
                                                            required >
                                                    </td>
                                                    <td>
                                                            <input type="string" class="form-control" formControlName="price" (change)="calcFreeItemTotal(t,j,a.supplierName,i)" required>
                                                    </td>
                                                    <td>
                                                            <i class="fa fa-trash" aria-hidden="true" style="color:black;"
                                                                (click)="removeItems(t,j,a.supplierName, indexValue,i)"></i>&nbsp;
                                                            <i class="fa fa-plus" aria-hidden="true" style="color:black;"
                                                                (click)="addFreeItems(a.supplierName, i)"> </i>
                                                    </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
            
                        </ng-container>
                        <div *ngFor="let data of displayFreeItem" class="d-flex flex-column">
                            <div *ngIf="data.supplier == a.supplierName">
                                <div style="font-weight: 500;">
                                Discount: {{data.updatedDiscount}}
                                </div>
                                <div style="font-weight: 500;">
                                Free Products Amount : {{data.quantityPriceProd}}         
                                </div>
                                <div style="font-weight: 500;">
                                Total Savings: {{data.finalFreeItemTotal}}
                                </div>
                            </div>
                       </div>
                    </div>
            
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-lg-12">
                        <div style="flex: 1;">
                            <h5>Send Notification:</h5>
                        </div>
                    </div>
                   
                <div style="display: flex;flex-direction: column;">
                     <div style="flex: 1;">
                        <mat-checkbox class="mt-3" (change)="showWhatsapp($event, a.contactNo,indexValue,a.supplierName)">Whatsapp</mat-checkbox>
                    </div> 
                   <div *ngIf="isShowWhatsApp && whatsAppArr.includes(indexValue)">
                        <ng-container [formGroup]="noificationForm">
                            <ng-container formArrayName="notifications">
                                <div *ngFor="let whatsappData of noificationForm.get('notifications')['controls']; let i = index;">
                                    <div *ngIf="a.supplierName == filteredSuppliers[i]" formArrayName = "{{i}}">
                                        <div *ngFor="let whatsapp of whatsappData['controls']; let j=index">
                                            <ng-container formGroupName="{{j}}">
                                                <div class="col-lg-12 mt-4">
                                                    <div style="display:flex;">
                                                        <div style="flex: 1;">
                                                            <div class="form-group">
                        
                                                                <input type="text" class="form-control" formControlName="whatsapps">
                                                            </div>
                                                        </div>
                                                        <div style="flex: 1;">
                                                            <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                                (click)="addWhatsappBlock(a.supplierName, indexValue,i,j, a.contactNo)"  style="margin-left: 8px;"></i>
                                                          <i class="fas fa-minus-circle ml-2"  (click)="removeWhatsapp(i,j)"></i>     
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;                       
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div> 
                  
                    <div style="flex: 1;">
                        <mat-checkbox class="mt-3" (change)="showEmails($event,tempSuppliers,indexValue,a.supplierName)">Email</mat-checkbox>
                    </div>
                    <div *ngIf="isShowEmail && emailsArr.includes(indexValue)">
                        <ng-container [formGroup]="noificationForm">
                            <ng-container formArrayName="emails">
                                <div *ngFor="let emailData of noificationForm.get('emails')['controls']; let i = index;">
                                    <div *ngIf="a.supplierName == filteredSuppliers[i]" formArrayName = "{{i}}">
                                        <div *ngFor="let email of emailData['controls']; let j=index">
                                            <ng-container formGroupName="{{j}}">
                                                <div class="col-lg-12 mt-4">
                                                    <div style="display:flex;">
                                                        <div style="flex: 1;">
                                                            <div class="form-group">
                        
                                                                <input type="text" class="form-control" formControlName="emails">
                                                            </div>
                                                        </div>
                                                        <div style="flex: 1;">
                                                            <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                                (click)="addEmailBlock(a.supplierName, i)" style="margin-left: 8px;"></i>
                                                            <i class="fas fa-minus-circle ml-2"  (click)="removeEmail(i,j)"></i>     
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;                       
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div style="flex: 1;">
                        <mat-checkbox class="mt-3" (change)="showSMS($event,tempSuppliers,indexValue,a.supplierName)">SMS</mat-checkbox>
                    </div>
                    <div *ngIf="isShowSMS && smsArr.includes(indexValue)">
                        <ng-container [formGroup]="noificationForm">
                            <ng-container formArrayName="sms">
                                <div *ngFor="let smsData of noificationForm.get('sms')['controls']; let i = index;">
                                    <div *ngIf="a.supplierName == filteredSuppliers[i]" formArrayName = "{{i}}">
                                        <div *ngFor="let sms of smsData['controls']; let j=index">
                                            <ng-container formGroupName="{{j}}">
                                                <div class="col-lg-12 mt-4">
                                                    <div style="display:flex;">
                                                        <div style="flex: 1;">
                                                            <div class="form-group">
                        
                                                                <input type="text" class="form-control" formControlName="sms">
                                                            </div>
                                                        </div>
                                                        <div style="flex: 1;">
                                                            <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                                (click)="addSMSBlock(a.supplierName, i)" style="margin-left: 8px;"></i>
                                                            <i class="fas fa-minus-circle ml-2"  (click)="removeSms(i,j)"></i>     
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;                       
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                </div>
                <!-- <button class="btn btn-primary" (click)="t.select(a.supplierName)">Next</button> -->
    <!----------Started Suppliers code--------- -->
    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div>
                        <h4><b>{{a.supplierName}}</b></h4> <br>
                        {{a.area}}<br>
                        {{a.contactNo}}<br>
                        {{a.gstinno}}<br>
                        {{a.supplierId}}<br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            
            <form [formGroup]="purchaseOrderForm">
                <div formArrayName="suppliersPODetails">
                    <div *ngFor="let supplier of purchaseOrderForm.controls.suppliersPODetails?.value; let i = index">
                        <div *ngIf="a.supplierName == tempSuppliers[indexValue]" [formGroupName]="i">
                                <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                        <h5 class="card-title">Purchase Order:
                                        </h5>
                                        <h4>Po Date : {{currentDate}}</h4>
                                    

                                        <a href="#" class="card-link">
                                            <mat-checkbox class="example-margin" formControlName="isIncludeGST"
                                                (change)="isGstInclude($event)">Price include GST</mat-checkbox>
                                        </a>&nbsp;
                                         
                            
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Delivery Address:</label>
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="deliveryAddress">
                                                <option>Kothrud</option>
                                                <option>Aundh</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <pre>{{supplier ?.value | json}}</pre>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div> -->
    <!----------End Of Suppliers code--------- -->

    <!----------Started Items Product code--------- -->
    <!-- <button type="button" class="btn btn-primary ml-2" (click)="patchValue()">patchvalue</button> -->
    <!-- <div class="row mt-2">
        <div class="col-lg-12">
            <form [formGroup]="ProductForm">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Material Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Order Qty.</th>
                            <th scope="col">Price / Unit</th>
                            <th scope="col">Estimated Delivery
                                <br>
                                <mat-checkbox class="example-margin" (change)="onSameAs($event)">Same to all
                                </mat-checkbox>
                            </th>
                            <th *ngIf="!isGstIncludeFlag" scope="col">Tax %
                                <br>
                                <mat-checkbox class="example-margin">Same to all</mat-checkbox>
                            </th>
                            <th scope="col">Total Price Before Tax </th>
                            <th *ngIf="!isGstIncludeFlag" scope="col">Total Price After Tax </th>

                            <th scope="col">Total Price After Discount per Item</th>

                        </tr>
                    </thead>
                    <tbody formArrayName="totalPurchaseArr" *ngFor="let t of items().controls; let i = index">
                        <tr  [formGroupName]="i" *ngIf="a.supplierName===items().at(i).controls.supplier.value">
                            <th scope="row" >
                                <div class="form-group">
                                 <input type="input" class="form-control" formControlName="materialName">
                                </div>
                            </th>
                            <th scope="row" >
                                <div class="form-group">
                                 <input type="input" class="form-control" formControlName="itemNumber">
                                </div>
                            </th>
                            <td>
                                <div  class="form-group">
                                    <input type="input" class="form-control" formControlName="orderQty"
                                        (keyup)="showObject();totalPrice(t, a.supplierName, indexValue)" readonly>
                                </div>
                            </td>
                            <td>
                                <div  class="form-group">
                                    <input type="input" class="form-control" formControlName="priceUnit"
                                        (keyup)="totalPrice(t, a.supplierName, indexValue)" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="date" id="date" name="date" formControlName="estimateddeliverytime">
                                </div>
                            </td>
                            <td *ngIf="!isGstIncludeFlag">
                                <div  class="form-group">

                                    <input type="text" id="tax" name="tax" formControlName="tax" (keyup)="showObject()"
                                        (keyup)="taxCalculation(t, a.supplierName, indexValue)">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="string" class="form-control" formControlName="totalpurchasepricewithouttax"
                                        readOnly>

                                </div>
                            </td>
                            <td *ngIf="!isGstIncludeFlag">
                                <div class="form-group">
                                    <input type="string" class="form-control" formControlName="totalpurchaseprice"
                                        readOnly>

                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <input type="string" class="form-control" formControlName="totalpurchasepriceondiscount"
                                        readOnly>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

        </div>
    </div> -->
    <!----------End Of Items Product code--------- -->

    <!----------Started Extra charges code--------- -->
    <!-- <div class="mt-2">
        <div class="d-flex justify-content-between mb-1">
            <div class="a d-flex align-items-center">
                <button type="button" class="btn btn-primary ml-2" (click)="ShowExtracharges(a.supplierName, indexValue)">Extra
                    Charges</button>
            </div>
            <div class="b">
                <ng-container [formGroup]="totalPaybleForm">
                    <ng-container formArrayName = "totalPaybleData">
                        <div *ngFor="let totalData of totalPaybleForm.get('totalPaybleData')['controls'];let i=index">
                            <ng-container [formGroupName]="i">    
                                <div class="col-lg-12 mt-4">
                                    <div style="display: flex;">
                                        <div style="flex: 1;">
                                            <b>Total:</b>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text" formControlName="totalpurchaseprise" readonly>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <b>Discount:</b>
                                            
                                            <select (change)="calcDiscount(a.supplierName, indexValue)" formControlName="discounttype" >
                                                <option value="percentage">Percentage</option>
                                                <option value="price">Price</option>
                                            </select>
                                        </div>
                                        <div style="flex: 1;">
                                            <input type="number" id="discount" formControlName="discount" (input)="calcDiscount(a.supplierName, indexValue)">
                                        </div>
                                    </div>
                                    <em class="text-danger" id="error-msg" style="color: #dc3545">(Please enter discount if available or enter discount value as 0)</em>
                                </div>
                                 
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total Price After Discount:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text" formControlName="totalpriceafterdiscount" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="!isGstIncludeFlag" class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total tax:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text" formControlName="totaltax" readonly>
                                        </div>
                                    </div>
                                </div>
                                
                                <span *ngFor="let chargesData of displayExtraChargeArr; let k=index">
                                    <div *ngIf="chargesData.supplier == a.supplierName" style="margin-left: 12px;">
                                        {{chargesData.chargesname}}: {{chargesData.amount}}
                                    </div>
                                </span>
                                <div class="col-lg-12">
                                    <div style="display: flex;" class="mt-2">
                                        <div style="flex: 1;">
                                            <h5>Total Payble:</h5>
                                        </div>
        
                                        <div style="flex: 1;">
                                            <input type="text"  formControlName="totalpayble" readonly>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>        
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div *ngIf="isShowExtracharges && freeItemIndexArr.includes(indexValue)">
            <ng-container [formGroup]="extraChargeForm">
                
                    <table *ngIf="freeItemIndexValueCount > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Charges For</th>
                                <th scope="col">Charges</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName = "extraCharges">
                        <ng-container *ngFor="let chargesData of extraChargeForm.get('extraCharges')['controls']; let i = index;">
                         
                                <ng-container formArrayName="{{i}}">
                    
                                    <tr *ngFor="let charges of chargesData['controls']; let j=index" formGroupName="{{j}}" >
                                        <td>
                                            <input type="text" class="form-control" (focusout)="displayExtraCharges(charges, a.supplierName, i, j)"
                                        formControlName="chargesname">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" (focusout)="displayExtraCharges(charges, a.supplierName,i, j)"
                                        formControlName="amount" (keyup)="TotalExtraItems(a.supplierName, indexValue, j)">
                                        </td>
                                        <td>
                                            <i class="fa fa-plus-circle mt-3 mr-5" aria-hidden="true" (click)="addExtrachargesBlock(a.supplierName, indexValue)"></i>
                                            <i  *ngIf="j>0" class="fas fa-minus-circle ml-2"  (click)="removeExtraCharges(i,indexValue,j, charges)"></i>
                                        </td>
                                    </tr>
                                </ng-container>
                        </ng-container>
                        </tbody>
                </table>
            </ng-container>
        </div>

    </div> -->

    <!----------End Of Extra charges code--------- -->

    <!----------Started Free Items code--------- -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary ml-2" (click)="FreeItemTable(a.supplierName, indexValue);"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>Add a
                Free Product/Material</button>
        </div>

        <div *ngIf="isShowFreeItemTable && freeItemTableArr.includes(indexValue)" class="col-lg-12 mt-3">
            <ng-container [formGroup]="FreeItemsForm">
                <table *ngIf="freeItemTableValueCount > 0" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Material Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Qty.</th>
                            <th scope="col">Price/Unit</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="freeItems">
                        <ng-container *ngFor="let t of FreeItemsForm.get('freeItems')['controls']; let i = index">
                            <ng-container formArrayName="{{i}}">
                                <tr *ngFor="let free of t['controls']; let j = index" formGroupName="{{j}}">
                                        <td>
                                            <input type="string" class="form-control" formControlName="materialname" (keyup)="autoCompleteMaterial(a.supplierName, indexValue, j)" required>
                                            <div id="material-block">
                                                <div *ngFor="let material of selectedMaterialArr">
                                                    <span class="material-div" (click)="patchSelectedMaterial(material.productCategory, i, j)">{{ material.productCategory }}</span><br>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="string" class="form-control" formControlName="productname" (keyup)="autoCompleteProduct(a.supplierName, indexValue, j)" required>
                                            <div id="product-block">
                                                <div *ngFor="let product of selectedProductArr">
                                                    <span class="product-div" (click)="patchSelectedProduct(product.productName,product.productCategory,product.availableQtys[0].quantity,i,j)">{{ product.productName }}</span><br>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                                <input type="string" class="form-control" formControlName="unit"
                                                required >
                                        </td>
                                        <td>
                                                <input type="string" class="form-control" formControlName="quantity"
                                                required >
                                        </td>
                                        <td>
                                                <input type="string" class="form-control" formControlName="price" (change)="calcFreeItemTotal(t,j,a.supplierName,indexValue)" required>
                                        </td>
                                        <td>
                                                <i class="fa fa-trash" aria-hidden="true" style="color:black;"
                                                    (click)="removeItems(t,j,a.supplierName, indexValue,i)"></i>&nbsp;
                                                <i class="fa fa-plus" aria-hidden="true" style="color:black;"
                                                    (click)="addFreeItems(a.supplierName, indexValue)"> </i>
                                        </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>

            </ng-container>
            <div *ngFor="let data of displayFreeItem" class="d-flex flex-column">
                <div *ngIf="data.supplier == a.supplierName">
                    <div style="font-weight: 500;">
                    Discount: {{data.updatedDiscount}}
                    </div>
                    <div style="font-weight: 500;">
                    Free Products Amount : {{data.quantityPriceProd}}         
                    </div>
                    <div style="font-weight: 500;">
                    Total Savings: {{data.finalFreeItemTotal}}
                    </div>
                </div>
           </div>
        </div>

    </div> -->

    <!----------End Of Free Items code--------- -->

    <!----------Started Send Notification code--------- -->
    <!-- <div class="row mt-5">
        <div class="col-lg-12">
            <div style="flex: 1;">
                <h5>Send Notification:</h5>
            </div>
        </div>
       
    <div style="display: flex;flex-direction: column;">
         <div style="flex: 1;">
            <mat-checkbox class="mt-3" (change)="showWhatsapp($event, a.contactNo ,indexValue,a.supplierName)">Whatsapp</mat-checkbox>
        </div> 
       <div *ngIf="isShowWhatsApp && whatsAppArr.includes(indexValue)">
            <ng-container [formGroup]="noificationForm">
                <ng-container formArrayName="notifications">
                    <div *ngFor="let whatsappData of noificationForm.get('notifications')['controls']; let i = index;">
                        <div formArrayName = "{{i}}">
                            <div *ngFor="let whatsapp of whatsappData['controls']; let j=index">
                                <ng-container formGroupName="{{j}}">
                                    <div class="col-lg-12 mt-4">
                                        <div style="display:flex;">
                                            <div style="flex: 1;">
                                                <div class="form-group">
            
                                                    <input type="text" class="form-control" formControlName="whatsapps">
                                                </div>
                                            </div>
                                            <div style="flex: 1;">
                                                <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                    (click)="addWhatsappBlock(a.supplierName, indexValue,i,j, a.contactNo)"  style="margin-left: 8px;"></i>
                                              <i class="fas fa-minus-circle ml-2"  (click)="removeWhatsapp(i,j)"></i>     
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;                       
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div> 
      
        <div style="flex: 1;">
            <mat-checkbox class="mt-3" (change)="showEmails($event,tempSuppliers,indexValue,a.supplierName)">Email</mat-checkbox>
        </div>
        <div *ngIf="isShowEmail && emailsArr.includes(indexValue)">
            <ng-container [formGroup]="noificationForm">
                <ng-container formArrayName="emails">
                    <div *ngFor="let emailData of noificationForm.get('emails')['controls']; let i = index;">
                        <div formArrayName = "{{i}}">
                            <div *ngFor="let email of emailData['controls']; let j=index">
                                <ng-container formGroupName="{{j}}">
                                    <div class="col-lg-12 mt-4">
                                        <div style="display:flex;">
                                            <div style="flex: 1;">
                                                <div class="form-group">
            
                                                    <input type="text" class="form-control" formControlName="emails">
                                                </div>
                                            </div>
                                            <div style="flex: 1;">
                                                <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                    (click)="addEmailBlock(a.supplierName, indexValue)" style="margin-left: 8px;"></i>
                                                <i class="fas fa-minus-circle ml-2"  (click)="removeEmail(i,j)"></i>     
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;                       
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div style="flex: 1;">
            <mat-checkbox class="mt-3" (change)="showSMS($event,tempSuppliers,indexValue,a.supplierName)">SMS</mat-checkbox>
        </div>
        <div *ngIf="isShowSMS && smsArr.includes(indexValue)">
            <ng-container [formGroup]="noificationForm">
                <ng-container formArrayName="sms">
                    <div *ngFor="let smsData of noificationForm.get('sms')['controls']; let i = index;">
                        <div formArrayName = "{{i}}">
                            <div *ngFor="let sms of smsData['controls']; let j=index">
                                <ng-container formGroupName="{{j}}">
                                    <div class="col-lg-12 mt-4">
                                        <div style="display:flex;">
                                            <div style="flex: 1;">
                                                <div class="form-group">
            
                                                    <input type="text" class="form-control" formControlName="sms">
                                                </div>
                                            </div>
                                            <div style="flex: 1;">
                                                <i class="fa fa-plus-circle mt-3" aria-hidden="true"
                                                    (click)="addSMSBlock(a.supplierName, indexValue)" style="margin-left: 8px;"></i>
                                                <i class="fas fa-minus-circle ml-2"  (click)="removeSms(i,j)"></i>     
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;                       
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    </div> -->
    <!----------End Of Send Notification code--------- -->

</ng-template>
    </ngb-tab>
</div>
</div>
<!-- <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab> -->
</ngb-tabset>
<!----------Modal Code----------------->
<div class="kt-section">
    <span *ngIf="closeResult" class="kt-section__sub">
        <pre>{{closeResult}}</pre>
    </span>
    <div class="kt-section__content">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">

                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Do You Want To Save In Draft</h2>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" (click)="c('Close click')"
                    routerLink="/ngbootstrap/purchase-order" (click)="Save_AsDraft()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')"
                    routerLink="/ngbootstrap/purchase-order-generate">No</button>
            </div>
        </ng-template>
        <button type="submit" class="btn btn-primary ml-2 text-center ml-2" (click)="save_purchaseOrder()"
            routerLink="/ngbootstrap/purchase-order">Generate PO</button>
        <button class="btn btn-primary" (click)="open(content)">Cancel</button>
    </div>
</div>
<!--------------------End of modal code-------------->
<!-- <h1>{{objectFinal|json}}</h1> -->



<!-- <h1>hiiiii{{objectFinal}}</h1> -->