#error-msg{
    display: none;
}
.product-block{
    display: none;
}
.material-block{
    display: none;
}
.product-div:hover{
    background-color: #5968dd;
}
.material-div:hover{
    background-color: #5968dd;
}
.nav-link.active{
    color: black !important; 
}
