<kt-notice>
    Add To Stock (For single item selection)
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/good-received">Back</button>
</kt-notice>

<kt-notice>
<div  class="d-flex justify-content-between">
        {{addStockData.purchaseOrder.supplierId.supplierDetails.supplierName}}<br>
        {{addStockData.purchaseorderId}}
        {{addStockData.purchaseOrder.podate}}
         <!--  {{addStockData.city}}
          {{addStockData.contactNo}} -->
 </div>
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-12">
                    <table mat-table [dataSource]="addStockDataArr" class="mat-elevation-z8" style="width: 100%;">

                         <!-- Weight Column -->
                         <ng-container  matColumnDef="materialName">
                            <th mat-header-cell *matHeaderCellDef> Material Name</th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">    
                                            <br><li style="list-style: none;"> {{item.materialName}}
                                            </li>  
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="estimateddeliverytime">
                            <th mat-header-cell *matHeaderCellDef> Expected Delivery Range </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">                  
                                       <br><li style="list-style: none;">{{item.estimateddeliverytime}}       
                                       </li>          
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container  matColumnDef="orderQty">
                            <th mat-header-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="product">          
                                    <ng-container  *ngFor="let item of element.product">    
                                        <br><li  style="list-style: none;">{{item.orderQty}}
                                        </li>
                                            
                                    </ng-container>
                                  </div>
                            </td>
                        </ng-container>

                        <ng-container  matColumnDef="receivedColumn">
                            <th mat-header-cell *matHeaderCellDef>Received Columns</th>
                            <td > 
                            <input type="text"  >
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStockData"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStockData;">
                        </tr>
                    </table>
        </div>
    </div>
</kt-notice>