<kt-notice>
    Bulk Order / Add Bulk Order
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/bulk-order">Back</button>
</kt-notice>

<kt-notice>
    <h6>Add Customer Details</h6>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Customer Name / Company Name</label>
                <input type="char" class="form-control">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Contact Number</label>
                <input type="number" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Type Of Order</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Choose Venue</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Venue Address</label>
                <input type="char" class="form-control">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Pin Code</label>
                <input type="number" class="form-control">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Locality</label>
                <input type="number" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <mat-form-field>
                <mat-label>Date Of Execution</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-lg-6">

        </div>
    </div>
</kt-notice>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Add Employee to the job section start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<kt-notice>
    <h6>Add Employees To The Job</h6>
    <div class="row">
        <div class="col-lg-6">
            <mat-tab-group>
                <mat-tab label="Chefs">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Salary</th>
                                        <th scope="col">Outlet</th>
                                        <th scope="col">Feedback / Satistics</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Captions start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Captains"> Content 2 </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Waiter start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Waiter"> Content 3 </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Cleaners start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Cleaners"> Content 3 </mat-tab>
            </mat-tab-group>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <h5>List of Employees for "Bulk Order 1001"</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Outlet</th>
                                <th scope="col">Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12">
                    <h5>Charges</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Charges Per Person</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chef</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>Waiter</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Employees</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Total Charges</td>
                                <td>2000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</kt-notice>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Select menu section start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<kt-notice>
    <h6>Select Menu</h6>
    <div class="row">
        <div class="col-lg-6">
            <mat-tab-group>
                <mat-tab label="Dish">
                    <div class="row">
                        <div class="col-lg-12">
                            Tree here
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Captions start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Beverages"> Content 2 </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Waiter start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Bar"> Content 3 </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Cleaners start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Retail"> Content 3 </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h5>Selected Menu</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Dish/Menu/Item</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Production Cost / Dish</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Margine</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <h5>Production Cost</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Cost / Unit</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Total Selling Price: <label>34000 /-</label></h5>
        </div>
    </div>
</kt-notice>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Extra cost table start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<kt-notice>
    <h6> Extra cost</h6>
    <div class="row">
        <div class="col-lg-6">
            <h5>Selected Menu</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Cos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>Total Extra Cost: <label>8000 /-</label></h5>
        </div>
    </div>
</kt-notice>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Non Food / Assets Requirements start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<kt-notice>
    <h6>Non Food / Assets Requirements</h6>
    <div class="row">
        <div class="col-lg-12">
            <mat-tab-group>
                <mat-tab label="Assets">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Qty.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@ Non Food start @@@@@@@@@@@@@@@@@@@@ -->
                <mat-tab label="Non Food">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Qty.</th>
                                        <th scope="col">Price/Unit</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</kt-notice>

<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary text-center">Save</button>
    </div>
</div>