<kt-notice>
  Material
    <button type="button" class="btn btn-primary ml-2 float-right"
        routerLink="/ngbootstrap/purchase-order-raise-po">Back</button>
</kt-notice>
<kt-notice>
    Selected Material
    <div class="row">
        <div *ngFor="let s of dupChkMoreInfo" class="row-lg-12">
            <div style="display:flex;">
                <mat-chip-list>
            
                    <mat-chip color="primary" [selected]="true">{{s.item}}<i class="fas fa-times-circle ml-2" (click)="removeMoreInfo(s)"></i></mat-chip>
                   
               </mat-chip-list>
            </div>
        </div>
    </div>
  </kt-notice>

<kt-notice>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Beverages
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let s of demo" class="row-lg-12">
                            <div style="display:flex;">
                                <mat-chip-list>
                            
                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('BevGrp',s)">{{s}}</mat-chip>
                                </mat-chip-list>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Liqour
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let s of LiqfiftLevel" class="row-lg-12">
                            <div style="display:flex;">
                                <mat-chip-list>
                            
                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('LiqourGrp',s)">{{s.liquorSubSubVarientTypeName | json}}</mat-chip>
                                   </mat-chip-list>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Retail Food
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let s of RetfiftLevel" class="row-lg-12">
                            <div style="display:flex;">
                               
                                <mat-chip-list>
                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('RetGrp',s)">{{s}}</mat-chip>
                                   
                               </mat-chip-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                       Food Inventory
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let s of InvfiftLevel" class="row-lg-12">
                            <div style="display:flex;">
                                <mat-chip-list>
                            
                                    <mat-chip color="primary" [selected]="true" (click)="selectBevInfo('InvGrp',s)">{{s}}</mat-chip>
                                   </mat-chip-list>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary" (click)="SaveAllCategories()" routerLink="/ngbootstrap/purchase-order-raise-po">Add to Cart</button>
    </div>
</kt-notice>
<ngx-spinner bdColor="rgba(51,51,51,0.8)">
    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
</ngx-spinner>
