<div class="container">
    <form [formGroup]="materialForm">
        <div class="row mt-4 ml-2">
            <div class="col-lg-4">
                <label>Material Name</label>
            </div>
            <div class="col-lg-8 ">
                <input type="text" class="form-control" formControlName="material_name">
            </div>
        </div>

        <div class="row mt-2 ml-2">
            <div class="col-lg-4">
                <label>Select Category</label>
            </div>
            <div class="col-lg-8 ">
                <p-dropdown [options]="categories" formControlName="select_category"></p-dropdown>
            </div>
        </div>

        <div class="row mt-2 ml-2">
            <div class="col-lg-4">
                <label>Unit</label>
            </div>
            <div class="col-lg-8 ">
                <p-selectButton [options]="units" formControlName="unit" ></p-selectButton>
            </div>
        </div>

        <div class="row mt-2 ml-2">
            <div class="col-lg-4">
                <label>Current Stock</label>
            </div>
            <div class="col-lg-8 ">
                <input type="text" class="form-control" formControlName="current_stock"> <b class="ml-1">{{materialForm.value.unit}}</b>
            </div>
        </div>

        <div class="row mt-2 ml-2">
            <div class="col-lg-3 float-right">
                
            </div> 
            <div class="col-lg-6">
                <button class="btn btn-danger " mat-dialog-close>Cancel</button>
                <button class="btn btn-primary ml-1" [mat-dialog-close]="materialForm.value">Submit</button>
            </div>
            <div class="col-lg-3 ">
               
            </div>           
        </div>
    </form>    
</div>