<kt-notice>
    <div class="d-flex align-items-center justify-content-between">
      View/Edit Supplier
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="editSupplier()">
          Edit
        </button>
        <button type="button" class="btn btn-primary" (click)="navigateToDashboard()">
          Back
        </button>
      </div>
    </div>
  
    <div *ngIf="editable">
      <form>
        <div class="row">
          <!-- Supplier Details -->
          <div class="col-lg-12">
            <h4 class="text-white-50 bg-dark px-3">Supplier Details</h4>
          </div>
  
          <div class="col-lg-12" *ngFor="let a of supplierData; let i = index">
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Id</label>
                  <input type="string" class="form-control" value="{{ a.supplierId }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Name</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.supplierName }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>State</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.state }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>City</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.city }}" readonly />
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Address</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.address.line1 }}" readonly />
                  <input type="string" class="form-control" value="{{ a.supplierDetails.address.line2 }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Contact Number</label>
                  <div class="supCont" *ngFor="let t of a.supplierDetails.supplierContactNo">
                    <input type="string" class="form-control" value="{{ t.contactNo }}" readonly />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Whatsapp Number</label>
                  <div class="supWhCont" *ngFor="let t of a.supplierDetails.supplierWhatsappNo">
                    <input type="string" class="form-control" value="{{ t.whatsappNo }}" readonly />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Email</label>
                  <div class="supEmail" *ngFor="let t of a.supplierDetails.supplierEmail">
                    <input type="string" class="form-control" value="{{ t.email }}" readonly />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Website</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.supplierWebsite }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>GST</label>
                  <input type="string" class="form-control" value="{{ a.supplierDetails.gstNo }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Dealing Categories</label>
                  <div class="delCat" *ngFor="let b of a.supplierDetails.dealCategory">
                    <input type="string" class="form-control" value="{{ b.subsubcategorytypename }}" readonly />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Dealing Products</label>
                  <div class="delProd" *ngFor="let b of a.supplierDetails.dealingProducts">
                    <input type="string" class="form-control" value="{{ b }}" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Contact Person Details -->
          <div class="col-lg-12">
            <h4 class="text-white-50 bg-dark px-3">Contact Person Details</h4>
          </div>
          <div class="row" *ngFor="let a of supplierData; let i = index">
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Contact Person</label>
                <input type="string" class="form-control" value="{{ a.contactPersonDetails.contactPersonName }}"
                  readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Designation</label>
                <input type="string" class="form-control" value="{{ a.contactPersonDetails.contactPersonDesignation }}"
                  readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Contact Person Number</label>
                <div class="supCont" *ngFor="let t of a.contactPersonDetails.contactPersonNo">
                  <input type="string" class="form-control" value="{{ t.contactNo }}" readonly />
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Contact Person Email</label>
                <div class="supCont" *ngFor="let t of a.contactPersonDetails.contactPersonEmail">
                  <input type="string" class="form-control" value="{{ t.email }}" readonly />
                </div>
              </div>
            </div>
          </div>
  
          <!-- Generate PO Details -->
          <div class="col-lg-12">
            <h4 class="text-white-50 bg-dark px-3">Generate PO Details</h4>
          </div>
  
          <div class="row">
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Returned Items</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Returned %</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Refund Amount</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Total Transaction Amount</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Total Discount Amt.</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Total Free items Amt.</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Total On time Deliveries</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="grid_bg">
                <label>Total Delayed Deliveries</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
          </div>
  
  
          <div class="row">
            <div class="form-group col-md-6">
              <div class="grid_bg">
                <label>Total Purchase Orders</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="grid_bg">
                <label>Total GR orders</label>
                <input type="string" class="form-control" readonly />
              </div>
            </div>
          </div>
  
          <div class="row form-group col-md-12">
            <div class="form-group col-md-12">
              <div class="grid_bg ">
                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        PO & GR Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container class="mt-5 mb-5" style="border: 2px solid black;" *ngFor="let p of supplierPODetails">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <div class="grid_bg">
                            <label>PO No.</label>
                            <input type="string" class="form-control" readonly value="{{p.purchaseorderId}}" />
                          </div>
                        </div>
                        <div class="form-group col-md-3">
                          <div class="grid_bg">
                            <label>Date</label>
                            <input type="string" class="form-control" readonly value="{{p.createdAt}}" />
                          </div>
                        </div>
                        <div class="form-group col-md-3">
                          <div class="grid_bg">
                            <label>GR Nos</label>
                            <input type="string" class="form-control" readonly />
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <table class="table table-bordered" style="margin: 1rem 0;">
                          <thead>
                            <tr>
                              <th scope="col">Items Ordered</th>
                              <th scope="col">Order Qty</th>
                              <th scope="col">Price / Unit</th>
                              <th scope="col">Free Items Qty</th>
                              <th scope="col">Estimated Delivery date</th>
                              <th scope="col">Goods Received Date</th>
                              <th scope="col">Tax</th>
                              <th scope="col">Discount</th>
                              <th scope="col">Total Price</th>
                              <th scope="col">Status</th>
                              <th scope="col">Reason</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let t of p.product; let i = index">
                            <tr>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.materialName}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.orderQty}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.priceUnit}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.estimateddeliverytime}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.tax}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.totalpurchasepriceondiscount}}
                                    readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.totalpurchaseprice}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" readonly>
                                </div>
                              </td>
  
                            </tr>
                          </tbody>
                        </table>
                      </div>
  
                      <!-- If free items are received with this PO -->
                      <div class="row" *ngIf="p.freeitem.freeitems.length !==0">
                        <table class="table table-bordered" style="margin: 1rem 0;">
                          <thead>
                            <tr>
                              <th scope="col">Free Item Name</th>
                              <th scope="col">Material Name</th>
                              <th scope="col">Free Item Qty</th>
                              <th scope="col">Unit</th>
                              <th scope="col">Price</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let t of p.freeitem.freeitems; let i = index">
                            <tr>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.productname}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.materialname}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.unit}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.quantity}} readonly>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="input" class="form-control" value={{t.price}} readonly>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
  
                    </ng-container>
  
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
  
        </div>
      </form>
    </div>
  
    <div *ngIf="!editable">
      <form>
        <div class="row">
          <!-- Supplier Details -->
          <div class="col-lg-12">
            <h4 class="text-white-50 bg-dark px-3">Supplier Details</h4>
          </div>
  
          <div class="col-lg-12" *ngFor="let a of supplierData; let i = index">
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Id</label>
                  <input type="string" class="form-control" value="{{ a.supplierId }}" readonly />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Name</label>
                  <input type="string" class="form-control" id="supplierName"
                    (keyup)="editSupplierName($event.target.value)" value="{{ a.supplierDetails.supplierName }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>State</label>
                  <input type="string" class="form-control" id="state" (keyup)="editSupplierState($event.target.value)"
                    value="{{ a.supplierDetails.state }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>City</label>
                  <input type="string" class="form-control" id="city" (keyup)="editSupplierCity($event.target.value)"
                    value="{{ a.supplierDetails.city }}" />
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Address</label>
                  <input type="string" class="form-control" id="line1" (keyup)="editSupplierAddress1($event.target.value)"
                    value="{{ a.supplierDetails.address.line1 }}" />
                  <input type="string" class="form-control" id="line2" (keyup)="editSupplierAddress2($event.target.value)"
                    value="{{ a.supplierDetails.address.line2 }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Contact Number</label>
                  <div class="supCont" *ngFor="let t of a.supplierDetails.supplierContactNo; let i=index">
                    <input type="string" class="form-control" id="suppliercontact"
                      (keyup)="editSupplierContact($event.target.value, i)" value="{{ t.contactNo }}" />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Whatsapp Number</label>
                  <div class="supWhCont" *ngFor="let t of a.supplierDetails.supplierWhatsappNo; let i=index">
                    <input type="string" class="form-control" id="supplierwhatsappcontact"
                      (keyup)="editSupplierWhatsappContact($event.target.value, i)" value="{{ t.whatsappNo }}" />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Email</label>
                  <div class="supEmail" *ngFor="let t of a.supplierDetails.supplierEmail">
                    <input type="string" class="form-control" id="supplieremail"
                      (keyup)="editSupplierEmail($event.target.value, i)" value="{{ t.email }}" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Supplier Website</label>
                  <input type="string" class="form-control" id="supplierwebsite"
                    (keyup)="editSupplierWebsite($event.target.value, i)"
                    value="{{ a.supplierDetails.supplierWebsite }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>GST</label>
                  <input type="string" class="form-control" id="gst" (keyup)="editGST($event.target.value)"
                    value="{{ a.supplierDetails.gstNo }}" />
                </div>
              </div>
  
              <!-- Dealing Categories -->
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Dealing Categories</label>
                  <div class="delCat d-flex justify-content-between align-items-center ml-1" *ngFor="let b of a.supplierDetails.dealCategory; let i=index">
                    <input type="string" class="form-control" value="{{ b.subsubcategorytypename }}" />
                    <i class="fa fa-trash" aria-hidden="true" (click)="removeCategory(i)" style="cursor: pointer;"></i>
                  </div>
                  <div class="d-inline-block mt-3" ngbDropdown #myDrop="ngbDropdown">
                    <button class="btn btn-primary" id="dropdownManual" ngbDropdownToggle>Select
                      Material</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                      <button class="dropdown-item" (click)="BevragesCategory()">Beverages</button>
                      <button class="dropdown-item" (click)="InventoryCategory()">Food Inventory</button>
                      <button class="dropdown-item" (click)="LiqourCategory()">Liqour</button>
                      <button class="dropdown-item" (click)="retailCategory()">Retail Food</button>
                    </div>
  
                    <div class="col-lg-12 mt-5">
                      <div class="col-lg-12" id="beverages">
                        <div class="form-group">
                          <ul *ngIf="showBevCategories" id="myUL">
                            <li *ngFor="let root of BeverageCategory"><span class="caret"
                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                              <ul class="nested">
                                <li *ngFor="let sub of root.subCategories"><span class="caret" (click)="caretClick()">
                                    {{sub.subCategoryName}}</span>
                                  <ul class="nested">
                                    <li *ngFor="let subSub of sub.subSubCategories">
                                      <span class="caret" (click)="caretClick()">
                                        {{subSub.subSubCategoryName}}</span>
                                      <ul class="nested">
                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                          <input type="checkbox" name="child" *ngIf="child !== matName"
                                            (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                            [checked]="false">
                                          <input type="checkbox" name="bevName" *ngIf="child == matName"
                                            (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                          {{child.subSubCategoryTypeName}}
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-12" id="foodCategory">
                        <div class="form-group">
                          <ul *ngIf="showIntCategories" id="myUL">
                            <li *ngFor="let root of InventoryFoodCategory"><span class="caret"
                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                              <ul class="nested">
                                <li *ngFor="let sub of root.subCategories"><span class="caret" (click)="caretClick()">
                                    {{sub.subCategoryName}}</span>
                                  <ul class="nested">
                                    <li *ngFor="let subSub of sub.subSubCategories">
                                      <span class="caret" (click)="caretClick()">
                                        {{subSub.subSubCategoryName}}</span>
                                      <ul class="nested">
                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                          <input type="checkbox" name="child" *ngIf="child !== matName"
                                            (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                            [checked]="false">
                                          <input type="checkbox" name="inName" *ngIf="child == matName"
                                            (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                          {{child.subSubCategoryTypeName}}
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-12" id="liqour">
                        <div class="form-group">
                          <ul *ngIf="showLiqCategories" id="myUL">
                            <li *ngFor="let root of LiquorCategory"><span class="caret"
                                (click)="caretClick()">{{root.rootDrinkType}}</span>
                              <ul class="nested">
                                <li *ngFor="let sub of root.liquorVarients"><span class="caret" (click)="caretClick()">
                                    {{sub.liquorVarientName}}</span>
                                  <ul class="nested" *ngIf="sub.liquorSubVarients.length > 0">
                                    <li *ngFor="let subSub of sub.liquorSubVarients"><span class="caret"
                                        (click)="caretClick()">
                                        {{subSub.liquorSubVarientName}}</span>
                                      <ul class="nested">
                                        <li *ngFor="let child of subSub.liquorSubSubVarientType">
                                          <input type="checkbox" name="child" *ngIf="child !== matName"
                                            (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                            [checked]="false">
                                          <input type="radio" name="liName" *ngIf="child == matName"
                                            (change)="selectedProChild(child.liquorSubSubVarientTypeName)"
                                            [checked]="true">
                                          {{child.liquorSubSubVarientTypeName}}
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-12" id="retail">
                        <div class="form-group">
                          <ul *ngIf="showRetCategories" id="myUL">
                            <li *ngFor="let root of retailFoodCategory"><span class="caret"
                                (click)="caretClick()">{{root.rootCategoryName}}</span>
                              <ul class="nested">
                                <li *ngFor="let sub of root.subCategories"><span class="caret" (click)="caretClick()">
                                    {{sub.subCategoryName}}</span>
                                  <ul class="nested">
                                    <li *ngFor="let subSub of sub.subSubCategories">
                                      <span class="caret" (click)="caretClick()">
                                        {{subSub.subSubCategoryName}}</span>
                                      <ul class="nested">
                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                          <input type="checkbox" name="child" *ngIf="child !== matName"
                                            (change)="selectedChild($event.target.checked,root._id,sub._id,subSub._id,child.subSubCategoryTypeName)"
                                            [checked]="false">
                                          <input type="checkbox" name="inName" *ngIf="child == matName"
                                            (change)="selectedProChild(child.subSubCategoryTypeName)" [checked]="true">
                                          {{child.subSubCategoryTypeName}}
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <!-- Dealing Products -->
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Dealing Products</label>
                  <div class="delProd d-flex justify-content-between align-items-center ml-1 mb-2" *ngFor="let b of a.supplierDetails.dealingProducts, let i=index">
                    <input type="string" class="form-control" value="{{ b }}" />
                    <i class="fa fa-trash" aria-hidden="true" (click)="removeProduct(i)" style="cursor: pointer;"></i>
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label>Dealing Products</mat-label>
                    <!-- <mat-select placeholder="Dealing Products" multiple
                      (change)="selectedProduct($event.value)">
                      <mat-option *ngFor="let product of productArr" [value]="product.productName">
                        {{product.productName}}
                      </mat-option>
                    </mat-select> -->
                    <!-- <mat-select placeholder="Dealing Products" [(ngModel)]="product.productName" name="action" (selectionChange)="selectedProduct($event.value)">
                    <mat-option *ngFor="let product of productArr" [value]="product.productName">
                      {{product.productName}}
                    </mat-option>
                  </mat-select> -->
                    <mat-select placeholder="Dealing Products">
  
                      <mat-option *ngFor="let product of productArr; let i =index" [value]="product.productName">
  
                        <mat-checkbox [checked]="selected === i"
                          (change)="selectedProduct(product.productName, $event.checked);selected = i"> {{product.productName}}
                        </mat-checkbox>
              
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
  
            <!-- Contact Person Details -->
            <div class="col-lg-12">
              <h4 class="text-white-50 bg-dark px-3">Contact Person Details</h4>
            </div>
            <div class="row" *ngFor="let a of supplierData; let i = index">
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Contact Person</label>
                  <input type="string" class="form-control" id="contactpersonname"
                    (keyup)="editContactPersonName($event.target.value)"
                    value="{{ a.contactPersonDetails.contactPersonName }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Designation</label>
                  <input type="string" class="form-control" id="contactpersondesignation"
                    (keyup)="editContactPersonDesignation($event.target.value)"
                    value="{{ a.contactPersonDetails.contactPersonDesignation }}" />
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Contact Person Number</label>
                  <div class="supCont" *ngFor="let t of a.contactPersonDetails.contactPersonNo; let i of index">
                    <input type="string" class="form-control" id="contactpersonnumber"
                      (keyup)="editContactPersonNumber($event.target.value, t._id)" value="{{ t.contactNo }}" />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="grid_bg">
                  <label>Contact Person Email</label>
                  <div class="supCont" *ngFor="let t of a.contactPersonDetails.contactPersonEmail; let i of index">
                    <input type="string" class="form-control" id="contactpersonemail"
                      (keyup)="editContactPersonEmail($event.target.value, t._id)" value="{{ t.email }}" />
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-primary" mat-stroked-button (click)="saveSupplier()"
              aria-label="Show an example snack-bar">
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  
  </kt-notice>