<kt-notice>
    Cash Management / Add Cash
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/cash-management">Back</button>
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-8" style="margin: auto;">
                    <kt-notice>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Amount</label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Category</label>
                                    <span class="float-right"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Refund from vendor</span>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Merchant's Wallet</option>
                                        <option>2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Note Reason</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Current Balance</label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary">Add Cash</button>
                                </div>
                            </div>
                        </div>
                    </kt-notice>
                </div>
            </div>
        </div>
        <!-- @@@@@@@@@@@@@@@@ Settle Right side grid start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <div class="col-lg-5">
            <h6>Select From Yesterday</h6>
            <h4>12000 /-</h4>
            <div class="row">
                <div class="col-lg-12" style="display: flex;">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="1200">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select Reason</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <h6>Cash To Be Received</h6>
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1200</td>
                                <td>GR0001</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Receive Cash</button>

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</kt-notice>