<kt-notice>
    Add Material
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/live-inventory">Back</button>
</kt-notice>

<div class="row">
    <div class="col-xl-12">
        <kt-notice>
            <form *ngIf="isAddMaterial" [formGroup]="addMaterialForm">
                <div class="row">


                    <div class="col-lg-6">

                        <div class="form-group">


                            <label for="typeahead-basic">Material Name</label>
                            <input id="typeahead-basic" type="text" class="form-control" formControlName="materialname"
                                [(ngModel)]="model" (change)="onSearch($event)" />
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">

                            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                                <button class="btn btn-primary" id="dropdownManual" ngbDropdownToggle>Select
                                    Category</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                    <button class="dropdown-item" (click)="BevragesCategory()">Beverages</button>
                                    <button class="dropdown-item" (click)="InventoryCategory()">Food Inventory</button>
                                    <button class="dropdown-item" (click)="LiqourCategory()">Liqour</button>
                                    <button class="dropdown-item" (click)="retailCategory()">Retail Food</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                    <div class="col-lg-6" id="beverages">
                        <div class="form-group">
                            <ul *ngIf="showBevCategories" id="myUL">

                                <li *ngFor="let root of BeverageCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories"><input type="radio"
                                                        name="child" *ngIf="subSub.subSubCategoryName !== itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="false">
                                                    <input type="radio" name="child"
                                                        *ngIf="subSub.subSubCategoryName == itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="true">
                                                    {{subSub.subSubCategoryName}}

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="foodCategory">

                        <div class="form-group">


                            <ul *ngIf="showIntCategories" id="myUL">

                                <li *ngFor="let root of InventoryFoodCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories">
                                                    <input type="radio" name="invName"
                                                        *ngIf="subSub.subSubCategoryName !== itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="false">
                                                    <input type="radio" name="invName"
                                                        *ngIf="subSub.subSubCategoryName == itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="true">
                                                    {{subSub.subSubCategoryName}}

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="liqour">

                        <div class="form-group">

                            <ul *ngIf="showLiqCategories" id="myUL">

                                <li *ngFor="let root of LiquorCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootDrinkType}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.liquorVarients"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.liquorVarientName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.liquorSubVarients"><input type="radio"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" name="liqName">
                                                    {{subSub.liquorSubVarientName}}

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="retail">

                        <div class="form-group">



                            <ul *ngIf="showRetCategories" id="myUL">

                                <li *ngFor="let root of retailFoodCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories">
                                                    <input type="radio" name="retName"
                                                        *ngIf="subSub.subSubCategoryName !== itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="false">
                                                    <input type="radio" name="retName"
                                                        *ngIf="subSub.subSubCategoryName == itemChk"
                                                        (click)="selectedChild($event,child,subSub._id, sub._id, root._id)" [checked]="true">
                                                    {{subSub.subSubCategoryName}}


                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Unit</label>
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="unit">
                                <option>gm</option>
                                <option>kg</option>
                                <option>litre</option>
                                <option>ml</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Available Stock</label>
                            <input type="char" class="form-control" placeholder="Available Stock"
                                formControlName="availablestock">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Threshold</label>
                            <input type="number" class="form-control" placeholder="Threshold"
                                formControlName="stockthreshhold">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary"
                            (click)="save_Material();ShowAddProduct();availableOutOfstock(a)">Save
                            Material</button>
                        <button type="button" class="btn btn-primary ml-2" (click)="back_to_page()">Cancel</button>
                    </div>
                </div>
            </form>



            <form *ngIf="isAddProduct" [formGroup]="addProductForm">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                                <button class="btn btn-primary" id="dropdownManual" ngbDropdownToggle>Select
                                    Material</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                    <button class="dropdown-item" (click)="BevragesCategory()">Beverages</button>
                                    <button class="dropdown-item" (click)="InventoryCategory()">Food Inventory</button>
                                    <button class="dropdown-item" (click)="LiqourCategory()">Liqour</button>
                                    <button class="dropdown-item" (click)="retailCategory()">Retail Food</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="beverages">

                        <div class="form-group">


                            <ul *ngIf="showBevCategories" id="myUL">

                                <li *ngFor="let root of BeverageCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories">
                                                    <span class="caret" (click)="caretClick()">

                                                        {{subSub.subSubCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                                            <input type="radio" name="child" *ngIf="child !== matName"
                                                                (change)="selectedChild($event,child)"
                                                                [checked]="false">
                                                            <input type="radio" name="bevName" *ngIf="child == matName"
                                                                (change)="selectedProChild(child)" [checked]="true">
                                                            {{child.subSubCategoryTypeName}}


                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="foodCategory">

                        <div class="form-group">


                            <ul *ngIf="showIntCategories" id="myUL">


                                <li *ngFor="let root of InventoryFoodCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories">
                                                    <span class="caret" (click)="caretClick()">

                                                        {{subSub.subSubCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                                            <input type="radio" name="child" *ngIf="child !== matName"
                                                                (change)="selectedChild($event,child)"
                                                                [checked]="false">
                                                            <input type="radio" name="inName" *ngIf="child == matName"
                                                                (change)="selectedProChild(child)" [checked]="true">
                                                            {{child.subSubCategoryTypeName}}


                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="liqour">

                        <div class="form-group">


                            <ul *ngIf="showLiqCategories" id="myUL">

                                <li *ngFor="let root of LiquorCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootDrinkType}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.liquorVarients"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.liquorVarientName}}</span>
                                            <ul class="nested" *ngIf="sub.liquorSubVarients.length > 0">
                                                <li *ngFor="let subSub of sub.liquorSubVarients"><span class="caret"
                                                        (click)="caretClick()">
                                                        {{subSub.liquorSubVarientName}}</span>
                                                    <!-- <ul class="nested"> -->
                                                        <!-- <li *ngFor="let subSubSub of subSub.liquorSubVarientName">
                                                            <span class="caret" (click)="caretClick()">

                                                                {{subSubSub.liquorSubVarients}}
                                                            </span> -->
                                                            <ul class="nested">
                                                                <li
                                                                    *ngFor="let child of subSub.liquorSubSubVarientType">
                                                                    <input type="radio" name="child"
                                                                        *ngIf="child !== matName"
                                                                        (change)="selectedChild($event,child)"
                                                                        [checked]="false">
                                                                    <input type="radio" name="liName"
                                                                        *ngIf="child == matName"
                                                                        (change)="selectedProChild(child)"
                                                                        [checked]="true">
                                                                    {{child.liquorSubSubVarientTypeName}}


                                                                </li>
                                                            </ul>
                                                        <!-- </li> -->
                                                    <!-- </ul> -->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>
                    <div class="col-lg-6" id="retail">

                        <div class="form-group">


                            <ul *ngIf="showRetCategories" id="myUL">

                                <li *ngFor="let root of retailFoodCategory"><span class="caret"
                                        (click)="caretClick()">{{root.rootCategoryName}}</span>

                                    <ul class="nested">
                                        <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                (click)="caretClick()">
                                                {{sub.subCategoryName}}</span>
                                            <ul class="nested">
                                                <li *ngFor="let subSub of sub.subSubCategories">
                                                    <span class="caret" (click)="caretClick()">

                                                        {{subSub.subSubCategoryName}}</span>
                                                    <ul class="nested">
                                                        <li *ngFor="let child of subSub.subSubCategoryType">
                                                            <input type="radio" name="child" *ngIf="child !== matName"
                                                                (change)="selectedChild($event,child)"
                                                                [checked]="false">
                                                            <input type="radio" name="inName" *ngIf="child == matName"
                                                                (change)="selectedProChild(child)" [checked]="true">
                                                            {{child.subSubCategoryTypeName}}


                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>




                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Name</label>
                            <input type="char" class="form-control" placeholder="Name" formControlName="productName">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Brand</label>
                            <input type="char" class="form-control" placeholder="Brand" formControlName="productBrand">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="exampleInputEmail1">Available Qtys</label>
                        <div formArrayName="availableQtys" *ngFor="let a of quantityForm.controls;let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-lg-12" style="display: flex;">
                                    <div class="form-group" style="display: flex">
                                        <input type="number" class="form-control" placeholder="Qty."
                                            formControlName="quantity">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            formControlName="unit" style="margin-left: 10px;">
                                            <option disabled>Unit</option>
                                            <option>gm</option>
                                            <option>kg</option>
                                            <option>litre</option>
                                            <option>ml</option>
        
                                        </select>
                                        <i class="fa fa-plus add-button" aria-hidden="true"
                                        (click)="addQuantity()"></i>            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-6">
                        <div class="form-group ml-2" style="flex: 1; display: flex;">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Unit</label>
                                <select class="form-control" id="exampleFormControlSelect1"
                                    formControlName="unit">
                                    <option>gm</option>
                                    <option>kg</option>
                                    <option>litre</option>
                                    <option>ml</option>

                                </select>
                            </div>
                            <i class="fa fa-plus add-button" aria-hidden="true"
                            (click)="addQuantity()"></i>
                        </div>
                    </div> -->

                    <div class="col-lg-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" (click)="save_product();back_to_page()">Add
                                Product</button>
                            <button type="button" class="btn btn-primary ml-2" (click)="back_to_page()">Skip</button>
                        </div>
                    </div>
                </div>


            </form>




        </kt-notice>
    </div>
</div>