table{
  width: 100%;
}
mat-form-field{
  width: 100%;
}

.tree{
  border:1px solid black;
}

.capitalize{
  text-transform: capitalize;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
 
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
mat-accordion{
  width: 100%;
}
.add-button{
flex: 1; 
margin-left: 10px; 
display: flex; 
align-items: center;
}