<kt-notice>
    Cash Management / Add Expenses
    <button type="button" class="btn btn-primary float-right" routerLink="/ngbootstrap/cash-management">Back</button>
</kt-notice>


<kt-notice>
    <div class="row">
        <div class="col-lg-7">
            <mat-tab-group>
                <mat-tab label="Restaurant Tech.">
                    <form [formGroup]="addRestoTechForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter Amount</label>
                                <input type="email" class="form-control" formControlName="amount">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Purpose</label>
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="purpose">
                                    <option>POS -> ABC -> XYZ</option>
                                </select>
                            </div>
                        </div>
                    </div>
               
                        <div class="col-lg-6">
                            <div class="form-group">
                             
                                   
                                <ul id="myUL">
    
                                    <li *ngFor="let root of BeverageCategory"><span class="caret"
                                            (click)="caretClick()">{{root.rootCategoryName}}</span>
    
                                        <ul class="nested">
                                            <li *ngFor="let sub of root.subCategories"><span class="caret"
                                                    (click)="caretClick()">
                                                    {{sub.subCategoryName}}</span>
                                                <ul class="nested">
                                                    <li *ngFor="let subSub of sub.subSubCategories"> <input type="checkbox"
                                                            (click)="selectedChild($event,child)">
                                                            {{subSub.subSubCategoryName}}
                                                      
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
    
                                </ul>
    
    
                           
    
                            </div>
                        </div>
                  
                        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" (click)="Save_RestoTech()">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ Start tab Maintenance @@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                <mat-tab label="Maintenance">
                    <div class="row">
                        <div class="col-lg-12">
                            <kt-notice>
                                <form [formGroup]="maintenanceForm">
                                <h5>Maintenance</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Equipments</label>
                                            <span class="float-right"><i class="fa fa-plus"
                                                    aria-hidden="true" (click)="route_to_AddEquipments()"></i>&nbsp;Add New</span>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="equipments">
                                                <option>Air Conditioner</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                   
                                            <label for="exampleFormControlSelect1">Recurring</label>
                                            <mat-radio-group aria-label="Select an option" formControlName="recurring">
                                                <mat-radio-button value="yes" (click)="Amount_Paid()" [checked]>Yes</mat-radio-button>
                                                <mat-radio-button value="no" (click)="Amount_Paid()">No</mat-radio-button>
                                              </mat-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Maintenance Period</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="maintanence_period">
                                                <option>2 Days</option>
                                                <option>3 Days</option>
                                                <option>4 Days</option>
                                                <option>5 Days</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div *ngIf="isShowAmtToPaid" class="form-group">
                                            <label for="exampleFormControlSelect1">Amount To be Paid</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="amount_toBe_paid">
                                                <option>Every 15 Days</option>
                                                <option>Every 20 Days</option>
                                            </select>
                                        </div>
                                        <div *ngIf="isShowAmt" class="form-group">
                                            <label for="exampleFormControlSelect1">Amount</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="amount">
                                                <option>Every 15 Days</option>
                                                <option>Every 20 Days</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <mat-label>Maintenance Start Date</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="maintanence_StartDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div *ngIf="isPayMethod" class="form-group">
                                            <label for="exampleFormControlSelect1">Payment Method</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="payment_method">
                                                <option>Online</option>
                                                <option>Cash</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" (click)="Save_Maintanance()">Add Expenses</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </kt-notice>
                        </div>
                    </div>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ Start tab Pay The Vendor @@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                <mat-tab label="Pay The Vendor">
                    <form [formGroup]="addVendorForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select The Vendor</label>
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="select_vendor">
                                    <option>Kisan Sitaram and brothers kanchi bhandu</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a routerLink="/ngbootstrap/vendor-payment-details">
                                        <h6 class="card-subtitle mb-2 text-muted">GR / PO nc</h6>
                                        <h5 class="card-title">AACC221</h5>
                                    </a>
                                    <hr>
                                    <h6 class="card-subtitle mb-2 text-muted">Items</h6>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <a href="#" class="card-link">8 More..</a>
                                    <hr>
                                    <p class="card-text">
                                        <span>Total</span>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>
                                            &nbsp;&#8377;1500.00</label>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-primary float-right">Make
                                                Payment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a routerLink="/ngbootstrap/vendor-payment-details">
                                        <h6 class="card-subtitle mb-2 text-muted">GR / PO nc</h6>
                                        <h5 class="card-title">AACC221</h5>
                                    </a>
                                    <hr>
                                    <h6 class="card-subtitle mb-2 text-muted">Items</h6>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <a href="#" class="card-link">8 More..</a>
                                    <hr>
                                    <p class="card-text">
                                        <span>Total</span>
                                        <label class="float-right">&nbsp;&#8377;1500.00</label>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-primary float-right">Make
                                                Payment</button>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                            <p class="card-text">
                                                <label>1500.00</label>
                                                <button type="button" class="btn btn-primary float-right">Pay</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a routerLink="/ngbootstrap/vendor-payment-details">
                                        <h6 class="card-subtitle mb-2 text-muted">GR / PO nc</h6>
                                        <h5 class="card-title">AACC221</h5>
                                    </a>
                                    <hr>
                                    <h6 class="card-subtitle mb-2 text-muted">Items</h6>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <a href="#" class="card-link">8 More..</a>
                                    <hr>
                                    <p class="card-text">
                                        <span>Total</span>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>
                                            &nbsp;&#8377;1500.00</label>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-primary float-right">Make
                                                Payment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a routerLink="/ngbootstrap/vendor-payment-details">
                                        <h6 class="card-subtitle mb-2 text-muted">GR / PO nc</h6>
                                        <h5 class="card-title">AACC221</h5>
                                    </a>
                                    <hr>
                                    <h6 class="card-subtitle mb-2 text-muted">Items</h6>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <p class="card-text">
                                        <label>Dry Fruits</label>
                                        <label class="float-right"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;5
                                            ltr</label>
                                    </p>
                                    <a href="#" class="card-link">8 More..</a>
                                    <hr>
                                    <p class="card-text">
                                        <span>Total</span>
                                        <label class="float-right">&nbsp;&#8377;1500.00</label>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="btn btn-primary float-right">Make
                                                Payment</button>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                            <p class="card-text">
                                                <label>1500.00</label>
                                                <button type="button" class="btn btn-primary float-right">Pay</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ Start tab Rent @@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                <mat-tab label="Rent">
                    <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <kt-notice>
                                <h5>Rent</h5>
                                <form [formGroup]="addRentForm">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Date of Rent</label>
                                            <input type="date" class="form-control" formControlName="rent_date">
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Rent Amount</label>
                                            <input type="number" class="form-control" formControlName="rent_amount">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Payment Date Of Every Month</label>
                                            <input type="char" class="form-control" formControlName="paymentDate_everyMonth">
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Agreement Period Start From</label>
                                            <input type="date" class="form-control" formControlName="agreeStart_Date">
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Number Of Months</label>
                                            <input type="number" class="form-control" formControlName="numberOf_Months">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Payment Method</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="payment_method">
                                                <option>Online</option>
                                                <option>Cash</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" (click)="Save_Rent()">Save</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </kt-notice>
                        </div>
                    </div>
                    </form>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ Start tab Bye From a Store @@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                <mat-tab label="Buy From a Store">
                    <form [formGroup]="buyFromStoreForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <kt-notice>
                                <h5>Bye From a Store</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Material</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="material_name">
                                                <option>Tax & Search</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Unit</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="unit">
                                                <option>Single Selection</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Quantity</label>
                                            <input type="number" class="form-control" formControlName="quantity">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Total Price</label>
                                            <input type="number" class="form-control" formControlName="total_price">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" (click)="Save_BuyItem()">Add Item</button>
                                        </div>
                                    </div>
                                </div>
                            </kt-notice>
                        </div>
                    </div>
                </form>
                </mat-tab>
                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ Start tab Utility @@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                <mat-tab label="Utility">
                    <form [formGroup]="addUtilityForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <kt-notice>
                                <h5>Utility</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Select utility</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="select_utility">
                                                <option>Electricity</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Amount to Be Paid</label>
                                            <input type="number" class="form-control" formControlName="amount_tobe_paid">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Payment date Of Every Month</label>
                                            <input type="number" class="form-control" formControlName="pay_ofMonth">
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                   
                                            <label for="exampleFormControlSelect1">Recurring</label>
                                            <mat-radio-group aria-label="Select an option" formControlName="recurring">
                                                <mat-radio-button value="yes" (click)="Amount_Paid()" [checked]>Yes</mat-radio-button>
                                                <mat-radio-button value="no" (click)="Amount_Paid()">No</mat-radio-button>
                                              </mat-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Payment method</label>
                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="payment_method">
                                                <option>Online</option>
                                                <option>Cash</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" (click)="Save_Utility()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </kt-notice>
                        </div>
                    </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- @@@@@@@@@@@@@@@@ Settle Right side grid start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
        <div class="col-lg-5">
            <h6>Select From Yesterday</h6>
            <h4>12000 /-</h4>
            <div class="row">
                <div class="col-lg-12" style="display: flex;">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="1200">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select Reason</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <h6>Cash To Be Received</h6>
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1200</td>
                                <td>GR0001</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Receive Cash</button>

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</kt-notice>