<kt-notice>
    Bulk Order
</kt-notice>

<kt-notice>
    <div class="row">
        <div class="col-lg-12" style="display: flex;">
            <div style="flex: 4;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                </mat-form-field>
            </div>
            <div style="flex: 1;" class="ml-2">
                <button type="button" class="btn btn-primary"  routerLink="/ngbootstrap/add-bulk-order">Add recepie</button>
            </div>
        </div>
        <div class="col-lg-12">


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                <!-- Position Column -->
                <ng-container matColumnDef="BulkOrderNO">
                    <th mat-header-cell *matHeaderCellDef> Bulk Order Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.BulkOrderNO}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="CustomerName">
                    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.CustomerName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="ContactNumber">
                    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.ContactNumber}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="DateOfRegestraion">
                    <th mat-header-cell *matHeaderCellDef> Date Of Regestraion</th>
                    <td mat-cell *matCellDef="let element"> {{element.DateOfRegestraion}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="DateOfExecution">
                    <th mat-header-cell *matHeaderCellDef>Date Of Execution </th>
                    <td mat-cell *matCellDef="let element"> {{element.DateOfExecution}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="TypeOfOrder">
                    <th mat-header-cell *matHeaderCellDef> Type Of Order </th>
                    <td mat-cell *matCellDef="let element"> {{element.TypeOfOrder}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="TotalAmount">
                    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.TotalAmount}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Advance">
                    <th mat-header-cell *matHeaderCellDef> Advance </th>
                    <td mat-cell *matCellDef="let element"> {{element.Advance}} </td>
                </ng-container>


                <!-- Weight Column -->
                <ng-container matColumnDef="AdvanceAmount">
                    <th mat-header-cell *matHeaderCellDef> Advance Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.AdvanceAmount}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="TotalBill">
                    <th mat-header-cell *matHeaderCellDef> Total Bill </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" class="btn btn-primary">Settle</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</kt-notice>